[2016-08-05 12:17] LeoHere commented on #22
Current support for ```TabbedPage``` is limited. Examples like the on on top should render correctly. Usage of the icon property will result in an error.

Usage of ```NavigationPages``` is not currently supported.

[2016-08-05 12:51] LeoHere commented on #146
Cool, thanks!

BTW, in the meantime, you should be able to do it yourself, just add this to the player project and deploy it to your devices.

[2016-08-06 12:46] EmilAlipiev commented on #131
if you seeing that gorilla is keep blinking saying "trying to connect gorilla on xxx pc". whatever you do, make sure that your app is installed on your device. I cant believe this is just not stated in their documentation. In order gorilla to run, App must be installed on device (not sure for emulator)

[2016-08-06 12:51] EmilAlipiev opened #147 "App must be installed first in order to Gorilla to have connection between VS and the device!"
If anyone is experiencing connection problem with gorilla server to device (I use real device, not emulator), make sure that app is installed on your device. If app is not installed, Gorilla will keep blinking saying "trying to connect gorilla on xxx pc". This is not documented properly on Gorilla's guide. Please add this into your documentation as well, it can be very frustrating for the user.

[2016-08-06 12:55] jpbrocca commented on #147
Hi @EmilAlipiev,
thanks for your suggestion.

You are absolutely right, we need to improve our documentation and we are actually working on that so please if you find anything else that you would like to suggest us that would be very much appreciated!

Best,
JP

[2016-08-06 21:36] ads90 opened #148 "can't see image button"
in your example and samples in SampleData i tried to change the image property to button and set the image to the source but can't see the images shown in gorilla player but i can see it in other emulator

<Button Image="{Binding Photo}" HorizontalOptions="Center" Grid.Column="3"/>

[2016-08-06 21:45] BlueRaja opened #149 ""Error occurred while setting Gorilla Target..." in folder with special characters"
I get the above error when I try to use Gorilla Player with my project.  The error in the logs is

[code]

The actual path of my project is `C:\Projects\C#\Kanji App`.  Based on the error, I assume the issue is the `#` in the path.

OS is Windows 7, app is an Android app.

[2016-08-07 08:01] mrdfortefour commented on #146
Hi Leo, thanks for the tip! I've added the code to prevent standby but when I run the custom build it does not seem to detect my screen correctly. It runs as a smaller iPhone4-style application in the middle of my larger iPhone6 screen. Unfortunately, not much use for my purpose!

Had a dig around in the Xamarin settings for the Gorilla project to see if there was something different but nothing o

[2016-08-07 17:34] BlueRaja opened #150 "Is it possible to use mock ("sample") data with IGrouping<T>?"
I have a control bound to an `IList<IGrouping<string, MyClass>>`.  Is it possible to mock this (ie. use `SampleData.js`)?

The control looks like this:

[code]

and `MyClass` is a custom class that has a property named `Name`.

I tried something like this:
[code]
but with no luck.

[2016-08-07 22:48] LeoHere commented on #150
Yes it is. I have just added a wiki entry with the details [here](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Sample-Data-&-ListView.IsGroupingEnabled).

Please,  review the document. If allow to do what you need, please close the issue.

[2016-08-07 22:49] LeoHere commented on #149
Thanks for reporting this. We will fix this ASAP.

[2016-08-07 22:52] LeoHere commented on #137
Hi @johankson. I have just added a document explaining how to do this [here](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Sample-Data-&-ListView.IsGroupingEnabled). If you were able to preview your grouped ```ListView``` please close the issue.

[2016-08-07 23:32] BlueRaja commented on #150
Thanks!  But I think a better place for that is in the existing documentation [here](http://docs.gorillaplayer.com/how-to/working-with-sample-data.html).  It doesn't make sense to split the documentation into multiple sites.

[2016-08-07 23:39] BlueRaja commented on #150
Er, I just tried it, it doesn't seem to be working.  In fact the two prerequisites do not seem to be possible:

There is no property, it's just the `BindingSource` itself.

The standard [`IGrouping<K,T>`](https://msdn.microsoft.com/en-us/library/bb344977(v=vs.110).aspx) interface _(returned by, for example, LINQ's `GroupBy()` method)_ does not have an `Items` property.

[2016-08-08 07:07] keerthanabala commented on #20
Hai,

I am now only started working in gorilla player. Simple xaml designs are previewed. But, Next I started in working with setting a circle image on renderer using  https://github.com/UXDivers/Gorilla-Player-Support/wiki/Gorilla-SDK

but on this line "LoadApplication (UXDivers.Gorilla.Droid.Player.CreateApplication(ApplicationContext,   new UXDivers.Gorilla.Config("Good Gorilla").RegisterAssemb

[2016-08-08 09:27] LeoHere commented on #20
The sample used in the document shows how to render the ```CircleImage``` control provided in [Grial UI Kit](http://www.grialkit.com). It is just a sample to illustrate how it works. In order for that code to actually compile in your solution you need to have Grial included in your solution.

Open the XLabs Sample to se another example of this code in action.

Hope it helps.

[2016-08-08 09:47] LeoHere commented on #20
This is a pretty old issue, for those of you reading this please take a look at [this](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Gorilla-SDK) document for instructions on how to use Gorilla SDK.

I'm closing the issue.

@keerthanabala, if you have any other problema please open a new issue.

[2016-08-08 09:47] #20 closed

[2016-08-08 09:49] keerthanabala commented on #20
Thanks a lot Leo. For downloading a Grial UI kit in Website, it asking payment. Is it possible to download in open source?

[2016-08-08 09:55] LeoHere commented on #20
No. But as I said, you can check how the SDK is used with the XLabs sample.

[2016-08-08 11:52] james-lavery opened #151 "Xamarin Studio can't connect with Gorilla"
Xamarin Studio has started not being able to connect to Gorilla Player. It was working fine, but now I'm getting a message:

"Failed to connect. Error getting response stream (ReadDone2): ReceiveFailure"

This is with Xamarin Studio 6.0.2 and Gorilla Player 0.91.2.

As mentioned above - this was working fine.

[2016-08-08 14:42] mrdfortefour commented on #148
I have this issue too. At first I thought I was using the Image property incorrectly, but the images do show up when running the application for real. I think there is a bug with the gorilla iOS player here.

[2016-08-08 15:16] LeoHere commented on #151
did you try restarting gorilla?

[2016-08-10 08:06] james-lavery commented on #151
@LeoHere Hi Leo - yes I did, but it didn't work. However, a machine restart (and/or something else!) has now fixed the problem!

[2016-08-10 08:06] #151 closed

[2016-08-11 12:24] LeoHere commented on #148
This is actually a limitation of Gorilla <= 0.9.1.2. Next release will fix this and also include some additional image features like clear cache and display an error image when a image is not found.

[2016-08-11 12:25] LeoHere commented on #145
Next release will include a clear cache feature. It is not what you requested but it will make your life a bit easier...

[2016-08-11 12:26] LeoHere commented on #122
This is actually a limitation of Gorilla <= 0.9.1.2. Next release will fix this and also include some additional image features like clear cache and display an error image when a image is not found.

[2016-08-11 12:28] LeoHere commented on #59
This is actually a limitation of Gorilla <= 0.9.1.2. Next release will fix this and also include some additional image features like clear cache and display an error image when a image is not found.

[2016-08-11 18:25] mrdfortefour commented on #145
It'll do for now! cheers Leo

[2016-08-11 23:31] LeoHere commented on #143
This issue will be fixed for our next release. Next release will also include some additional image features like clear cache, display an error image when a image is not found, display image in buttons...

[2016-08-12 08:27] kitkat14 opened #152 "OSX Gorilla Player and Sample app not working"
Hi Guys,

I wanted to try your tool to get rid of the 1000 times you have to build to see what you are doing but I when i tried running the app on the simulator (9.3) i am getting this:
https://i.imgsafe.org/d87b0a1117.png

Android has also 100 errors...

FYI:
Using xamarin studio (on alpha channel) on Macbook OSX 10.11.4

[2016-08-12 12:36] LeoHere commented on #152
The image only shows Android errors. Are you having error is iOS too? Which ones?

Probably packages where not correctly restored and/or you might need to install/update Andorid SDK.

You can also download the player directly from the Apple Store/Google Play. But that is possible only on a real device.

[2016-08-12 12:46] kitkat14 commented on #152
Yeah probably  that was the problem. What i did to solve it:

Build -> Clean All.
Build -> Rebuild All.

Issue solved and got it working 👍

[2016-08-12 12:46] #152 closed

[2016-08-14 12:09] LeoHere commented on #146
Hi @rossdempster, that is weird. Are you still having this issue? Can you send an screenshot of what you are seeing?

BTW, we added your suggestion to Gorilla. You will have a setting to control this which by default will be preventing the device from sleeping.

It will be included in next version. Thanks!

[2016-08-16 13:52] james-lavery opened #153 "Cannot connect to Gorilla from physical Android device"
I'm using the Gorilla SDK in my app, and it's working fine on iOS and Android emulators.

It also works fine on an iPhone.

I'm having problems on an Android device - A  Samsung GT-19505.

It's not discovering Gorilla Player using Auto Discover, and using Manual Setup to enter 10.0.0.14:9014 (which is what my iPhone is connecting to), results in the message:

_Could not connect to the server (is i

[2016-08-16 16:30] LeoHere commented on #153
Hi James,

Couple of things to check:
* Do you have the INTERNET permission set in your Android app?
* Is the real devices connected to the same wifi as your desktop?
* If you download Gorilla from Google Play, can you connect to the server?

[2016-08-17 16:15] attrib75 commented on #120
I'm having the same issue.  Clean, rebuild successfully, no difference

[2016-08-17 16:40] willjstevens commented on #120
Did you put the register assembly code into our AppDelegate.cs? And comparable into MainActivity? Then do the clean/rebuild/etc.

[2016-08-17 17:06] attrib75 commented on #120
yes

[2016-08-17 17:26] attrib75 commented on #120
Sorry I put this under the wrong project, this is for Grial Kit

[2016-08-17 19:32] cassionandi commented on #143
Thank you @LeoHere

[2016-08-18 08:21] rossdempster commented on #146
Hi Leo that's great news - thanks! I'll get a screenshot for you as soon as I can. I'm not going to be able to do this for a few days though sorry.

[2016-08-18 15:08] matll42 commented on #74
Still not working in 0.9.1.2 (android) and 0.9.0.8 (iOS).
![gorillamarkupextension](https://cloud.githubusercontent.com/assets/1232923/17778874/e7e0d5b8-6565-11e6-85ad-cd0dc3a108f8.png)

With MarkupExtension from Xamarin Guides : https://developer.xamarin.com/guides/xamarin-forms/working-with/images/#Using_Xaml

Hope this will come soon, I can't use Gorilla Player anymore, since all images use thi

[2016-08-21 08:02] james-lavery commented on #153
The device wasn't on the same wireless - all working now thanks.

[2016-08-21 08:02] #153 closed

[2016-08-21 08:24] james-lavery opened #154 "Gorilla isn't picking up Xamarin Dark theme"
I've added the Dark theme to my app, and it's working fine in the app itself.

However, when I preview with Gorilla, it isn't picking up the Dark theme. There are no errors on the Gorilla screen, just no dark theme. Other styles from my App.xaml are being picked up. I'm using the Gorilla SDK.

Gorilla.json:

[code]

AppDelegate (snippet):

[code]
App.xaml:

[code]

[2016-08-22 09:31] johankson commented on #137
Hi!

Sorry for the delayed response. I get this error (see image) when I try to
add the * to the sample data.

Any hints?

Best regards

// Johan

​

2016-08-08 0:52 GMT+02:00 Leonardo Rodríguez <notifications@github.com>:

[2016-08-22 09:37] johankson commented on #137
Sorry about the last error. It was a typo in my sample data. It works as
expected. Closing the issue.

2016-08-22 11:31 GMT+02:00 Johan Karlsson <johan.kson@gmail.com>:

[2016-08-22 09:37] #137 closed

[2016-08-22 13:32] 0rupp commented on #41
1) Support cross platform images that use ImageResourceExtension (Official Xamarin Forms: Working with Images article)
2) The SampleData.json seems to work for .xaml files located in root folder only. I have my files in a subfolder, and can't figure out how to bind the data from the .json file to them. It seems to work fine moving the .xaml file down to the root folder, starting gorilla and moving

[2016-08-24 09:57] LeoHere commented on #41
Hi @0rupp,
Regarding your requests:
1) Ok, got it.
2) This should work in Gorilla as it is. I just updated [this](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Working-with-sample-data) wiki page with a more in deep example of how it works.
3) This scroll down issue (yes annoying) is fixed in the next version. We also added an option to avoid the device screen to go off. Gorilla should a

[2016-08-25 09:27] LeoHere commented on #146
@rossdempster I found these two links that might be related to the app being incorrectly scaled in the iphone 6, take a look.

http://conceptdev.blogspot.com.uy/2014/09/iphone-6-and-6-plus-launch-images-for.html

https://forums.xamarin.com/discussion/30071/xamarin-forms-1-3-1-page-rendering-odd-for-ios-devices-larger-than-a-4s

[2016-08-26 05:36] Subha-murali opened #155 "Not able to install plugin in Xamarin Studio"
When I try to install addin for Xamarin Studio, following error is shown:

_Oh snap! Gorilla Player Addin for Xamarin Studio installation failed :(_

How to fix it?

Using Following Xamarin Version

Xamarin Studio
Version 5.10.2 (build 56)
Runtime:
	Microsoft .NET 4.0.30319.34014
	GTK+ 2.24.23 (MS-Windows theme)
	GTK# 2.12.30

Xamarin.Profiler
Not Installed

Does this plugin works with free Visual

[2016-08-26 05:42] jpbrocca commented on #155
Hi @Subha-murali,

did you make sure you had Xamarin Studio closed before installing ?

Yes, Gorilla Player works with Visual Studio.

Regard,
JP

[2016-08-26 06:14] Subha-murali commented on #155
@jpbrocca ,

Yes Xamarin Studio was closed only. As soon as I click Install Now button, its immediately throwing error.

[2016-08-26 06:35] jpbrocca commented on #155
@Subha-murali,

Did you also make sure you didn't have a previous version of Gorilla running while installing?

[2016-08-26 06:51] Subha-murali commented on #155
I have installed only one Gorilla Player

[2016-08-27 05:04] Subha-murali commented on #155
No reply???

[2016-08-27 10:18] LeoHere commented on #155
Probably you will need to upgrade XS at least to 5.10.3 or jump to XS 6.

In order to confirm that is the problem please install the addin manually within Xamarin Studio and let me know the error you get. Go to Tools->Addin Manager->Install from file... and choose the .mpack located "c:\Program Files (x86)\Gorilla Player\resources\Addins"

[2016-08-29 07:54] Subha-murali commented on #155
![gorillaplayererror](https://cloud.githubusercontent.com/assets/14836267/18044511/e1526138-6deb-11e6-8df4-c673a3d13c7e.png)

Please find attached file

[2016-08-29 08:51] LeoHere commented on #155
Ok, thanks! Yes, you will need to upgrade to 5.10.3 at least in order to install the addin or use visual studio community.

If you upgrade to XS 6, you will need to manually download/install the addin from [here](https://github.com/UXDivers/Gorilla-Player-Support/issues/118) (it is attached in the issue).

[2016-08-29 08:56] Subha-murali commented on #155
Thanks for the immediate response, my current Xamarin Studio version is 5.10.2. So I need to upgrade it to 5.10.3, any other updates required apart from Studio?

[2016-08-29 09:33] LeoHere commented on #155
I don't think so...

[2016-08-29 13:29] Subha-murali commented on #155
Still no success, I upgraded to Xamarin Studio 6.0.2 and downloaded UXDivers.Artina.Player.Addins.Gorilla.Player_0.9.1.2.mpack zip from above link. When I try to run that command, I am getting following error:

_'UXDivers.Artina.Player.Addins.Gorilla' is not recognized as an internal or exte
rnal command,
operable program or batch file._

[2016-08-29 13:36] Subha-murali commented on #155
Thank you, I successfully installed it, but getting following error while trying to connect.
![connecterror](https://cloud.githubusercontent.com/assets/14836267/18053117/8f9f3782-6e1b-11e6-8aa2-aa854a80844d.png)

[2016-08-30 06:43] Subha-murali commented on #155
Still I am not able to see preview in Gorilla Player, I have installed Gorilla in my physical device, it is running, but both auto and manual server not working. I tried by connecting IP address.

![aboutgorilla](https://cloud.githubusercontent.com/assets/14836267/18078794/0a03749a-6eab-11e6-8fff-9076c9cbf166.png)

Please help me to resolve my current issue also. I don't have any listening ip addr

[2016-08-30 06:47] jpbrocca commented on #155
Did you check this page?
https://github.com/UXDivers/Gorilla-Player-Support/wiki/Troubleshoouting-Connectivity

[2016-08-30 06:51] PantelisAr opened #156 "How to represent enum types in SampleData.json"
Is there a way to represent an enum type in the sampledata.json file?

[2016-08-30 06:52] jpbrocca commented on #156
Hi @PantelisAr, could you provide a more specific sample ?
Thanks!

[2016-08-30 08:56] PantelisAr commented on #156
I'm binding the IsVisible property of a VisualElement to an enum object in my ViewModel and returning a boolean value with a IValueConverter to the bound property. Is this actually supported with the SampleData.json design time data?

[2016-08-30 09:03] LeoHere commented on #156
No, currently it is not supported.

[2016-08-30 09:33] micuentadecasa opened #157 "Default constructor not found for type UXDivers.Gorilla.Platform.XamlLoader"
Hi, I'm using Xamaring Studio community, when I try to debug gorilla player in IOS I can't debug because I don't have XCode 7.3 , but I change in the solution properties the linker options to Link all and it starts to debug, but when it plays it it throw an exception:

Default constructor not found for type UXDivers.Gorilla.Platform.XamlLoader

in the line LoadApplication (Player.CreateApplication

[2016-08-30 10:34] Subha-murali commented on #155
I tested in real device its working fine, but in order to test in emulator, is there any way to install Gorilla Player in Emulator without using playstore?

[2016-08-30 10:37] PantelisAr commented on #156
May I add, if you ever implement this, take the Binding.ConverterParameter property into consideration too :)

[2016-08-30 10:51] LeoHere commented on #155
Yes, you can deploy it yourself.

Right click the Gorilla Icon in the tray and choose "Show Player and Samples Location". Open the player solution and deploy it to your emulator.

[2016-08-30 11:01] Subha-murali commented on #155
Getting following error while deploying player.sln

_Deployment failed. Assembly synchronization error._

[2016-08-30 11:23] LeoHere commented on #155
Did you tried clean/rebuild? I think you should restart XS before doing so. Usually, when you get this type of errors from Xamarin Studio the only way out is to reset everything. You even might need to remove packages and rerestore them...

[2016-08-30 12:32] Subha-murali commented on #155
Okay, now error and all I fixed it, but Gorilla player in my emulator not connecting with server. Same IP address working in real device.

[2016-08-30 13:25] Subha-murali commented on #155
Thanks for your support, it is working...

[2016-08-30 13:27] jpbrocca commented on #155
Great, I am closing this bug then.

[2016-08-30 13:27] #155 closed

[2016-09-02 14:43] rossdempster commented on #146
@LeoHere Thanks for the info. That was the issue! Will you be updating the base project your end? I guess there might some other people with this problem. Looking forward to the updated version.

[2016-09-02 14:43] #146 closed

[2016-09-02 17:58] 130990 commented on #85
Hi @LeoHere  I have the same problem I´ve XS 6.0.2 and I´m trying to install the new gorilla player and just gave me an error, I'm working with XS in PC

[2016-09-02 17:59] 130990 commented on #85
My email is victor.rojas98@gmail.com

[2016-09-04 10:15] LeoHere commented on #85
Victor, please install the addin attached in [this](https://github.com/UXDivers/Gorilla-Player-Support/issues/118) post. Let me know the result.

[2016-09-04 15:25] JamesPetras opened #158 "Prism support - again"
Hi guys,

I struggle to make Gorilla player to work with my application. I saw issues #50 and #114 but comments posted there didn't help me.

So I have Gorilla player v0.9.1.2 and and app with Prism 6.2. I've integrated SDK as per instructions but when ever I view a page I a get message: Resorce not found.

As per instructions I've updated Gorilla.json file and it looks like this:

[code]

Also In

[2016-09-05 12:06] LeoHere commented on #158
Is there any chance I can get access to the source code? It will be much easier. If it is possible write me to l r o d r i g u e z at u x d i v e r s . c o m.

[2016-09-05 12:19] JamesPetras commented on #158
Thanks Leo,

I've emailed you the source code

Thank you in advance

[2016-09-06 11:56] aamir-amwar commented on #141
Hi, I am also facing this problem. I have gorilla player 0.9.1.2 version install on my mac and 0.9.0.8 version of app install from app store on my iPhone. The gorilla player app discovered the server correctly and it also shows the server that is running on my mac. The problem is that when i select server from app and click "Connect" button...  Connect button immediately shows "Disconnect" title a

[2016-09-06 12:12] LeoHere commented on #158
I can confirm there is a bug causing this issue. It will be fixed in the next release.

[2016-09-06 12:21] LeoHere commented on #141
@aamir-amwar, can you send me the logs generated in your desktop machine? Take a look at [this](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Gorilla-Player-logs-location) document to find out where are the logs. I would need gorillaHost.log and gorillaPlayer.log. Please email me the logs to l r o d r i g u e z at u x d i v e r s . c o m

[2016-09-06 21:37] langsweirdt commented on #12
Hi @LeoHere, is there more information available about this? I don't know what version you were referring to, but I just downloaded the latest version of Gorilla Player (Server and XS add-in 0.9.1.2) and cannot render derived pages. The Sport project mentioned by @xanderhurley is indeed a very good example, as we (and I assume others) structure our projects in a similar way. Thanks a lot!

[2016-09-06 21:58] langsweirdt commented on #12
To follow up on my previous comment, I just saw the following comment on the Gitter chat:

"Gorilla supports derived pages. To be able to preview them you will need to use the Gorilla SDK. For instance, Prism is supported this way.
Please check this page for more info:
https://github.com/UXDivers/Gorilla-Player-Support/wiki/Gorilla-SDK
You could also check the sample about DerivedPages provided wi

[2016-09-07 09:08] escamoteur commented on #89
I encountered exactly the same issue today. When displaying the Page without Gorilla the Page works fine

[2016-09-09 09:46] LeoHere commented on #89
Hi @escamoteur, can you provide more details about what you where trying to preview?

[2016-09-09 09:51] LeoHere commented on #12
@langsweirdt, when you said "I can confirm this is working for me" you referred to the Sample we provide, previewing your solution with derived pages or both?

[2016-09-09 10:07] LeoHere commented on #157
Link all setting usually is not able to infer all the usages and needs to be further instructed in order to not remove required stuff. Why are you trying to do this? Did you know you can download the Player directly from the Apple Store?

[2016-09-09 10:52] micuentadecasa commented on #157
I don't want to upgrady my Osx so I need to use that config. Anyway I saw recently that like you said I can download the app from the apple store and from play store, my problema now is other that I will post in a new issue. You can close this issue and thanks.

[2016-09-09 10:53] micuentadecasa opened #159 "android app hanging when saving in Osx"
Hi, I have donwloaded your app for android and when I start it is ok, but when I save the XAML in Xamarin Studio your app hangs up. Any clue?

[2016-09-09 11:07] escamoteur commented on #89
Exacrfly like the thread starter I tried to load an embedded image that is in the main assembly

[2016-09-10 10:07] LeoHere commented on #159
What do you mean by when it starts if is ok? Does it successfully connect? When you set the target XAML in XS for the first time you can preview it?

What do you mean by hang up? crash?white screen?

[2016-09-10 10:33] micuentadecasa commented on #159
It is, at start It is ok and I can ser my Page on device correctly but when I save my Page the app In the device dissapear

[2016-09-10 11:30] LeoHere commented on #159
Can you send me the logs located at ```/Users/<Your User>/.gorilla/logs``` (more info [here](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Gorilla-Player-logs-location))?
to l r o d r i g u e z at u x d i v e r s . c o m

[2016-09-12 07:03] micuentadecasa commented on #159
Dear @LeoHere , I sent you the logs.

[2016-09-12 12:16] LeoHere commented on #89
Ok. I was able to reproduce the issue. Even if we fix this particular issue, you will not be able to preview the embedded images as you originally intended to. This is not supported right now. I will mark it with the feature request label.

If anyone besides you two guys need this feature let me know.

[2016-09-13 02:28] AresDev opened #160 "Use with Xamarin Studio beta(Xaml preview)"
I've installed the beta version of Xamarin Studio beta, with the now included feature, and Gorilla Player was able to connect to server in iOS emulator and everything seemed to be ok but when opening Xaml files, nothing was being show on Gorilla Player.

I don't know if I have to do some configuration or what?

Then I installed the stable version and everything was working fine again.

[2016-09-13 02:58] jpbrocca commented on #160
Hi @AresDev,
We only give support for stable versions of Xamarin Studio -no Beta versions are supported-.

Regards,
JP

[2016-09-14 06:10] ntrhieu89 commented on #89
Thanks Leo! Hope this feature would be available soon, this the above example is a pretty common use case.

[2016-09-14 09:55] LeoHere commented on #89
Ok! Got it. Thanks for your feedback!

[2016-09-14 09:58] perry89 opened #161 "Unknown issue related to ISSUE_XAML_AREA"
Hello

While trying to load one of my pages I get a following Error:

Cannot read property "ISSUE_XAML_AREA" of undefined.

Problem is related to ListView binding. Using RelativeSource property.

[2016-09-14 10:42] LeoHere commented on #161
Can you send me the logs located at ```/Users/<Your User>/.gorilla/logs``` (more info [here](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Gorilla-Player-logs-location))?
to l r o d r i g u e z at u x d i v e r s . c o m

[2016-09-14 11:22] perry89 commented on #161
e-mail send, thank you :)

[2016-09-14 11:41] Mr-Pearce opened #162 "(Converter) Cant't resolve resources : Converter"
Hi i have a problem using Converters.

i have A Button Like This
`<Button Text="Connect" IsVisible="{Binding Connected, Converter={StaticResource InverseBooleanConverter}}"/>
    `
and the Converter is defined inside my app.xaml like this
Namespace:
`xmlns:converter="clr-namespace:MyProject.Views.Converter;assembly=MyProject"`

[code]

Converter is written like this

[code]
But when i want to open

[2016-09-15 06:56] MarcinDr opened #163 "StaticResource not found"
As described in title, we have problem with static resources:

Our view code:

![screen shot 2016-09-15 at 08 55 24](https://cloud.githubusercontent.com/assets/13198380/18540910/2bd6b0ae-7b22-11e6-93cc-1c26bf4444b9.png)

SendReport style is defined in App.xaml ResourceDictionary.

Here is what Gorilla Player shows:
![screen shot 2016-09-15 at 08 52 04](https://cloud.githubusercontent.com/assets/13

[2016-09-15 07:01] MarcinDr opened #164 "Value cannot be null - Behaviors"
Gorilla player fails if you define behaviors for element on page.

View code:
![screen shot 2016-09-15 at 08 59 41](https://cloud.githubusercontent.com/assets/13198380/18541021/d09ee9b2-7b22-11e6-8915-ac57bcb21e0d.png)

Error:
![screen shot 2016-09-15 at 09 00 31](https://cloud.githubusercontent.com/assets/13198380/18541029/e36778a2-7b22-11e6-971a-aca51509de63.png)

If I comment behaviors it works

[2016-09-15 09:49] MarcinDr opened #165 "Supplying data with SampleData.json"
Next issue we have is with SampleData.json crashing Gorilla Player completely with a weird exception, if i debug Player solution i get "No command available, is Command properly properly set up?" which honestly makes no sense to me in GorillaPlayer context (it makes sense when it comes to behaviors but thats not the case).

This is how we define data for two views UserSettingsView.xaml and Product

[2016-09-16 11:53] LeoHere commented on #163
That is weird, it should work.

I can't reproduce it.

I tried with:

[code]

The ```App.xaml``` contains:

[code]

Can you provide more details about your App.xaml?

Any chance I can get access to the code to test it? It would be much faster. If it is possible just write me to l r o d r i g u e z at u x d i v e r s . c o m

[2016-09-16 12:12] LeoHere commented on #165
Can you show me the content of your ```App.xaml```?

[2016-09-16 12:18] MarcinDr commented on #165
[App.xaml.zip](https://github.com/UXDivers/Gorilla-Player-Support/files/476782/App.xaml.zip)

[2016-09-16 13:37] MarcinDr commented on #163
Sorry I'm not allowed to share whole code :)

What is weird if I define ResourceDictionary for this page and define SendReport button there then it complains about not recognizing Static Resource "ViewModelLocator" not about the SendReport resource.

[2016-09-16 14:06] tlhintoq commented on #147
"improve documentation"?  Let's start with just supplying some.  The 'Gorilla' directory with samples has NO DOCUMENTATION.   As far as I can tell this isn't doing anything.  But I have no idea what the setup is supposed to be, what I am supposed to be starting, can't find a "player" to start because every time I start the only thing marked "Gorilla player" re-runs the installer.

It was only thro

[2016-09-16 14:12] Mr-Pearce commented on #41
I would like a "fake Toolbar/Menubar".
I have a MasterDetailApp and in the preview the Menu-bar is missing which leads to stuff eaten up by the IOS "Carrier Time Battery" bar or that stuff is text in text in that area.

This is how it looks
![2016-09-16_04-08-05-](https://cloud.githubusercontent.com/assets/13457314/18588782/367729c4-7c28-11e6-934e-d68ecb1512c3.jpg)
This is how it should
![2016-09-

[2016-09-16 15:25] tlhintoq commented on #141
Windows10, Visual Studio 2015, Looks like the service can't start.  When I try to got the address in browser the response is:

HTTP Error 500.19 - Internal Server Error
The requested page cannot be accessed because the related configuration data for the page is invalid.
Detailed Error Information:
Module	   IIS Web Core
Notification	   BeginRequest
Handler	   Not yet determined
Error Code	   0x800

[2016-09-16 22:09] LeoHere commented on #165
This zip seems to contain only the .xaml.cs file...can you share the XAML?

[2016-09-16 22:11] LeoHere commented on #41
@Mr-Pearce did you tried [this](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Previewing-within-a-Navigation-Page)?

[2016-09-16 22:21] LeoHere commented on #147
@tlhintoq, the best source of documentation is the [wiki](https://github.com/UXDivers/Gorilla-Player-Support/wiki). Please check it and feel free to post here any issue you might find.

We are working on providing a better getting started experience and documentation.

[2016-09-16 22:26] LeoHere commented on #141
@tlhintoq please check the connectivity troubleshooting guide [here](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Troubleshoouting-Connectivity).

By default Gorilla is listening at [http://localhost:9014](http://localhost:9014). I guess that the error your are getting is from your local IIS.

[2016-09-18 11:04] MarcinDr commented on #165
Oh I'm sorry, my bad :)

[App.zip](https://github.com/UXDivers/Gorilla-Player-Support/files/478652/App.zip)

[2016-09-19 07:50] Mr-Pearce commented on #41
@LeoHere *FacePalm* ... yes now i did. works perfect!

[2016-09-19 12:18] LeoHere commented on #162
Are you using Gorilla SDK? If not, you will need to use it, so Gorilla knows about your converters. [This](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Gorilla-SDK) document will explain how to do it.

[2016-09-19 12:35] LeoHere commented on #165
Ok, thanks! I take a look but still it is not clear why you are getting this error. Without a solution to reproduce the error it would be difficult to diagnose and fix what is going on. Can you provide a solution where this error can be reproduced? (ideally the three errors you reported).

The alternative would be to go through the "show me your logs in debug mode" path, but it could take much lon

[2016-09-19 14:01] Mr-Pearce commented on #162
The linked Document is not that helpful on this point.
Also there is no sample about the Gorilla.json file.

I now tried following with the SDK.

- Added the SDK to my Droid and Ios  Projects

- MainActivity

[code]

- AppDelegate

[code]

- Gorilla.json (dont really know how to use it for this)

[code]

[2016-09-20 10:03] LeoHere commented on #162
You got most of it right. There only seems to be an issue in the ```Gorilla.json``` file.

If your converter XML namespace is declared as follows:

[code]

your ```Gorilla.json``` should include the assembly ```MyProject``` as follows:

[code]

In the section titled "How to preview Grial custom renderers on Gorilla Player" of the document item 3 there is a link to download a ```Gorilla.json``` sam

[2016-09-20 10:42] MarcinDr commented on #165
Ok, I will spend some time this week to reproduce all three errors in a clean project, will let you know when I'm ready.

Cheers

[2016-09-20 12:22] Mr-Pearce commented on #162
Now it works.
Looks like i have not seen that Gorilla.json in the document is a link.

[2016-09-20 14:13] LeoHere commented on #162
Great!

[2016-09-20 14:13] #162 closed

[2016-09-22 05:57] joshd-infotrack commented on #116
What was the solution for this?  I am now experiencing a similar issue....

[2016-09-22 10:28] LeoHere commented on #116
@joshd-infotrack, is it the first time you use Gorilla? Or you have been using it for a while and suddenly you start getting experiencing this issue? Can you provide me more details about you environment?

[2016-09-22 22:57] joshd-infotrack commented on #116
Been using it for a while and it had been working great.  Now I am getting the following error messages:
"There was an issue registering the solution with the gorilla (The underlying connection was closed: The connection was closed unexpectedly)."  OR
"Error occured while setting Gorilla Target XAML.  File _mypage.xaml_ (The underlying connection was closed: The connection was closed unexpectedly)

[2016-09-23 02:05] AresDev commented on #160
Ok, now is the stable version and still not working.

[2016-09-23 12:02] LeoHere commented on #160
@AresDev, with the XS 6.1 update the Follow Me feature stops working. You can still manually move between XAML files using the "Stick to this XAML". This issue seems to be only affecting Mac.

There is an updated version of the adding that fixes the issue. Please find it attached.
[UXDivers.Artina.Player.Addins.Gorilla Player_0.9.2.3.mpack.zip](https://github.com/UXDivers/Gorilla-Player-Support/fi

[2016-09-23 13:08] AresDev commented on #160
Thank you! now it's working!

[2016-09-23 13:08] #160 closed

[2016-09-24 09:51] nbsoftware opened #166 "Cannot read property of undefined when xaml files are in a nested sub namespace"
Hello,

Not sure if this is related to #161 but I'm also getting the message Cannot read property "xxx" of undefined on a tabbed page.

If I declare all the child pages of the tabbed page within the same global namespace, Gorilla is happy and successfully shows the full tabbed page - even though I get some weird warnings in the logs for each child pages such as `{"level":"info","message":"Gorilla

[2016-09-24 10:09] nbsoftware opened #167 "support for Xamarin.Forms.Maps ?"
Hello,

I have a sample which runs fine in debug in the iOS emulator (i.e. it does show the map).

However, rendering it via Gorilla Player (SDK), it does not display.
Log shows (below) that the relevant xmlns has been removed.

Sample XAML
[code]

Logs
[code]

[2016-09-24 10:26] LeoHere commented on #166
I have just tried to reproduce your problem with no lack. Any chance I can get access to your code to test it?

[2016-09-24 10:29] LeoHere commented on #167
You will need to register the assembly ```Xamarin.Forms.Maps``` in the Gorilla.json and in the gorilla ```Config``` object as explained [here](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Gorilla-SDK).

[2016-09-24 10:31] nbsoftware commented on #166
I'll try to put a sample solution that illustrate the issue somewhere later in the week-end.

By any chance, could this be an issue related to the initial warning I mentioned in the working example ? Is this warning safe to ignore?

[2016-09-24 10:51] nbsoftware commented on #167
Correct. I forgot that point.
It is working now.
Thanks

[2016-09-24 10:51] #167 closed

[2016-09-25 11:29] LeoHere commented on #166
Cool!

It is difficult to say without seeing the actual solution. Are you registering ```fipacapp``` in the ```Config``` object?

[2016-09-25 11:40] LeoHere commented on #165
Hi @MarcinDr, if you have a solution where i can reproduce any of those issues please let me know!

[2016-09-25 11:41] #157 closed

[2016-09-26 10:46] perry89 commented on #161
Hi Leo

Never mind, restarting PC fixed the issue.

Regards

Wojciech Boczarski
Junior Software Engineer
[cid:image001.jpg@01D1AC6B.193A62F0]<http://www.microsec.co.uk/>

Tel:      +44 (0)23 9251 8254 (DDI)
Email:  wojciech.boczarski@microsec.co.uk
Web:   www.microsec.co.uk
[cid:image005.png@01D13356.2FDB99E0]<https://www.linkedin.com/company/microsec-ltd->

Microsec Ltd is a limited company regis

[2016-09-26 11:10] #161 closed

[2016-09-27 09:31] LeoHere commented on #135
@danialbakhsheshi closing the issue. If you experience the problem again please open a new issue and include the XAML and a short description of the environment where you are executing.

[2016-09-27 09:31] #135 closed

[2016-09-27 16:05] vishalavalani opened #168 "Not working in Mac - Xamarin Studio Version 6.1.1 (build 15) XCode 8"
Xamarin.Android
Version: 7.0.1.2 (Xamarin Studio Community)

Xamarin.iOS
Version: 10.0.1.8 (Xamarin Studio Community)

Find attached log files. Request you to help.

[logs.zip](https://github.com/UXDivers/Gorilla-Player-Support/files/496061/logs.zip)

Error in log file:

GorillaXS Error: 7 : Exception 'Error: ConnectFailure (Connection refused)' ocurred while doing 'IsServerAvailable(http://localh

[2016-09-27 16:21] vishalavalani commented on #168
Please ignore. It works for me now. I have to right click and select "Stick Gorilla to this". This was not a part of documentation.

Thanks anyways!

[2016-09-27 16:21] #168 closed

[2016-09-28 00:29] LeoHere commented on #168
@vishalavalani, take a look at issue [#160](https://github.com/UXDivers/Gorilla-Player-Support/issues/160). You will find an updated add-in for XS Mac

[2016-10-03 12:56] ShiroYacha commented on #158
Hi,

I have a similar issue but instead I got into lots of :

"Cannot read property '__DependsOnResources' of undefined "

I am using the exact Gorilla.json and Config objects. Also, why is that the config name ignored when selecting the server at startup (in the documentation of Gorilla SDK)? I seems to me that the Config object is ignored.

Thanks in advance

[2016-10-04 14:05] escamoteur commented on #89
Anything new on that? Or what is your recommendation if I want to design pages with static images in it?
Where should I place them?

[2016-10-04 21:16] ShiroYacha commented on #89
Same problem here, I think static image is a useful feature to support. However, I will try to use a dummy binding as workaround for now...

[2016-10-04 21:20] escamoteur commented on #89
Dummy binding to what? I helped me that I put some images on my webserver and referenced them via url,
Do Icons work?

[2016-10-04 21:38] ShiroYacha commented on #89
It's just an ugly workaround if static embedded resource is really needed. It prevents the gorilla from breaking but it won't show the image (same as using Local images).

Just self-bind the image source to code behind: `public ImageSource IconSource => ImageSource.FromResource("XXX.Resources.logo.png");` and use the instructions on Xamarin Working with Images to setup the embedded images. Since e

[2016-10-05 09:04] ShiroYacha opened #169 "Fontawesome icons"
Hi, I had an issue previewing fontawesome icons from Grial in gorilla player. It only shows a placeholder box with a cross in the middle. When I run the app it works fine. I am using the 2nd method to integrate gorilla player by extending the Player solution and inject dependencies on my .netstandard shared Xamarin forms project, setting the Config object and the Gorilla.json. I have also put the

[2016-10-05 13:23] LeoHere commented on #169
Please follow the steps described [here](https://github.com/UXDivers/Grial-UI-Kit-Support/wiki/How-to-add-icons-to-your-project) in order to install fontawesome in your extended-player solution. Let me know if you have any issue.

Regarding the documentation, got it. We will improve it ASAP.

[2016-10-05 13:38] ShiroYacha commented on #169
Hi, I found out that I missed the Assembly flag for the font renderer in the player project. It works now, Thanks!

[2016-10-05 15:49] ShiroYacha opened #170 "Cross-project sample data"
Hi,

I would like to know if it is possible use SampleData.json cross-project? This is useful when using Prism's modules.

Thanks!

[2016-10-05 21:08] #169 closed

[2016-10-07 04:09] Knight1988 commented on #74
I got same problem on v0.9.1.2
Here's my test project
[GorillaTest.zip](https://1drv.ms/u/s!AoPYJ3lZMHHfj44JrQgJ11prEq65Og)

![device-2016-10-07-110848](https://cloud.githubusercontent.com/assets/6245331/19178613/800f1e8c-8c7e-11e6-9b4f-6c42c961c461.png)

[2016-10-08 10:29] 0rupp opened #171 "Gorilla server won't start (any more)"
I tried rebooting, re-installing, but it only flickers up for the blink of an eye and closes again. The logs says:

{"level":"info","message":"Starting Gorilla (0.9.1.2)...","timestamp":"2016-10-08T10:23:19.443Z"}
{"level":"error","message":"Error reading license file ENOENT, no such file or directory 'C:\\Users\\Lap\\.gorilla\\license' Error: ENOENT, no such file or directory 'C:\\Users\\Lap\\.go

[2016-10-08 11:08] LeoHere commented on #171
Please try as follows:
1. Quit Gorilla
2. Delete the license file
3. Start gorilla again
4. Signin

Once you signin it will automatically create the license file again.

[2016-10-08 11:23] 0rupp commented on #171
This doesn't work.
1. No need to quit, cos I cannot start anyway (I also checked the processes)
2. OK, I deleted it, but the problem is, it wasn't there in the first place.
3. Doesn't start.
4. Thus can't sign in

[2016-10-08 11:32] LeoHere commented on #171
Did you had gorilla working previously in that machine? Or is it the first time you install gorilla there?

[2016-10-08 11:42] 0rupp commented on #171
I had it installed for a while and it worked like a charm. Can't see why it stopped working now. The only thing that comes into my mind was the huge w10 update about 2 weeks ago.

[2016-10-08 12:29] LeoHere commented on #171
That is weird.

If possible, can you try to:
* uninstall Gorilla
* delete the directory ```C:\Users\Lap\.gorilla\``` (just in case may be it is better to move it elsewhere or rename it so you don't loose the logs you have there)
* restart your machine (just to make sure there is nothing hanging there)
* reinstall Gorilla

If that does not work, can you send the all the logs generated after the fre

[2016-10-11 09:08] WavyRancheros opened #172 "Images are not displayed"
Hi,

images are no longer displayed in the Gorilla Player available over the stores. The images are located in the Resources folder of the MyProject.Droid and MyProject.iOS project. The XAML resides in MyProject (PCL).

They did show up at the beginning of the project. But since a while, they are no longer showing up. Getting back to a previous commit does not help.

[2016-10-11 22:28] LennardF1989 commented on #166
I have a similar issue applying to both custom controls and Pages.

I have all my pages in a Assembly.Pages namespace of my project. When I try to include a custom control form any other namespace (even sub, eg. Assembly.Pages.SubControls or Assembly.Controls), Gorilla Player will fail to load it with the "Cannot read property of undefined" mentioned in the title. It should be noted that the actua

[2016-10-12 09:04] LeoHere commented on #166
@LennardF1989, can you provide a solution where we can reproduce the issue? It would help us a lot.

[2016-10-13 09:25] nexussays commented on #163
I am having what appears to be the same problem. StaticResources cannot be found but if I change them all to DynamicResource it works. If there's not been any progress I can try simplifying the project down until the problem goes away or I have a minimal repro scenario.

[2016-10-13 09:33] LeoHere commented on #163
So far we were not able to reproduce the issue, so yes please, having that project would be very useful. Thanks!

[2016-10-13 09:47] nexussays commented on #163
Well that was quick. The error is consistently reproducible if the page in question inherits my base class (`<view:BasePage`) and it works if it's just `<ContentPage>` directly.

This is all BasePage.xaml is:

[code]
[code]

[2016-10-13 10:12] LeoHere commented on #163
Cool. Thanks. Now I was able to reproduce it. The fact that the ```BasePage``` have an associated ```BasePage.xaml``` file is somehow causing trouble. I mean, if you define ```BasePage``` as a c# class without any associated XAML file you will not have this issue.

I will further investigate and let you know. Thanks both!

[2016-10-13 10:14] MarcinDr commented on #163
Ye this is exactly what is causing errors in our app. Now we have a 'TestPage' that is not inheriting from our BaseContentPage and this is how we build our views using Gorilla Player :)

[2016-10-13 10:31] ShiroYacha commented on #163
I have a similar problem with StaticResource but of different cause. In a workaround with Prism, I have to remove the resource dictionary from App.xaml and set the Resource = new MyResource() in code behind in the App(). Since then, the StaticResource does not work but DynamicResource does. Is there a way to fix this?

[2016-10-15 11:28] LeoHere commented on #163
@ShiroYacha I'm not sure the issue you are describing is the same issue reported here. The issue you are experiencing with Prism is resolved in the dev branch. If the issue is annoying you, send me an email and I can provide you a new installer where it is fixed. Can you please open a new issue providing some sample XAML code illustrating your scenario?

[2016-10-17 20:32] heluvatuff opened #173 "Missing namespace definition for vm"
Just installed Gorilla Player on my emulator and I can preview the XAML in the sample apps. My Xamarin Forms app will not preview. I'm getting the following error "Missing namespace definition for vm". Even when I add a brand new content page I cannot preview it.

[2016-10-18 09:30] LeoHere commented on #173
Probably Gorilla is complaining about something in the ```App.xaml```. Can you share your ```App.xaml``` content?

[2016-10-18 13:29] nbandla9 opened #174 "JSON integer"
1476795200015 is too longer or small for an int32,  path serverStartTime line 1 position 1465[](url)

Using Visual studio 2015 update 3
Gorilla 9.1.2

No errors in actual application

![error](https://cloud.githubusercontent.com/assets/22913382/19479558/439405c0-953f-11e6-9860-43c1b5492cd8.png)

Thanks
Nag

[2016-10-18 14:10] heluvatuff commented on #173
That was my problem. I'm using mvvmlight and the following was missing from the <Application> Element of my App.xaml

xmlns:vm="clr-namespace:AppPortalMobile.ViewModels">

Thank you

[2016-10-18 14:10] #173 closed

[2016-10-19 10:00] LeoHere commented on #174
Hi, this error was something we fixed long time ago. It is weird you are getting it now.

When are you getting this error? each time you try to preview? Have you ever been able to preview a page in the past?
Are you using the Gorila SDK or you just deployed the player to the emulator?

[2016-10-19 10:04] nbandla9 commented on #174
this is the first time using it.

yes just deployed player via VS15 into emulator and edited XAML project in my VS, did not get any preview except this error.

i installed 8.0X version previously as it not connecting to server i reinstalled with newer version, now its connected but getting above error.
Thanks

[2016-10-19 10:35] LeoHere commented on #174
When you said you Installed 8.0X you mean Gorilla Player 0.8.3? If the player you are using is 0.8.3 it makes sense to get this error. Please, make sure you are using the 0.9.1.2 player in the device.

My recommendation would be:
1. uninstall the player from the emulator
2. open the player solution
3. make sure 0.9.1.2 nuget packages are being referenced from the player
4. perform a clean & rebuil

[2016-10-22 13:59] EmilAlipiev commented on #136
such a crucial thing is a bug. thats really impossible to work with gorilla. If i have to use dynamic resources, i need to build my app for gorilla player. it makes no sense. sorry

[2016-10-31 01:37] Maaarek opened #175 "Unable to connect to server"
HI,

I am getting every time the same message that "Unable to connect to localhost:9014". I already turnd off the firewall but i still does not work. What can I do ?

Thanks for any help

[2016-10-31 10:05] LeoHere commented on #175
Did you see the [Troubleshooting Connectivity Guide](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Troubleshoouting-Connectivity)?

[2016-10-31 19:49] Maaarek commented on #175
Yes,
I can not oopen  http://localhost:9014 in the browser, I always get an unable message. It looks like that the 9014 is not running. How can  I start that ?

[2016-11-01 09:21] LeoHere commented on #175
The server should be up and running as soon as you sign in to Gorilla Player desktop app. Did you do this, right? Try going to the system tray icon, quit Gorilla and then reopen it again.

Can you still not reach Gorilla going to http://localhost:9014 in your desktop browser?

If the problem persists, can you please send me the [logs files](https://github.com/UXDivers/Gorilla-Player-Support/wiki/G

[2016-11-01 23:41] MrXemiu opened #176 "Styles not loading (Resources not found) in ListView ViewCell template"
The following page cannot be displayed in Gorilla Player.  Instead an error message is presented indicating that none of the resources identified in the Style attributes of the template elements can be found.  I'm using Xlabs MVVM, so the page inherits from BaseView.

I have other pages throughout the application that inherit from BaseView, depend on StaticResources defined locally as well as in A

[2016-11-02 00:11] jpbrocca commented on #176
Hi @MrXemiu,

Please have a look at the following related issue where one user shares a workaround:
https://github.com/UXDivers/Gorilla-Player-Support/issues/163

Please let us know if this helped you or if you need more help.
Best,
JP

[2016-11-02 02:35] MrXemiu commented on #176
I read through that thread and it wasn't helpful.  I tried changing StaticResource to DynamicResource but the error persisted.  I double changed XLabs.Forms.BaseView and there's no corresponding .xaml document associated with it.

Lastly, I want to reiterate that other .xaml documents that inherit from XLabs.Forms.BaseView and make use of both global and local styles render appropriately in Gorill

[2016-11-02 04:02] ctrexler opened #177 "Cannot connect on Android Nexus 5 (physical device)"
I've attached my log files below...
[gorillaHost.txt](https://github.com/UXDivers/Gorilla-Player-Support/files/565644/gorillaHost.txt)
[gorillaPlayer.txt](https://github.com/UXDivers/Gorilla-Player-Support/files/565642/gorillaPlayer.txt)
[visualStudio.txt](https://github.com/UXDivers/Gorilla-Player-Support/files/565643/visualStudio.txt)

[2016-11-02 08:47] LeoHere commented on #177
Did you see the [Troubleshooting Connectivity Guide](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Troubleshoouting-Connectivity)?

[2016-11-02 11:48] LeoHere commented on #177
I read the chat you had with JP related to the issue.

Let's review what you have tried so far:

1. You were able to see the About Page from you Desktop browser. Can you provide the info listed there?
2. Can you access About Page from your device browser?
3. You tried to perform manual connection with no luck. Which address did you use? What error did you get?
4. You downloaded Gorilla App from Go

[2016-11-03 01:44] Maaarek commented on #175
The Gorilla player on my device works now, only visual studio can not connect to localhaost:9014.
Yes of course i can send you the files. Do you want the entire folder ?

[2016-11-03 10:23] LeoHere commented on #175
I just uploaded a [Getting Started](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Getting-Started) document. Please follow the steps described there to start previewing.

In order to start previewing you need to deploy the player, not your own app.

Please let me know if you have any issue.

[2016-11-03 17:31] EricWu91 commented on #41
Hey there. Firstly...  _awesome_ tool. It really saved me a lot of time.
I'd like to know if there is a way of making Gorilla read the static resources from another, referred library.
See if the following structure is clear enough:

Project A
*
*---> App.cs
*---> App.xaml

Project B
*(reference) Project A.dll
*---> Page1.xaml
*---> Page2.xaml

Pages 1 and 2 contain static resources that are presen

[2016-11-03 20:07] Maaarek commented on #175
I is working now. I am using the port 8081 and it is awesome. I got your email and read the the documentation. It is written that "Tools->Gorilla Player->FollowMe" is default but it was not. I only activated "FollowMe" and after that it was working.

[2016-11-03 22:36] Maaarek commented on #175
Is it maybe possible to use the gorilla player for Xamarin android native ?

[2016-11-04 09:30] LeoHere commented on #175
Good to know!
Gorilla is just for Xamarin Forms.

Please remember to close the issue.

[2016-11-04 09:37] LeoHere commented on #41
@EricWu91 AFAIK, what you want to do is not possible in XF. Usually Project A would reference project B and the ```App.xaml``` would be the XF ```Application```. In this case you will be able to access the resources in the ```App.xaml``` from ```Page1.xaml``` and ```Page2.xaml```.

[2016-11-04 22:25] Maaarek commented on #175
It not the end of the story. I used today the gorilla player for the same application i changed nothing. I could only use the gorilla player in the emulator. The GP on my physical device can not find the server. I already tried the manual setup but it did not work. I uninstalled the player on my phone and installed it again but it changed nothing.

[2016-11-07 11:59] EricWu91 commented on #41
Sorry, @LeoHere , I was typing in a hurry and didn't see the actual structure. I updated the comment. It is exactly as you said. The question remains, though. Gorilla doesn't seem to be able to read the resources contained at App.XAML (throws an error).

[2016-11-07 13:38] LeoHere commented on #41
It should. Any chance you can share the app source or generate a test proj where we can reproduce the issue?

[2016-11-07 17:11] EricWu91 commented on #41
Hm, sadly, the codebase is proprietary (and too large) to be shared. :(
If there are any logs GP generates, I'll be happy to upload them.

[2016-11-07 21:17] Maaarek commented on #175
It is working now but it is very strange because the emulator on my phone works only depending on my network connection.

[2016-11-07 21:18] #175 closed

[2016-11-08 09:44] LeoHere commented on #41
Got it. Ok, set Gorilla to log level debug (see [this](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Gorilla-Player-logs-location)) and send me those logs to l r o d r i g u e z at u x d i v e r s . c o m

[2016-11-08 11:46] EricWu91 commented on #41
@LeoHere , thanks for the helpfulness. It is really appreciated.
Truth be told, it actually doesn't make much sense to _work_ under Gorilla.
If Project B (which I call "_Base_") will only have the .xaml files, if I want to see them in GP, I'll have to go to that specific project and try to visualize it. Thing is, the resources are, indeed, in another dll it has no sight on. Sorry to waste your tim

[2016-11-08 11:48] EricWu91 commented on #41
As a sidenote though... I seem to be facing issues on loading UXDivers.Gorilla.Common on iOS, both in Simulator and Device. Are there reported issues?

[2016-11-08 20:34] Maaarek opened #178 "Setup Issue Gorilla SDK"
Hello,

I would like to use the gorilla sdk to see Costume Renderer. I followed you article on Github about the sdk setup. I download the sdk package already and Gorilla.json.

![image](https://cloud.githubusercontent.com/assets/14011754/20115992/535a288c-a65f-11e6-9d95-830514e6600b.png)

Error: "The type or namespace Artina doesn not exist  in the namespace "UXDivers" ( are you missing an assembl

[2016-11-08 20:46] #178 closed

[2016-11-09 10:39] jebeyl opened #179 "Gorilla Player is connected but nothing previewed"
I am using Visual Studio 2015 on Windows 7. Although I have installed the mobile app on my android device and it connects correctly, on the gorilla player window it shows only the following: "Currently Previewing:{name of the xaml file}" and "File location:{the location of the xaml file}".

Please check the attached screenshot.

What am I doing wrong?

![screenshot](https://cloud.githubusercontent

[2016-11-09 19:27] jpbrocca commented on #179
Hi @jebeyl,
Did you check the Troubleshooting Connectivity Guide?
https://github.com/UXDivers/Gorilla-Player-Support/wiki/Troubleshoouting-Connectivity

Best,
JP

[2016-11-09 19:52] jebeyl commented on #179
Hi, thanks for answering. I am getting the preview in my device now but in Gorilla Player Status Window it still shows the aforementioned text. Sorry if I got something wrong, I just thought that I would see my xaml preview in a Window on my desktop too. Did I misunderstand it?

[2016-11-09 20:51] jpbrocca commented on #179
Hi @jabeyl,
The main benefit of using Gorilla Player is that will be able to preview directly on devices (emulators and real devices both). You can also preview all platforms at the same time, which means you could see an iPhone and an Android tablet simultaneously. This is a huge timesaver and gives you the most accurate preview because you can get the real UI rendered on an specific platform ver

[2016-11-10 01:47] alexcons commented on #176
Probably unrelated, but I was using the following format:
`{StaticResource Key=StatusIconStyle}`
And I had to change it to
`{StaticResource StatusIconStyle}`
because the parser was failing to extract the name correctly and was assuming that the resource name was "Key=StatusIconStyle" I think this is a bug on Gorilla, the RegEx used to extract the resource name should consider both nomencaltures

[2016-11-10 09:46] jebeyl commented on #179
Thanks, you are awesome.

[2016-11-10 10:32] jpbrocca commented on #179
I am closing this issue now since you are being able to.preview.
Feel free to re open if neccesary.

Best,
JP

[2016-11-10 10:32] #179 closed

[2016-11-10 17:48] gppraveena commented on #109
Any updates on this issue, has this been fixed ? I am facing this problem on Win 10 and Win 7 seem to be showing the connected status, but it is not showing the preview

[2016-11-10 21:04] Maaarek opened #180 "Struggle setup SDK"
Hi,
the Gorilla player is working really good but I would like to use costume controls. I followed already the setup steps on GP.Github. I am doing something wrong but I don't know what. I am using VS2015 and try to setup the SDK on android.

I would like to use the "ControlTemplate" inside my Portable App.xaml. I included the Gorillla.json + Gorilla SDK only on Android.

Android:
Gorilla.json
![i

[2016-11-11 04:55] danieljaguiar opened #181 "Where is "UXDivers.Artina.Player" to get sample data working?"
I am struggling to find the dll for "UXDivers.Artina.Player" in order to get the following NS working...

xmlns:common="clr-namespace:UXDivers.Artina.Player;assembly=UXDivers.Artina.Player.Common">

The bottom line is that I can't get sample data working no matter what I do... I tried installing Nuget, SDK, using SampleData.Json, using ResourceDictionary, and can't get it working and I think it is

[2016-11-13 16:48] aubykhan commented on #41
@LeoHere I have modified the Gorilla Player on Android to support **Material Design** themes. Was looking for a GitHub repo to add a pull request for these changes. Possible? or is it already supported in latest Player?

[2016-11-15 12:37] LeoHere commented on #41
@EricWu91, sorry for the delay, which version of XF are your using? (forcing the assembly to be loaded by doing a ```typeof<UXDivers.Gorilla.Platform.JsonLoader>()```)

@aubykhan, no the current android player is not based on AppCompat. We will consider adding it.   It is not clear for me if most of XF Android projects are indeed based on AppCompat, any info on that? If that is the case it makes l

[2016-11-15 12:49] LeoHere commented on #181
@danieljaguiar sorry for the delay. The assembly name should be ```UXDivers.Gorilla.Common.dll``` not ```UXDivers.Artina.Player.Common``` (it was renamed at some point). ```UXDivers.Artina.Player.Common``` is included in ```UXDivers.GorillaPlayer.Common``` nuget packages. The SDK depends on it so if you added it you should get this package too.

Where did you get the line
[code]

from?

I recommen

[2016-11-15 13:03] LeoHere commented on #180
@Maaarek, sorry for the delay. Gorilla 0.9.1.2 does not support ControlTemplates. That seems to be the issue here. The next release of Gorilla will support them.

Just to clarify, in your scenario the SDK does not seems to be needed. I mean, If you are just trying to preview control templates you will not need to use the SDK. The SDK is needed only if you need to access no XAML stuff.

How does th

[2016-11-15 13:14] LeoHere commented on #170
@ShiroYacha, sorry for the delay. Currently ```SampleData.json``` is only project-scoped. I will mark this as a feature request. Regarding the second question, I think it is possible, but I'm not sure if I understand correctly what you want to do, can you elaborate on that?

[2016-11-15 13:19] LeoHere commented on #172
@WavyRancheros, sorry for the delay. There might be an issue with the XF image cache, unfortunately there is not way to clear it. The next version of Gorilla provides a way to clear the image cache.

As a workaround, did you tried deploying the player to the device yourself? Does the issue persists?

[2016-11-15 13:25] aubykhan commented on #41
@LeoHere I think most of them are indeed using AppCompat now. Even if you create a new project, it's made as AppCompat by default.

I have create a repo for that. It works perfectly and uses LightTheme with DarkActionBar:
[https://github.com/aubykhan/Gorilla-Player---Material](https://github.com/aubykhan/Gorilla-Player---Material)

[2016-11-15 13:31] LeoHere commented on #41
Ok, cool thanks!!

[2016-11-16 17:37] EricWu91 commented on #41
@LeoHere , I'm using 0.9.1.2 (the last stable version in Nuget)

[2016-11-16 17:42] EricWu91 commented on #41
Also, I can confirm @aubykhan in that Xamarin Forms' Android projects are born with a AppCompat Theme.

[2016-11-21 00:38] danieljaguiar commented on #181
@LeoHere sorry for the delay. I still finishing some urgent backlog, I should get back to Gorilla in 3 to 5 days.

[2016-11-21 22:02] Pant76 opened #182 "Unable to authenticate"
...just installed, try to login....no way...always it says credentials invalid
<img width="356" alt="schermata 2016-11-21 alle 23 00 22" src="https://cloud.githubusercontent.com/assets/3235695/20502456/65ef02c2-b03e-11e6-9812-3634bed1922d.png">

[2016-11-22 07:49] ludovicLegland opened #183 "Unable to Start Gorilla player"
Hello,
I can't start Gorilla player, I have this error message. I install Gorilla player as administrator.

![image](https://cloud.githubusercontent.com/assets/23519117/20515039/e4af6236-b08f-11e6-9e01-7f0a76bd685a.png)
I try to find the log at the location "Users\<YOUR_USER>\.gorilla\logs" but I don't have any folder  with .gorilla.
![image](https://cloud.githubusercontent.com/assets/23519117/205

[2016-11-22 09:43] LeoHere commented on #183
Which version of windows are your using? 32 or 64 bits?

[2016-11-22 10:14] ludovicLegland commented on #183
![image](https://cloud.githubusercontent.com/assets/23519117/20519822/bc077e8a-b0a4-11e6-829c-58c165c51396.png)

I use Windows 32.

[2016-11-22 10:35] LeoHere commented on #183
Gorilla only works on 64-bit systems, that is why it is complaining.

Sorry :(

[2016-11-22 10:52] ludovicLegland commented on #183
Thanks for your answer. :)
Could you write somewhere the Minimum Configuration to run your program?

[2016-11-22 11:13] LeoHere commented on #183
The following wiki document states the requirements [Installing on Desktop](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Installing-on-Desktop)

[2016-11-22 11:13] #183 closed

[2016-11-22 11:15] LeoHere commented on #182
Did you verified your email? (if not, the server might be returning this generic error for any password you enter, something we need to improve for sure!)

[2016-11-22 22:30] ShiroYacha opened #184 "Support for VS2017 RC"
Hello,

Is there any plan on releasing a VS2017 compatible plugin?

Thanks,
Min

[2016-11-23 12:32] LeoHere commented on #184
We will have a VS2017 plugin for sure. How many of you did already jump to VS2017? Is it stable enough?

[2016-11-23 12:39] ShiroYacha commented on #184
Haven't tested all the new features but as for now the RC is actually quite stable to use (community version).

[2016-11-25 03:10] Maaarek commented on #180
The sample data is working now on my device. I would like to use the Costume Renderer from the native plattform. Sample. Circle Button. What  is the right approach for that ?

[2016-11-25 10:59] LeoHere commented on #180
Good to know!

After you setup the SDK there is not much you need to do. If the circle button is a custom control + custom renderer, make sure that:
1. the PCL assembly where the custom control resides is registered as a known assembly (both ```Gorilla.json``` and ```Config``` object will be required)
2. The custom renderer gets exported in the SDK project.

Let me know if you have any issues.

[2016-11-27 21:01] Maaarek commented on #180
Not really. I followed your advice on https://github.com/UXDivers/Gorilla-Player-Support/wiki/Gorilla-SDK.
My CustomeRenderer.cs  and part of Android and not a Xaml file.
**LoadApplication (UXDivers.Gorilla.Droid.Player.CreateApplication(
    ApplicationContext,
    new UXDivers.Gorilla.Config("Good Gorilla").RegisterAssemblyFromType<UXDivers.Artina.Shared.CircleImage>()));**

What do you mean wit

[2016-11-28 09:49] LeoHere commented on #180
```UXDivers.Artina.Shared.dll``` (the PCL assembly where the control resides)  should be registered:
1. in the ```UXDivers.Gorilla.Config``` (as you already did it)
2. in the ```Gorilla.json```, as one of the known assemblies

[code]

Make sure that the custom render's export is included in your Android project. e.g.

[code]

Finally run your project with Gorilla SDK embedded, launching the SDK in

[2016-11-28 20:22] danieljaguiar commented on #181
Hi @LeoHere

I got it from here: https://github.com/UXDivers/Gorilla-Player-Support/wiki/Working-with-sample-data#using-jsondata-class

In the link above, it has an example where it says:

`<ContentPage
xmlns:common="clr-namespace:UXDivers.Artina.Player;assembly=UXDivers.Artina.Player.Common">
<ContentPage.Resources>`

----------------------------------------

About the SampleData.json!

I already

[2016-11-29 12:40] LeoHere commented on #181
Thanks! Fixed.

Regarding your solution, I downloaded and it seems to be working fine. When I preview ```MainPage.xaml``` i see:

![image](https://cloud.githubusercontent.com/assets/16000584/20710098/a1473b12-b617-11e6-952c-c18544623478.png)

What are you seeing when you preview ```MainPage.xaml```?

May be try restarting Gorilla desktop App. Please let me know your findings.

[2016-11-29 14:46] danieljaguiar commented on #181
It worked!!!
... and it is amazing!

[2016-11-29 16:01] LeoHere commented on #181
Good to know! Thanks. Please remeber to close the issue if it is solved.

[2016-11-29 16:05] #181 closed

[2016-11-30 09:57] Masciuniria opened #185 "It works but not for long"
Everything works perfectly but after 1 or 2 minutes (I guess) the server crashes. When I go to my localhost ip:9014, the browser cannot load anything. I got some doubts about my internet connection, but don't know what, i disabled the firewall.

[2016-11-30 10:01] LeoHere commented on #185
Can you please attach your log files? (see [this](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Gorilla-Player-logs-location))

[2016-12-04 10:30] orafique82 commented on #89
Any solution for Embedded Images?

[2016-12-04 22:26] airtongomeslima commented on #163
I have the same problem, but my application contains only the .cs file, there is no App.xaml file. Maybe this is the problem, the gorilla player do not recognize the app.cs file.

[2016-12-05 10:14] LeoHere commented on #163
@airtongomeslima, Gorilla does not support styles defined through code, if that is what you are trying to preview.

[2016-12-14 18:36] wierzba3 opened #186 "Erorr on connect: "Failed to connect. Unable to connect to the remote server.""

[2016-12-15 11:20] LeoHere commented on #186
Can you please provide more information about when you get this error? Windows/Mac? Android/iOS? Which IP address are you providing? Did you follow the [Troubleshooting connectivity guide](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Troubleshoouting-Connectivity)?

[2016-12-28 13:55] nbandla commented on #174
hi

yes above has fixed the issue
Thanks

[2016-12-28 15:43] TonyHenrique commented on #92
I am also having issue on Pewview Xamarin Forms with Syncfusion controls, even the simple sfDigitalGauge does not show in Gorilla Preview.

[2016-12-28 20:05] TonyHenrique opened #187 "Syncfusion Xamarin Preview on Gorilla"
I am trying to make an app using Syncfusion Xamarin, but Gorilla does not display their controls.

It appears on my cell phone:

XAML:
[code]

[2016-12-28 20:06] TonyHenrique commented on #184
Release a Visual Studio 2017 plugin.

[2016-12-29 09:58] LeoHere commented on #174
Good to know. Closing the issue.

[2016-12-29 09:58] #174 closed

[2016-12-29 10:01] LeoHere commented on #92
@TonyHenrique are you using Gorilla SDK? If you don't, please see this [document](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Gorilla-SDK). You will need it to render custom controls. Please, let me know if you have any issue in the process.

[2016-12-29 10:03] LeoHere commented on #187
Are you using Gorilla SDK? If you don't, please see this [document](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Gorilla-SDK). You will need it in order to render custom controls. Please, let me know if you have any issue in the process.

[2016-12-29 18:01] mikescott8 commented on #12
I load the DerivedPages solution in VS2015 and when I open WelcomePage.xaml in the editor I get error in gorilla player on the simulator. I know the connection is working, and I can see preview of the xaml in the walkthrough solution.

errors I get:
Watching page:
WelcomePage.xaml

Errors(1)
RootXAML element unrecognized, nothing to display

Warning (2)
unable to determine file type
tag framework:

[2016-12-30 12:14] LeoHere commented on #12
@mikescott8, I see your confusion. Previewing solutions with derived pages (or any custom code element like custom control, custom renderer) requires using [Gorilla SDK](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Gorilla-SDK). Probably, you are trying to preview the solution with the player downloaded from the store or the Player solution installed along with Gorilla. Those players on

[2016-12-30 16:06] mikescott8 commented on #12
Thanks. got the sample working. will read up more and review the sample and when I can I will try adding the SDK to app I am working on.

[2017-01-10 05:46] jalvarezz commented on #12
Well, it seems that the DerivedPage sample provided doesn't work on a MAC. I have the setup correctly and it still says:

Watching page:
WelcomePage.xaml

Errors(1)
RootXAML element unrecognized, nothing to display

Warning (2)
unable to determine file type
tag framework:BasePage was removed.

[2017-01-10 10:21] LeoHere commented on #12
Can you share your solution or provide a sample where we can reproduce the issue? That would make it easier to diagnose what is going on.

If not, please provide more details about what you did in your setup:
- Gorilla.json, SDK Initialization,

Did you redeploy the SDK after properly configuring it?

[2017-01-10 15:48] jalvarezz commented on #12
I added the SDK to the Android and iOS project only, deployed the Player 0.9.1.2 to the android emulator and it should work without more Changes.

[DerivedPages](https://www.dropbox.com/s/4qfuutzb9dwbdyr/DerivedPages.zip?dl=0)

[2017-01-11 15:43] jalvarezz commented on #12
Thanks Leo, my bad for not reading the docs slowly. Managed to make it work after the **player was deployed with the Registered Assemblies**.

[2017-01-11 17:41] jalvarezz commented on #161
Hi, im having this issue trying to use a RelativeLayout with Contraints but with a different message:

Message: "Cannot read property of 'ISSUE_XAML_AREA' of undefined"

Log File: "Gorilla Server: warn: Found assembly Xamarin.Forms.Core but versions are incompatible. Expected 2.0.0.0, existent 2.2.0.45"

Dont know why the Gorilla server is picking the core 2.0 instead of the 2.2.

[2017-01-13 08:45] LeoHere commented on #161
@jalvarezz Can you share the XAML you are trying to preview or the part causing the issue ?

[2017-01-27 07:41] nnddnn commented on #184
Yes, please make it for 2017RC!

[2017-02-02 10:17] Mr-Pearce opened #188 "Image Preview not working from IOS Asset Catalog?"
Hi i am having some images in the IOS Asset Catalog and there working fine inside my app.
But there are not shown in the Preview.
I searched for Asset Catalog here but found nothing.

Example:
**in my Asset Catalog**
` myimage (with its coresponding files)`
**in Xaml**
`<Image Source="myimage.png"/>`
Is it even possible?

[2017-02-03 10:48] LeoHere commented on #188
Hi @Mr-Pearce, currently we don't support it.

[2017-02-03 16:41] suringr opened #189 "Gorilla player does not connect to server"
the gorilla player does not connect to server,

1. i am using android emulator.
2. allowed gorilla player application in the F/W
3. server is installed and running
4. i tried manually ,still didnt work

![gorilla player](https://cloud.githubusercontent.com/assets/25533311/22599598/28e4be80-ea40-11e6-9ab0-0d96b9fb985c.PNG)

any help will be appreciate

[2017-02-10 22:45] DeRas commented on #184
I'm also interested in a VS 2017 plugin :)

[2017-02-14 01:17] LeoJHarris commented on #189
Gorilla player was working months ago, sadly not anymore, facing the same issue as above.

[2017-02-14 10:35] LeoHere commented on #189
Did you guys tried with the [Troubleshooting Connectivity Guide](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Troubleshoouting-Connectivity)?

[2017-02-15 00:01] LeoJHarris commented on #189
Investigated trouble shooting solutions still cannot connect and keeps saying looking for server named "Good Gorilla", please wait...

Also configured add rule with firewall still same issue. When i manually attempt to connect to the server it times out, it points to my ip address with port number 9014. This is all the information I can provide at this stage.

[2017-02-15 12:55] LeoHere commented on #189
Ok. Can you please check if the firewall rules are set on both Private/Public Profiles

![image](https://cloud.githubusercontent.com/assets/16000584/22975019/ce000c04-f363-11e6-839b-5c74e77d88bb.png)

Also, are you able to access the internet from the simulator?

[2017-02-26 20:53] Cristian126 commented on #184
A VS 2017 plugin will be great!

[2017-02-27 10:24] Mr-Pearce commented on #184
Since Visual Studio 2017 will be released in about a week  [Link](https://launch.visualstudio.com/?utm_source=ms&utm_medium=banner&utm_content=vscom&utm_campaign=vs2017rtm)
A VS 2017 Plugin would be really great.

[2017-03-03 00:40] v1rtu41m4n opened #190 "Problem with specific IValueConverter Static Resource not Found"
i had a problem with a specific IValueConverter, currently I have two on my page but in only crash with one of them, I already register the types on android main activity and configure it on gorilla.json (by the way both converter are in the same assembly same namespace) but I had have not luck, any help should be appreciated.

This is the xaml with the working converter:
`<Grid HorizontalOptions=

[2017-03-03 00:57] v1rtu41m4n commented on #190
the error persist I the resource is defined on the same page

`<converters:IsLikeSetByProfileColorConverter x:Key="IsLikeSetByProfileColorConverter" />`

[2017-03-05 23:59] weitzhandler commented on #184
Would love to see VS 2017 support too.
Thank you!

[2017-03-06 01:19] LeoJHarris commented on #189
Checked the firewall rules, exactly as you you describe and simulator connects to internet. Same issue happening

[2017-03-10 21:04] attrib75 commented on #184
Now that VS2017 is out, does Gorilla Player work for it?

[2017-03-11 13:34] No1e opened #191 "Resource not found in derived pages"
I noticed that Gorilla get confused :-) when rendering page that is derived and have resources defined in resource dictionary for example:
    <ContentPage.Resources>
        <ResourceDictionary>
            <omsConverters:NegateBooleanConverter x:Key="boolInvert" />
        </ResourceDictionary>
    </ContentPage.Resources>

He is not able to resolve converter, not even styles in App.xaml.

Page

[2017-03-11 17:05] cdrwolfe commented on #189
Similar issue, server is up and connected to internet, as the iOS version of player works fine and is able to find and connect to the same server. But no player for Android.

[2017-03-12 08:10] JasonColeyNZ commented on #89
Any news on this, I am a new Xamarin/Gorilla developer, I use a Converter to load the images, when I need them, based on values in the underlying data. The convert is being fired fine using the sdk method, however return ImageSource.FromResource("XXX.Content.Images.image.png"); doesn't work, the form however loads fine without gorilla.

[2017-03-13 12:38] LeoHere commented on #191
Hi @No1e,

Yes, I can confirm this is an issue.

Workaround, instead of doing this:

[code]

Try doing as follows:

[code]

Hope it helps.

[2017-03-13 13:01] No1e commented on #191
Thanks Leo.

In the mean time, I found another workaround, and that is to maintain resource dictionary in App.xaml.

So, pages are rendering fine, but the strange thing is that non of converters are getting called.

How can I resolve this?

[2017-03-13 17:46] DineshBabuYadav opened #192 "Gorilla player seems to be not working in Custom controls."
Hi Team,

First of all I would like to thank you guys because you have done a great job. It helps the developer to design the view in very efficient manner and saves time a lot.

I have followed the steps as per the below documentation link and used the XLabsControls sample for a reference to achieve the requirement “Design the custom control with gorilla player” but it seems that custom controls

[2017-03-14 10:28] LeoHere commented on #191
Can you provide an sample of what you are doing so I can test it?

[2017-03-14 11:51] No1e opened #193 "Preivew Pages from another assembly"
Hi,

Lets say that I have core framework (PCL, Droid, iOS, UWP) that I share among my apps, and in this framework I have some pages.

I have reference to respective assemblies in my app and I would like to preview those pages from core framework, since they are using styles defined in app.

Is it possible to preview pages from another assembly?

Thanks

[2017-03-15 05:22] chxxangie opened #194 "Gorilla player is unable to auto discover in emulator"
I am using Visual Studio 2015. Gorilla player is up and running on desktop.
But when I launch gorilla player in the emulator, it is not able to auto discover the server. I tried to perform the manual setup to key in "http://localhost:9014", it is not able to connect also.

![image](https://cloud.githubusercontent.com/assets/26426141/23934728/3f847264-0982-11e7-8609-96c14834b3ba.png)

Please help t

[2017-03-16 09:38] LeoHere commented on #184
@attrib75 @weitzhandler @Mr-Pearce @Cristian126 @DeRas @nnddnn @TonyHenrique @ShiroYacha attached you can find the VSIX for VS2017. Please let me know if you found any issue.

[UXDivers.Artina.Player.VSAddin.vsix.zip](https://github.com/UXDivers/Gorilla-Player-Support/files/847243/UXDivers.Artina.Player.VSAddin.vsix.zip)

Needed to zip it since Github don't allow uploading .vsix files directly. Ju

[2017-03-16 11:53] DeRas commented on #184
I got it working. Holy crap its good :) Thanks @LeoHere !

[2017-03-17 02:29] attrib75 commented on #184
Works great!  Thanks!

[2017-03-17 09:28] weitzhandler commented on #184
@LeoHere
Is this going to be added to the VS extension gallery?

[2017-03-20 10:36] LeoHere commented on #184
@weitzhandler, Yes we will.

[2017-03-20 10:40] LeoHere commented on #193
No, currently this is not possible. Is there any reason why you can't preview it from the source code of your core framework?

[2017-03-20 11:16] LeoHere commented on #194
@chxxangie did you go through our [Troubleshooting Connectivity](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Troubleshoouting-Connectivity) document?

[2017-03-21 19:17] DineshBabuYadav commented on #192
Hi @LeoHere ,

Thanks for the solution.

Regards,
Dinesh Babu Yadav

[2017-03-22 11:29] genilsonmm opened #195 "Gorilla Player doesn't works in Visual Studio 2017"
I believe that there aren't plugin yet to VS2017

[2017-03-22 11:38] jpbrocca commented on #195
Hi @genilsonmm,

please download the VS2017 addin from here:
https://github.com/UXDivers/Gorilla-Player-Support/issues/184

Best,
JP

[2017-03-22 11:38] #195 closed

[2017-03-23 13:48] degant commented on #188
+1 for having images load from Asset Catalog

[2017-03-28 16:27] tonholis commented on #163
Hi guys!

Same problem here. I just installed Gorilla Player and I'm trying to use in an existing Prism project.
I put some <Color> and <Style> in App.xaml and when I call DynamicResource or StaticResource it doesn't work. It shows the error message: "Can't resolve resources..."

Is there any issues with Prism application?

[2017-03-29 09:02] LeoHere commented on #163
@tonholis, can you provide more details about your app? i.e. the ```App.xaml``` and the page you are trying to preview. You can trim all the stuff not related to the error if you need to. Also, if you prefer to share it privately, my email in in an earlier comment.

[2017-03-31 04:02] wiltwitt opened #196 "Unhandled Exception: UXDivers.Artina.Shared.LicenseException: Error reading license. occurred"
I created a starter kit and copied a GrialLicense to my existing app but I am getting  "Unhandled Exception: UXDivers.Artina.Shared.LicenseException: Error reading license. occurred" error.  It has same project name, package name, and all.   Android app builds but fails at UXDivers.Artina.Shared.GrialKit.Init(this, "myapp.GrialLicense");

Is there a list I can find to check off?  thanks (FYI. star

[2017-03-31 12:28] Mr-Pearce opened #197 "Shared Styles not Loading (Merged ResourceDictionarys)?"
Hi i have a Project with Shared Styles and Merged ResourceDictionarys  like
[Here](https://github.com/therealjohn/Xamarin-Samples/tree/master/SharedStylesTest/SharedStylesTest)
I Added the the SDK to my IOS Start Project.

Everything semms to works fine except that i get "Can't resolve resources:"
on my defined Colors and Converters inside the Themes.xaml
which are used like in the Page1.xaml

my

[2017-03-31 17:39] LeoHere commented on #196
Please ensure that:
- ```GrialLicense``` has build Action Embedded Resource and is included at the root of your Android project
- Invoke ```GrialKit.Init``` passing the name of the embedded resource, which is ```<Default Namespace of the Container Project>.GrialLicense``` (assuming that the license file is called ```GrialLicense```). So for example, if your default namespace is ```my.cool.app```,

[2017-04-02 09:36] LeoHere commented on #197
@Mr-Pearce merged dictionaries are not supported in Gorilla 0.9.1.2. Write me an email (l r o d r i g u e z at uxdivers.com) and I can provide you with the latest dev version that support them.

[2017-04-03 20:02] SamyCode opened #198 "Can't get Gorilla v1.0.0.2 to connect to IOS emulator"
Hi people

We are using Grial IU Kit version 2. Everything runs fine on Android. We edited the IOS AppDelegate.cs accordingly but on IOS emulator Gorilla would never connect. What's wrong??

[2017-04-04 09:52] LeoHere commented on #198
@SamyCode when you said "never connects" you mean it is never discovered? Or the server is  discovered but was soon as you tap in the server it does not connect? Did you tried connecting manually?

Also please take a look at the troubleshooting guide [here](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Troubleshooting-Connectivity).

[2017-04-05 09:34] deveshigate commented on #62
I am still getting same issue (version is 0.9.1.2). Is there any solution ?

[2017-04-05 12:35] LeoHere commented on #62
@deveshigate version 0.9.1.2 uses default port 443 (https) for authentication. I don't thing this is a firewall issue...

Did you received a verification email and verified your account?

Please, send me an email to l r o d r i g u e z at uxdivers.com and tell me which email you used when you register to Gorilla and I will check the logs.

[2017-04-05 15:56] james-lavery opened #199 "Problems setting up SDK"
I'm trying to set up the SDK for my project, but am running into problems when displaying pages.

My XAML page is:

[code]

And my Gorilla.json is:

[code]

And my assembly registration in my Main Activity is:

[code]

However, I'm getting the following error

![nexus 5 lollipop screenshot 1](https://cloud.githubusercontent.com/assets/1755678/24714371/3229cdd6-1a20-11e7-9940-f2fe2b5c48d2.png)

and

[2017-04-05 16:26] james-lavery commented on #199
It appears it's to do with my Grial assemblies. If I try to view a new test page with no special content, I still get the error:
![nexus 5 lollipop screenshot 4](https://cloud.githubusercontent.com/assets/1755678/24715853/e55fef4e-1a24-11e7-9997-41f4334f732c.png)

And the offending part of _App.xaml_ is:

[code]

[2017-04-05 16:50] LeoHere commented on #199
@james-lavery the "Resource not found" error is because the ```MergedWith```, used in Grial ```App.xaml```, is only supported in Gorilla >=1.0.0.2. Please email JP, he can provide the appropriate Gorilla version.

[2017-04-06 10:43] james-lavery commented on #199
@LeoHere Hi Leo - I've updated to V1.0.0.2, but am still getting the problem.
Snippet from my app.xaml is:

[code]

I still get the error screen:
![nexus 5 lollipop screenshot 5](https://cloud.githubusercontent.com/assets/1755678/24750109/9fda9f2a-1abd-11e7-951c-cf77d31c345f.png)
And the details of the Resources error:
![nexus 5 lollipop screenshot 6](https://cloud.githubusercontent.com/assets/175

[2017-04-06 13:18] LeoHere commented on #199
Couple of questions:
- Where are themes located?
- If you run the app it works as expected?
- Can your attach your AppDelegate or at least the portion related to Gorilla SDK setup?
- Regarding the OnIdiom error, that is something I will need to take a look at. I will let you know as soon as I do.

[2017-04-06 13:56] No1e opened #200 "Crashes on iOS and Android"
Recently I updated my project to Xamarin.Forms 2.3.4pre6 and started to get crashes on both iOS and Android platforms:
- On Android some times the same page can be previewed, sometimes it crashes: I get very often this:

[code]

- On iOS I get exception at startup when loading gorilla app:  Is Gorilla (+ dependencies) installed in the platform specific project?

Any ideas why this happens?

[2017-04-06 14:32] james-lavery commented on #199
* Themes are in (PCL project root)/Themes, so:
    * (root)/Themes/GrialLightTheme.xaml
    * (root)/Themes/GrialDarkTheme.xaml
* App runs fine

MainActivity is here:

[code]

[2017-04-06 21:18] LeoHere commented on #199
Thanks for the info.

The problem might be related to the fact that ```Musterd``` is not registered in ```Gorilla.json``` known assemblies. And the ```MergedWith```.

Two things to try:
1) Remove ```knownAssemblies```. This property is optional in Gorilla >=1.0.0.0. If you don't specify it all the assemblies referenced by the project will be considered as known.
2) Add ```Musterd``` to the ```know

[2017-04-06 21:40] james-lavery commented on #199
@LeoHere So I've remove the KnownAssemblies -my Gorilla.json now looks like:

[code]

My MainActivity is unchanged, with the configuration being:

[code]

Unfortunately - still the same errors.

[2017-04-06 22:30] LeoHere commented on #199
Did you restarted Gorilla desktop app after doing those changes? If not, please do. It should not be necessary but lets test that just in case there is an error processing those changes.

Also, can you double check that you desktop version of gorilla is 1.0.0.2? I mean, check that is was correctly updated once you installed it. You can see this in the about page.

[2017-04-07 06:36] james-lavery commented on #199
@LeoHere - Aha! The desktop is still 1.0.0.0. The link from JP only had the NuGet packages for 1.0.0.2, not the desktop app.

I'll ask JP for the 1.0.0.2 of the desktop app too.

[2017-04-07 07:22] james-lavery commented on #199
Aha! That was it! I hadn't installed the latest player app (was fooled by the exe/dmg having the name V1.0.0.0 rather than V1.0.0.2).

Thanks - up and running now.

[2017-04-07 07:22] #199 closed

[2017-04-07 15:50] AlirezaRoshanzamir opened #201 "Error occurred while parsing the solution (Text data outside of root node)"
I got this error while viewing my XAML on android gorilla player.
Error occurred while parsing the solution (Text data outside of root node. Line: 4179 Column: 38 Char: :)
It seems to be node.js problem.

This is log file:

{"level":"error","message":"Gorilla Server: error: Xaml processing error Summary:\"Error parsing the solution\"; Message:\"Error occurred while parsing the solution (Text data

[2017-04-07 17:23] LeoHere commented on #201
@AlirezaRoshanzamir can you share the XAML you are trying to preview?

[2017-04-07 17:42] AlirezaRoshanzamir commented on #201
This is my xaml:
[code]

I used Prism framework and I added these lines to main activity:
[code]

I added these lines to Gorilla.json too:
[code]

[2017-04-08 18:15] alpha2aplicativos opened #202 "After installing gorilla on my VS 2015 I can no longer open my xamarin projects"
I confess I was thrilled with the app ad and I was a bit frustrated that it did not work properly. I am accustomed to working with WPF and Gorilla seemed to me the alternative of the skies to develop with xamarin however there are many bugs and I can no longer load my projects.
The installation occurred without any problems, however now my visual studio is constantly locking and my device running

[2017-04-10 11:37] LeoHere commented on #202
@alpha2aplicativos sorry for the inconvenience you have experienced.

Can you send me your Gorilla [Logs](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Gorilla-Player-logs-location)?

Does the problem goes away as soon as you uninstall the addin?

Gorilla VS Addin is pretty lightweight. It only tries to connect to the server once, during VS startup and doing it asynchronously. If the ser

[2017-04-10 13:39] alpha2aplicativos commented on #202
Hello Leonardo, thank you for replying. I waited about 10 minutes for my project to load and then this problem stopped. I visualized the logs as you had informed me and did not see any information that could indicate the problem to me. After some reboots of windows the problem stopped and the projects are loading normally and I tested the gorilla with a device in genymotion and it worked well. tha

[2017-04-10 13:51] LeoHere commented on #202
Ok, good to know.

I'm closing the issue now. If the problem reappear please reopen it.

[2017-04-10 13:51] #202 closed

[2017-04-11 09:11] LeoHere commented on #197
@Mr-Pearce is it working now? Please, close the issue if it is. Tks

[2017-04-11 09:54] #197 closed

[2017-04-25 13:40] iforlife opened #203 "GorillaCriticalException on iOS device with Xamarin.Forms_2.3.4.231"
This happens only when deployed to iPhone - latest iOS. When deployed to simulator(also latest iOS) it works fine.
Works fine with the version from the sample - 2.2.0.45.

Crashes on LoadApplication:
var gorillaConfiguration = new UXDivers.Gorilla.Config("Gorilla on mymac.local")							.RegisterAssemblyFromType<ViewModels.DesignTimeData>();
LoadApplication(UXDivers.Gorilla.iOS.Player.CreateApplica

[2017-04-25 17:54] iforlife commented on #55
In my case it was some invalid character in the json that I needed to escape. Once I moved the json in the xaml file as a resource it all turned purple because of the invalid character :) I still cannot make it work with the SampleData.json file though - it all needs to be included as a resource.

[2017-04-26 10:06] LeoHere commented on #203
The ```JSONLoader``` is a service exposed through the XF dependency service. Using the standard ```Dependency```. This error occurs when Gorilla is not able to resolve the service.

You can workaround this issue by adding
[code]

in the ```AppDelegate.cs``` before the ```LoadApplication```.

Send me an email to l r o d r i g u e z at uxdivers.com and I will send the download links for the new vers

[2017-04-26 10:08] LeoHere commented on #55
@iforlife can you post this issue in a separate thread please? Also please include details about the specific scenario you are trying to preview. Tks

[2017-05-04 23:54] univhack opened #204 "Windows blue screen"
My Win 8.1 instance blue screened when I tried to run the installer.

[2017-05-07 09:30] Bartmax opened #205 "Feedback: improve UX of gorilla player connect screen on landscape."
Right now, the top section of gorilla player takes half the space of the screen. Even having only one server the connect button and handshaking message requires scrolling the device on landscape. (at least on iPhone 6 Plus)

Making the "banner" smaller will improve this experience.

[2017-05-08 15:49] LeoHere commented on #205
@Bartmax thanks for your feedback. The **Connect** UI has been completely redone for the next version of Gorilla. One of the goals was to remove that big header, since as you said, takes too much space. Thanks!

[2017-05-08 16:55] #205 closed

[2017-05-09 09:09] Knight1988 commented on #198
How can you get the version 1.0.0.2
I can only download the version 0.9.1.2

[2017-05-12 04:57] pravinpatil83 opened #206 "Gorilla Player 0.9.1.2 MergeWith Resource Dictionary Issue."
When will the new version of Gorilla Player available to support Grial Kit with resource dictionaries?

[2017-05-12 05:33] LeoHere commented on #206
Write me an email to l r o d r i g u e z @ uxdivers.com and i will share it with you.

[2017-05-14 19:12] stather opened #207 "Resources being ignored vs 2017"
Using vs2017, just can't get gorilla to recognize resources defined in app.xaml. Defining same resource in page resources works fine... ANyone else seen this?

[2017-05-19 14:23] mdowais commented on #184
I have created a blank PCL Project, and i get an error
"Error occurred while setting Gorilla Target XAML. File Name MainPage.xaml
(Internal Error) Check Logs<..>"

{"level":"info","message":"Gorilla Server: info: Adding solution (from VS - 15.0): PATH_TO_PROJ\\visual studio 2017\\Projects\\App5\\App5.sln \r\n","timestamp":"2017-05-19T14:10:08.791Z"}

{"level":"info","message":"Gorilla Server: info

[2017-05-22 10:45] LeoHere commented on #184
@mdowais, no you don't need to do anything special, it should work.

Is there any special character in the **PATH_TO_PROJ** portion of the path? If that is the case, can you try coping the solution to a different location to avoid that characters, and test it from there?

If that fixes the issue please sent me an email to l r o d r i g u e z at uxdivers.com and I will share with you the last dev v

[2017-05-22 10:58] weitzhandler commented on #184
@LeoHere is it in the ex. gallery?

[2017-05-22 11:45] LeoHere commented on #207
Can you share the XAML page you are trying to preview along with the ```App.xaml```?

[2017-05-22 17:06] mdowais commented on #184
i dono what happened but everything is fine now.. i guess there was a problem with the location path i guess... everything works fine now.. thaanks for the reply!!

[2017-05-23 06:42] nguyenthanhliemfc opened #208 "Please support Windows 10 Mobile"
I really like this app when working with Xamarin.Forms. Please support Windows 10 Mobile. Thank you!

[2017-05-26 07:29] planetpratik opened #209 "Support for Visual Studio 2017 Mac Edition"
Gorilla Player works fine on Xamarin Studio but there isn't yet any addin for VS 2017 Mac edition. Please Release VS Mac Extension as Microsoft's support to Xamarin Studio might end soon since it's focus is now on VS.

[2017-05-26 10:27] thE-iNviNciblE commented on #120
i've the same Error Visual Studio 2017 prof can't find any UXDriver Artina references... what is the problem, can't uninstall it. i had done a setup for the grial kit nuget repository...

[2017-05-29 12:45] walysonmax commented on #196
I renewed the license and is throwing this exception

[2017-05-29 13:20] LeoHere commented on #196
@walysonmax can you please elaborate a bit more on how you end up with this error? Did you double check that the ```GrialLicense``` is correctly setup and named (see my previous post)?  Also please check the [License Troubleshooting](http://uxdivers.github.io/Grial-UI-Kit-Support/docs.html#-grial-first-run-troubleshooting-license-issues) in the documentation.

[2017-05-29 14:43] walysonmax commented on #196
was changed build Action, thats ok, thanks

[2017-05-29 16:45] RicMoreira33 commented on #209
+1 This is important, as Xamarin Studio is not even available for download anymore (through their webpage). They only show VS now.

[2017-05-31 12:53] LeoHere commented on #209
Hi, the addin for VS for Mac can be downloaded from [here](https://goo.gl/xvIsy2).

To install the addin, within VS for Mac, Go to Visual Studio > Extensions > Install from file... and the Select the download mpack

Please let me know if you found any issue.

[2017-05-31 14:54] planetpratik commented on #209
Thank you. I just checked the addin on VS Mac and it works fine as expected. Only small issue is, it throws error for ResourceDictionary. Also tried testing latest Xamarin.Forms ( 3.0 Embedding ) - WeatherApp Sample but schema isn't recognised.

[2017-06-01 15:47] cjhannon84 opened #210 "Issue registering Solution"
Hi,  I am currently getting this:
![image](https://cloud.githubusercontent.com/assets/4202265/26688087/9b3bdabc-46e9-11e7-98df-127ace483442.png)

My Server is listening correctly from what i can see:

![image](https://cloud.githubusercontent.com/assets/4202265/26688157/d7a3c7bc-46e9-11e7-8c72-d37d9b24c74e.png)

[2017-06-03 06:59] #210 closed

[2017-06-03 06:59] cjhannon84 commented on #210
Anti virus was causing issues

[2017-06-03 09:48] LeoHere commented on #210
Ok, thanks for letting us know. Can you elaborate on how you end up in that conclusion and how you fix it? Just in case any one experience the same issue. Tks

[2017-06-05 05:50] nbaua commented on #163
I have the same issue too,
Even with the latest version of Gorilla player.

the below is the XAML label in a a test file.

This is the code on app.xaml

![code](https://cloud.githubusercontent.com/assets/17998763/26772043/bf6057fc-49e0-11e7-8f16-2a2fc323bd97.png)

What would be good Idea to resolve this quickly?

![samp problem](https://cloud.githubusercontent.com/assets/17998763/26771979/57031974

[2017-06-12 13:09] damiondaly opened #211 "Problem using Grial license in own project"
We have just purchased a licence for Grial and are looking for help in using that in our own project rather than the downloaded starter project.
We amended the MainActivity.cs, installed the appropriate nuget and Grial nuget packages, but we seem to have a problem with the license, the error is below:

"UXDivers.Artina.Shared.LicenseException: Internal license validation error."

For info, the sta

[2017-06-13 11:30] LeoHere commented on #211
@damiondaly closing the issue since you already found the solution. Please notice that the issue was created under the Gorilla project, not Grial. For future queries you might have, please post it under the Grial project.

[2017-06-13 11:30] #211 closed

[2017-06-16 12:59] ludovicLegl opened #212 "Vs2015 I can't see Gorilla preview"
Hello everybody,
I have a problem with Gorilla, I see the gorilla picture in the right corner of my xaml file, Gorilla is connected, I can see the xaml path in the Gorilla player status but I don't see the preview.
Do I miss something?
Is there something special to do with Vs2015?

Thanks in advance.

[2017-06-17 11:34] nbaua opened #213 "Gorilla Player can not resolve DynamicResource at <ContentPage> node level"
Hi,

I have following XAML with which I am trying to theme the application views,

`<ContentPage xmlns="http://xamarin.com/schemas/2014/forms"
xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
xmlns:prism="clr-namespace:Prism.Mvvm;assembly=Prism.Forms"
prism:ViewModelLocator.AutowireViewModel="True"
xmlns:ctrls="clr-namespace:AsNum.XFControls;assembly=AsNum.XFControls"
xmlns:behavior="clr-nam

[2017-06-18 08:23] LeoHere commented on #212
@ludovicLegl from what you describing it seems that you are doing everything right. Can you share more details about what are you trying to preview?

[2017-06-22 00:17] Faizaloh opened #214 "can't resolve resource issue"
Hi guys I am using Grial UI Kit and i got this error when i am using gorilla player
<img width="384" alt="screen shot 2017-06-21 at 10 31 00 am" src="https://user-images.githubusercontent.com/29616236/27411802-df24b3a6-56f8-11e7-9af7-ddc1ae3d3734.png">
<img width="381" alt="screen shot 2017-06-21 at 10 30 47 am" src="https://user-images.githubusercontent.com/29616236/27411804-e2d1697c-56f8-11e7-82

[2017-06-22 11:17] LeoHere commented on #214
@Faizaloh Gorilla 0.9.1.2 does not support merged dictionaries, that is why it can't find those resources. Write me to l r o d r i g u e z at uxdivers.com and I will share with you the latest version of Gorilla.

[2017-06-22 18:16] Faizaloh commented on #214
thanks @LeoHere  check your mail please

[2017-06-23 09:38] LeoHere commented on #214
Closing the issue. Feel free to reopen it or create a new one if you have further issues.

[2017-06-23 09:38] #214 closed

[2017-06-23 14:29] nguyenthanhliemfc opened #215 "It's not working on newst VS2017 (15.2 (26430.14))"
It's not working on newst VS2017 (15.2 (26430.14))

[2017-06-23 14:59] nguyenthanhliemfc opened #216 "Cannot show some color!"
Cannot show some color!
Ex: SteelBlue, etc

[2017-06-24 10:40] LeoHere commented on #215
@nguyenthanhliemfc did you installed the Gorilla Addin available in the VS Marketplace?

[2017-06-24 10:41] LeoHere commented on #216
@nguyenthanhliemfc can you provide an example of the XAML file you are trying to preview?

[2017-06-24 10:43] nguyenthanhliemfc commented on #215
every thing working fine before I update my VS2017. After update I cannot file Gorilla in Menu of VS2017. I have try uninstall and reinstall but it still not working

[2017-06-24 10:44] nguyenthanhliemfc commented on #216
Here is my full [Project Link](https://1drv.ms/u/s!Ah-5hC3QyJDai4kioTQ3Pl8xtltwYA)

[2017-06-24 11:02] LeoHere commented on #215
Yesterday I upgraded VS to the same version you mentioned and Gorilla kept working as usual.  I have just tried to uninstall and reinstall it from the Marketplace and it works as expected. Can you send me the logs to l r o d r i g u e z at uxdivers.com?

[2017-06-24 11:12] nguyenthanhliemfc commented on #215
Yeah. I'll try again. Thank you!

[2017-06-24 11:14] nguyenthanhliemfc commented on #216
Here is error image [Link](https://1drv.ms/i/s!Ah-5hC3QyJDai4pdSTcS9xib2JL1Bw)

[2017-06-24 11:22] nguyenthanhliemfc opened #217 "Please support auto connect!!!"
I have one phone to run Gorilla Player and debug app. But after debug, Gorilla Player on phone disconnect. Please support auto connect, Thank you!

[2017-06-25 11:28] LeoHere commented on #217
@nguyenthanhliemfc can you elaborate a bit more in your scenario? What are the steps you must take which let's Gorilla disconnected?

[2017-06-25 11:56] nguyenthanhliemfc commented on #217
I only one phone to run Gorilla and Debug app. When designing my phone run Gorilla and show my UI then I star debug my phone minimize Gorilla to run my app then I stop debug Gorilla resume and don't show my UI only show name of my pc I must click Connect button. Please support auto connect.

[2017-06-25 12:22] LeoHere commented on #217
Ok. The thing is that AutoConnect is already supported. I guess there might be a bug or Gorilla is nor properly configured.

Is the Gorilla app in your phone the one in the store or did you deploy it yourself?

[2017-06-25 12:25] nguyenthanhliemfc commented on #217
Yes I download from CH Play (Version 0.9.0.8) and on PC is from Visual Studio Market (Version 0.9.1.2)

[2017-06-26 11:22] LeoHere commented on #217
Ok. For the auto-connect to work you will need to do as follows:
1. Open the Player solution installed along with Gorilla (click on "Show Player and Samples location")

![image](https://user-images.githubusercontent.com/16000584/27536921-a17030c4-5a47-11e7-956d-d883752ea0fa.png)

2. In the ```AppDelegate.cs``` and ```MainActivity.cs``` make sure the name of the Gorilla server name passed to the ``

[2017-06-26 12:00] LeoHere commented on #216
@nguyenthanhliemfc I think the issue is that Gorilla 0.9.1.2 was built against an old version of Xamarin Forms where the ```SteelBlue``` color was not defined. In order to fix it, update Xamarin Forms to the latest version in the Player solution and deploy it to your devices.

[2017-06-26 12:44] nguyenthanhliemfc commented on #216
Thank you Leo! It's worked!

[2017-06-26 12:45] nguyenthanhliemfc commented on #217
Thank you Leo! It's worked!

[2017-06-28 15:21] huynq9 commented on #184
works like a charm!

[2017-06-28 21:43] #184 closed

[2017-06-29 10:07] #217 closed

[2017-06-29 10:07] #216 closed

[2017-06-29 10:08] LeoHere commented on #215
@nguyenthanhliemfc Is it working now?

[2017-06-29 10:38] nguyenthanhliemfc commented on #215
Sorry for late reply! It's worked thank Leo. In future Gorrila Player support UWP?

[2017-06-29 11:06] LeoHere commented on #215
@nguyenthanhliemfc thats great! That is a possibility for sure, but we still don't made any commitment to make it happen.

Closing the issue now.

[2017-06-29 11:06] #215 closed

[2017-07-04 07:30] Mr-Pearce opened #218 "Frame CornerRadius not shown in preview"
Using Xamarin.Forms 2.3.4.247
Gorilla 1.0.0.2
On iOS and Android

[2017-07-05 12:06] LeoHere commented on #218
What player are you using to preview? The one in the store, the gorilla Player solution installed along with Gorilla or the SDK?

[2017-07-05 13:53] Mr-Pearce commented on #218
The Player is my app using Gorilla SDK

[2017-07-05 15:25] EncryptedNomad commented on #218
Where can I download 1.0.0.2? All I can seem to find is the 0.9.1.2 and that prompts that it's the latest version

[2017-07-06 20:55] 15mgm15 commented on #209
This download should be on the main pages.

[2017-07-11 12:53] marcelojmacedo commented on #199
Hi guys, I am having the same problem here. Where have you got the version V1.0.0.2 of Gorilla player?
What is JPs email address?

[2017-07-11 14:29] marcelojmacedo commented on #198
Hi, the same problem here. How to get the last version?

[2017-07-11 21:11] LeoHere commented on #199
@marcelojmacedo write me to l r o d r i g u e z at uxdivers.com. I will share it with you.

[2017-07-14 05:31] amrahman96 opened #219 "Connectivity Issues link is broken on wiki main page"
The link listed is this:
https://github.com/UXDivers/Gorilla-Player-Support/wiki/Troubleshoouting-Connectivity

which has an extra "u" in it.

[2017-07-14 10:17] LeoHere commented on #219
Fixed. Thanks a lot!

[2017-07-14 10:17] #219 closed

[2017-07-14 20:07] pcresswell opened #220 "Question: How to determine which assemblies need to be registered with Gorilla player SDK"
Just trying to get setup with gorilla player using
Xamarin.Forms
Prism
GrialKit

Getting it working slowly. But getting a bunch of "Gorilla SDK Needed" messages telling me that basically I have some assembly missing in my setup. I'm just looking to figure out what I'm missing.

Is there anywhere in the logs that I should be looking to figure out what is still missing or why the message is appearin

[2017-07-14 20:15] LeoHere commented on #220
@pcresswell today we released Gorilla 1.0 + an GrialKit update (2.0.60). Starting with this version of Grial you can download it from the Grial Admin site with Gorilla integrated out of the box ([more info](http://uxdivers.github.io/Grial-UI-Kit-Support/release-notes.html)). In addition the assemblies already pre-registered in the grial solution you will need to include those from Prism.

[2017-07-14 20:18] pcresswell commented on #220
@LeoHere Let me download the latest. I saw the release but didn't get the sample today. Let me try that. Thanks for quick reply.

[2017-07-14 22:09] pcresswell commented on #220
Ok, downloaded latest. I think my main problem is that my App.xaml inherits from PrismApplication which - when I browse App.xaml - the player tells me lacks a default constructor.

@LeoHere Any chance you have another ticket on setting up a Prism Forms application? Should I add another inheritance layer to through in an empty constructor in my App.xaml?

[2017-07-14 22:30] pcresswell commented on #220
Created a base class to inherit from PrismApplication. Added an empty constructor and updated App.xaml.

Now being told by player Root element was not recognized, nothing to display.

Maybe didn't register some prism library correctly. Double checking.

[2017-07-14 22:59] pcresswell commented on #220
Seems like this is closely related? (https://github.com/UXDivers/Gorilla-Player-Support/issues/12)

[2017-07-14 23:22] LeoHere commented on #220
How are you configuring the ```Config``` object in the ```AppDelegate``` / ```MainActivity```?

At some point you should add:

[code]

Are you explicitly declaring the ```knownAssemblies``` in your ```Gorilla.json```?. In Gorilla ```1.0.0.15``` that is not mandatory any more. Try cleaning up that property too.

[2017-07-15 14:08] pcresswell commented on #220
Yes, those were registered. So if the root of my App.xaml file is

`<prism:PrismApplication`

Then browsing the App.xaml gives error that there is no default constructor for PrismApplication.

If I insert a new base class with a empty constructor, then the root is not recognized.

I'm going to try and convert the Gorilla sample to use prism and compare the results to see what else I'm missing.

[2017-07-16 19:18] pcresswell commented on #220
Hey @LeoHere

I've created a[ repo to demonstrate the setup I have](https://github.com/pcresswell/GorillaPrism).

I've omitted my GrialLicense file on purpose so you'll need your own :)

My [App](https://github.com/pcresswell/GorillaPrism/blob/master/TUL.Trainer/App.xaml) inherits from PrismApplication currently which gets Gorilla complaining about lack of default constructor. If you change the Ap

[2017-07-17 10:02] LeoHere commented on #220
@pcresswell I just downloaded the repo and tested it, but I'm not getting any error. The welcome page is previewed as expected.

Did you updated Gorilla desktop app to 1.0.0.15? (notice you need to manually uninstall the previous version before installing 1.0.0.15)

You can check the version of Gorilla in the about page.

Regarding the repo, yes please remove it. For future cases like this I can p

[2017-07-17 16:17] pcresswell commented on #220
@LeoHere I have removed the repo. Apologies for that.

Uninstalled Gorilla player and re-installed. Checked version 1.0.0.15 player installed.
Removed the app on iPhone device and re-installed.
Downloaded the Full Sample again from the website. Running the sample works (not using Player, just run iOS app) and displays all walkthrough screens properly on my iPhone 5. Check.

Back in VS for Mac, I c

[2017-07-18 03:42] pcresswell commented on #220
Have tried:
1. Uninstalling VS for Mac
2. Gorilla Player
3. Downgrading nuget versions.

Can't get the vanilla sample to display the LoginPage or most other pages unfortunately.

[2017-07-18 09:49] LeoHere commented on #220
@pcresswell the logs gave me a clue of what is wrong, which is the **player app**. You are trying to use the Player downloaded from the store to preview Grial, meanwhile you should use the player embedded in your solution.

When you integrate the SDK to your app, you are embedding the player in your app, and making all your assemblies available for him to use them during preview time.

In order to

[2017-07-18 14:39] pcresswell commented on #220
@LeoHere you are correct. That was exactly my setup. I had completely missed the nature of the SDK requirement of being executed. I completely understood this to be design time purely.

Once I actually run the player through the app and not the downloaded app, then things seem to be working. There's still the SDK warnings but that's likely just me missing an assembly but clearly it's now working.

[2017-07-18 14:39] #220 closed

[2017-07-18 18:27] listepo opened #221 "Integration with Rider"
Hi guys, have you plans to add [Jetbrains Rider](https://www.jetbrains.com/rider/) support?

[2017-07-18 23:00] LeoHere commented on #221
@listepo well, we briefly considered it but we decided to wait until we get feedback from you guys. You are the first asking for it. How many are interested in Rider support?

[2017-07-19 06:22] Nondisclosure opened #222 "Install failure"
Well, I've registered and downloaded 1.0.  But every time I try to install it, I get this error.
![gorilla error](https://user-images.githubusercontent.com/8573704/28353279-d907153c-6c0f-11e7-9507-a84383b75f1e.jpg)

I've tried this on 7 different pc's.  Downloading it 7 different times.

Any ideas?
TIA.

[2017-07-19 07:17] Goldstrike opened #223 "What about Visual Studio 2017"
Hello,

I have both VS 2015 Enterprise and VS 2017 Enterpise installed on my notebook.
I have well installed and configured Gorilla Player, but it seems only work on VS 2015:
- on VS 2015, I can find the Gorilla Player in "View" > "Other Windows"
- on VS 2017, I can't found it

Is it normal?

[2017-07-19 09:22] Goldstrike commented on #223
Finally solved by installing the vsix:
UXDivers.Artina.Player.VSAddin.vsix.zip

[2017-07-19 09:22] #223 closed

[2017-07-19 09:34] LeoHere commented on #222
Hi @Nondisclosure, any common denominator across those PC's? Like the version of windows?

You are the first to report this error.

[2017-07-19 13:30] harik567 opened #224 "Connects to Device but doesn't show up under tools in VS 2017 Mac"
I can get the player to connect with my device but the player doesn't show as an option under tools in Visual Studio 2017. Am I missing something?

[2017-07-19 13:33] harik567 commented on #224
Jumped the gun a little bit, this worked: https://drive.google.com/file/d/0B1DIdphp2epQMW5NeS1qcGxtRUk/view

[2017-07-19 13:33] #224 closed

[2017-07-19 14:05] MarcinDr opened #225 "Gorilla 1.0.0.15 'XamlCTask' task failed unexpectedly"
![screen shot 2017-07-19 at 16 04 28](https://user-images.githubusercontent.com/13198380/28371000-08fb0a82-6c9c-11e7-980f-2f547b815eb8.png)
![screen shot 2017-07-19 at 16 04 50](https://user-images.githubusercontent.com/13198380/28371004-0ab381f6-6c9c-11e7-87af-1b3fa5e74512.png)

[2017-07-19 18:15] nickl-martin commented on #218
In the latest Gorilla Player app version it now shows an error when setting the corner radius. Previously I believe it just didn't take the actual value into effect.

`Cannot assign property "CornerRadius": Property does not exists, or is not assignable, or mismatching type between value and property.`

Pretty easy to reproduce. Just make a frame with the corner radius property and view with Goril

[2017-07-19 18:48] Nondisclosure commented on #222
@LeoHere is there anything special about the install process; registry settings, special files created. etc.?

I noticed, using WinRAR, I can pull out everything and run it.

[2017-07-20 02:44] LeoHere commented on #225
Where are you getting this error? Player.sln your own solution? Did you try doing a clean & rebuild? XS or VS for Mac?

[2017-07-20 02:52] LeoHere commented on #222
There is nothing special in the installation process.

Did you managed to actually run Gorilla and signin?

Can you provide more details about to version of windows on which you are installing it?

[2017-07-20 06:02] Nondisclosure commented on #222
@LeoHere I figured it out.

There's 2 options on the first install screen.  I choose the "install for everyone on the computer" choice.  I would get the usual UAC warning, click yes, then it would go a little and that's when you get the error.

I just tried on another clean system but this time I chose to install only for the currently logged in user.  It worked like a charm.

I can log into it in

[2017-07-20 08:40] MarcinDr commented on #225
Yup, did clean & rebuild couple of times, didn't help. It's VS for Mac.

This is the player solution, wanted to install it on symulator/emulator - both solution fails (ios, droid)

[2017-07-20 09:00] kellelein opened #226 "Error occurred while setting Gorilla Target XAML"
I have just installed the new Gorilla Player ver. 1.0 for Xamarin Forms, but can't get it to work in a "real world solution". If I create a new solution in Visual Studio and play with different controls, the Player works just fine.

When I try to view a XAML file I get the folowing error message in Visual Studio 2015

"Error occurred while setting Gorilla Target XAML. File Views\MainPagePhone.xaml

[2017-07-20 10:00] LeoHere commented on #222
@Nondisclosure we will investigate what is going on. Thanks for sharing!

[2017-07-20 12:25] Slipoch commented on #182
I have this issue as well, verified still a problem after changing password. No firewall blocking the program and running in admin mode.

[2017-07-20 15:13] DelcoigneYves commented on #226
Are you targetting .NET Standard in your real world solution?

I have the exact same issue when targetting .NET standard 1.4.
Also when creating a "normal" .NET Standard project (instead of choosing to create a Xamarin class library and then converting to .NET standard), this issue occurs.

Logs are telling me this:
`{"processingIssue":true,"issueType":"error","position":null,"area":"Gral","scope"

[2017-07-20 15:15] vitorlans commented on #226
I also. I'm having the same trouble, I was able to use after remove ios and android from solution, but it's impossible to use this way.

from gorillaHost.log this is the only error I had.
`{"level":"error","message":"[Server] Xaml processing error Summary:\"Error parsing the solution\"; Message:\"Error occurred while parsing the solution (**Cannot call method 'toUpperCase' of null**)\" processingI

[2017-07-20 21:06] devology-rob commented on #208
+1

[2017-07-20 21:15] devology-rob opened #227 "Getting started isn't clear enough to embrace Gorilla, yet. ('Root XAML, element unrecognized, nothing to display.', 'Missing Data', LoadApplication with IoC, WhiteSmoke Xamarin.Forms.Color)"
Hi,

VS2017 on Windows 10 64Bit...

I have to admit that the first time I installed Gorilla and tried the process as a virgin I was very confused.

I had downloaded the official app to my device, yet during the startup guide it was telling me to load a sample project and deploy that Gorilla app to my device.  This seemed odd; I was expecting to the project XAML to be previewable into the official

[2017-07-20 21:55] devology-rob opened #228 "Should bindings to static BindingContext work?"
When I run my project, the view model properties are not rendered in my XAML page.  Should they be?

I have a XAML page setup like this..

[code]

The view model DiagnosticsViewModel is setup like this...

[code]

The MainActivity is setup like this..
[code]

[2017-07-21 00:21] CliffCawley commented on #225
I receive the same error on VS for Mac.

The log output reveals the error:
[code]

I've tried clean build, I've deleted the obj/bin folders. There's a `UXDiversGorillaPlayeriOS.pdb` but no `UXDiversGorillaPlayeriOS.exe.mdb` which is what it's looking for.

[2017-07-21 00:26] CliffCawley commented on #225
I was able to get it working by updating Xamarin.Forms to 2.3.4.247 :)

[2017-07-21 05:43] kellelein commented on #226
_Are you targetting .NET Standard in your real world solution?_

It's all standard, I'm targetting .NET Framework 4.5

[2017-07-21 08:10] LeoHere commented on #226
@kellelein, can you send me the logs to l r o d r i g u e z at uxdivers.com? (you can access them from the context menu in the system try)

@DelcoigneYves & @vitorlans, .NET Standard projects are not supported yet.

[2017-07-21 08:43] LeoHere commented on #182
@Slipoch can you write me to l r o d r i g u e z at uxdivers.com and provide me the email you are using to signin so I can check the logs? Also provide me more details about the OS where you are running Gorilla.

[2017-07-21 09:06] kellelein commented on #226
Mail send LeoHere :-)

[2017-07-21 10:15] LeoHere commented on #218
The problem is that both the player in the store and the `Player.sln` installed by Gorilla's installer are using Xamarin Forms 2.3.3.175, and probably `CornerRadius` was introduced in a later version of Forms. In order to fix the issue you just need to update the Xamarin Forms package version used in the `Player.sln` to the latest and deploy it again.

We will update the apps in the store to use t

[2017-07-21 10:27] LeoHere commented on #225
Thanks @CliffCawley. @MarcinDr just update the Forms package version to the latest and you will be good to go.

This error occurs when you are using VS for Mac (or the latest version of XS too) with a solution that uses XF < 2.3.4. The player is using XF 2.3.3.

I'm closing the issue now. Feel free to reopen it if you need to.

[2017-07-21 10:27] #225 closed

[2017-07-21 10:51] ormedo commented on #163
I´m having the same problem with a Prism application. cant resolve resources

[2017-07-22 10:24] LeoHere commented on #182
For future reference, the problem was that the email address of the account had not been verified.

[2017-07-22 10:24] #182 closed

[2017-07-22 11:59] LeoHere commented on #163
@ormedo did you register prism against the SDK?

Please take a look at [#220](https://github.com/UXDivers/Gorilla-Player-Support/issues/220) which might help you.

This issue is old and should be fixed in v1. I'm closing it. If you still had issues please create a new issue and reference this one.

[2017-07-22 11:59] #163 closed

[2017-07-22 15:14] peter-gabriel commented on #226
@LeoHere, are there any plans to support .NET Standard projects?

[2017-07-22 15:52] LeoHere commented on #226
@peter-gabriel yes, but we don't have a date, yet.

[2017-07-23 12:27] tomKrueger opened #229 "Color LightGray Causes Error"
Hey,

Getting error on Gorrilla Player on IOS.
XAML: Cannot convert "**LightGray**" into Xamarin.Forms.Color [pre] (xxx.xaml)

Doesn't Work (But works in emulator and Xamarin.Forms Previewer)
`<Label Text="!" TextColor="LightGray" />`

Works
`<Label Text="!" TextColor="Gray" />`

[2017-07-24 09:35] LeoHere commented on #229
Please take a look at #216. You will need to update the XF version of the player and deploy it again to your devices.

[2017-07-24 10:50] LeoHere commented on #227
Thanks a lot for your feedback. Agree that the walkthrough needs to be improved, specially clarifying when to use the standard player or the SDK.

Regarding your questions:

1. The SDK must be used for subtypes to work. The assembly that includes the subtype must be registered against Gorilla `Config` object.

2. The **Missing Data** banner is just a warning to tell you that there is no design-tim

[2017-07-24 11:13] LeoHere commented on #228
This is probably occurring because the assembly that includes the `DiagnosticsViewModel` is not registered in the `Config`. You will need to add a

[code]

In the `Config` object.

In Gorilla, the way to go regarding design-time data is to specifying it using the `DesignTimeData.json` file. While you are designing your screens JSON provides a fast, simple and convenient way manage the design time

[2017-07-26 19:46] cassionandi opened #230 "VS 2017 and VS 2017 preview conflict"
Guys, a I had VS 2017 and 2017 preview installs, Gorilla Player Tools and Status only show on the Preview version.

How can I directly install it under VS 2017 not-preview  ?

[2017-07-26 19:53] cassionandi commented on #230
okay, solved by installing this

https://marketplace.visualstudio.com/items?itemName=UXDivers.GorillaPlayerVisualStudioAddin

[2017-07-26 19:53] #230 closed

[2017-07-28 07:26] ShiroYacha commented on #136
Second this problem, it is quite a big deal really

[2017-07-28 11:57] kumarsathishD opened #231 "No able to connect to Gorilla remote server."
Hi,
while trying to connect to gorilla remote server ,its throwing me the following exception .Please have a look at it .

![image](https://user-images.githubusercontent.com/30171150/28716280-f927bd42-73b9-11e7-8a50-3796cce68651.png)

[2017-07-28 12:01] LeoHere commented on #231
When does this happen? When you try to signin? Can you disable you firewall for a moment and try again?

[2017-07-28 12:05] kumarsathishD commented on #231
yep firewall is disabled mode only ,Please find the attached log for more information

[logs.zip](https://github.com/UXDivers/Gorilla-Player-Support/files/1182946/logs.zip)

[2017-07-31 08:42] kumarsathishD commented on #231
@LeoHere The issue is resolved . The Problem is that if I install the gorilla player for all users means it is not working properly and I was not able to see .gorilla folder also I think there is a bug in the installer please clarify ? If I install it for the current user means then I am able to connect to gorilla player. Now I am able to access the remote server.
any tutorials or any links on how

[2017-07-31 08:42] #231 closed

[2017-07-31 09:32] LeoHere commented on #231
Great @kumarsathishD. Thanks for sharing.

Probably the [Getting Started](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Getting-Started) is what you are looking for. The [wiki](https://github.com/UXDivers/Gorilla-Player-Support/wiki) also has several other articles that might help you.

[2017-08-02 13:43] Yorch7 opened #232 "Error 'Artina' does not exist in the namespace 'UXDivers' when integrating gorilla sdk in my application"
Hi,

I'm trying to add Gorilla SDK to my solution wich has custom controls in order to use Gorilla Player, so I followed this instructions:

https://github.com/UXDivers/Gorilla-Player-Support/wiki/Gorilla-SDK

But I'm getting this exception:

Error CS0234 The type or namespace name 'Artina' does not exist in the namespace 'UXDivers' (are you missing an assembly reference?)

I'm missing some nugget

[2017-08-02 13:54] #232 closed

[2017-08-04 01:31] S1mB0t opened #233 "Can't paste password on login"
When using a password manager / vault it's unusual to have to reveal a password and type it into a login form.

Is it possible to allow pasting passwords in the password field of the player login form?

Thanks

[2017-08-04 09:41] LeoHere commented on #233
@S1mB0t yes it is possible, it will be enabled in the next update.

[2017-08-06 14:49] ShiroYacha opened #234 "StaticResource not found (Grial) when using template selector"
Hi,
It seems that if I use StaticResource from Grial, e.g. FontIconBase in a DataTemplateSelector, GorillaPlayer will crash and report:

[code]

[2017-08-06 20:47] ShiroYacha commented on #234
Well I have found a workaround to this issue, but I think this is indeed a bug. It seems that using Template selectors, the App resources are not loaded correctly. Some how I force the loading of resources by explicitly calling the App.InitializeComponent after loading the gorilla application.

[2017-08-08 09:24] beylkhanovdamir commented on #226
@LeoHere

[2017-08-12 03:37] nguyenthanhliemfc opened #235 "Support LightTheme!"
Please support LightTheme as on a real device?
Thank you!

[2017-08-12 09:58] james-lavery opened #236 "Support for custom fonts?"
Does GorillaPlayer support custom fonts in the App without using the SDK?

[2017-08-12 10:43] LeoHere commented on #236
@james-lavery no, it don't. Is using the SDK not an option in your scenario?

[2017-08-12 10:44] LeoHere commented on #235
@nguyenthanhliemfc can you clarify a bit more what you are talking about when you said LightTheme? VS?

[2017-08-12 10:48] nguyenthanhliemfc commented on #235
I mean when design Gorilla Player on phone always show Background color is black then Label text color is white. But when deloy to device Background color is white and label text color auto reverse to Black.

[2017-08-12 10:52] james-lavery commented on #236
Hi Leo - I could use the SDK, but actually I just want to test using custom fonts. I've put together a very small, light test app to do it.

[2017-08-12 10:52] #236 closed

[2017-08-13 15:14] attrib75 opened #237 "After installing latest version, old version still runs"
Installed version 1.0, old version still runs and says updates are available.  Ran uninstall.exe of old version, installed new version.  Still same result

[2017-08-14 10:19] LeoHere commented on #237
@attrib75 Gorilla 1.0 requires that you manually uninstall the previous version. But after you uninstall it it should stop bothering you. The only thing I can think of is that the "old Gorilla" was still open when you try to uninstall it so it fails and never uninstall...

Please try as follows:
- close any instance of Gorilla that might be running
- uninstall all versions.
- after uninstalling th

[2017-08-14 15:09] nazgul87 opened #238 "Your account is not active"
Hi, I'm trying to login into Gorilla player but I'm getting this message:

![image](https://user-images.githubusercontent.com/24664303/29277749-32058786-80d8-11e7-9410-505b4be07f95.png)

I was using beta version some time ago, so I already have an account.

can you help me to activate my account please?

What info do you need?

Thanks in advance

[2017-08-14 22:09] LeoHere commented on #238
@nazgul87 yes sure, please send me an email to l r o d r i g u e z at uxdivers.com from the email you used to register in Gorilla. Probably the email verification email got lost in your spam folder, and that is why Gorilla is complaining.

[2017-08-14 22:09] #238 closed

[2017-08-15 15:53] scharada opened #239 "Account login required but noway to create one.."
how to create a user and password to use Gorilla Player ? can't find anyway of creating one.

[2017-08-15 16:28] LeoHere commented on #239
Just go to [http://www.gorillaplayer.com/](http://www.gorillaplayer.com/) and click **Register now**

[2017-08-15 16:28] #239 closed

[2017-08-15 17:55] listepo opened #240 "Your account is not active, please contact support"
Hi, I have old account listepo@gmail.com and can not login. Error message 'Your account is not active, please contact support'

[2017-08-15 20:15] LeoHere commented on #240
@listepo check again.

[2017-08-15 20:15] #240 closed

[2017-08-15 20:43] listepo commented on #240
@LeoHere
![screen shot 2017-08-15 at 23 42 01](https://user-images.githubusercontent.com/2510800/29335469-6d2c335a-8213-11e7-82c3-ecd31938fe52.png) still an error

[2017-08-15 22:25] LeoHere commented on #240
@listepo My bad, sorry! Try again now.

[2017-08-16 00:28] sergioalejserrano opened #241 "Your account is not active, please contact support"
Hi, i have a problem with my account, "Your account is not active, please contact support"

Email: "sergioalejserrano@gmail.com"

Thanks

[2017-08-16 09:46] LeoHere commented on #241
@sergioalejserrano are you sure that email is right? I can't find find you :(

[2017-08-16 11:11] ShiroYacha opened #242 "Possibility to use a custom navigation page"
Hi,

I see that currently Gorilla only supports rendering of pages inside a navigation page configuring with the Gorilla.json file. I wonder if there could be support to register custom navigation pages (along with different renderers)?

Thanks

[2017-08-16 11:13] LeoHere commented on #242
@ShiroYacha can you describe a bit more what are your needs? What do you mean with "along with different renderers"?

[2017-08-16 18:35] listepo commented on #241
@LeoHere I have this error for my new account(listepo@hotmail.com) because after Forgot your password? for my account listepo@gmail.com I did not receive the mail

[2017-08-16 19:11] LeoHere commented on #241
@listepo I forwarded you the password reset link to listepo@gmail.com.

[2017-08-16 19:21] listepo commented on #241
@LeoHere thanks) Gorilla Player work) thanks a lot

[2017-08-16 20:58] ShiroYacha commented on #242
@LeoHere for instance, i'm using the iconize library https://github.com/jsmarcus/Iconize they have `IconToolbarItem` that use their font icon, but it only renders on `IconNavigationPage`. So with Gorilla, I can't really visualize the icons.

[2017-08-17 04:51] sergioalejserrano commented on #241
Sorry, my mistake, I forgot that when I created my account I did the work and not personal. My deepest apologies.

[2017-08-17 04:51] #241 closed

[2017-08-17 18:11] JCKodel opened #243 "Your account is not active, please contact support."
![image](https://user-images.githubusercontent.com/379339/29426851-4fa4d61a-835e-11e7-8b2c-68ca996ac1a1.png)

![image](https://user-images.githubusercontent.com/379339/29426868-5cf8aed6-835e-11e7-8770-47717ac0bcb8.png)

[2017-08-17 18:46] nazgul87 commented on #199
Hi @LeoHere , has the v1.0.0.15 of Gorilla player support for "OnIdiom" sentences directly on XAML?
Can you share me v1.0.0.2?

Thanks.

[2017-08-17 22:01] LeoHere commented on #199
@nazgul87 v1.0.0.15 is the newest version. Are you having issues with the `OnIdiom`? Can you share the XAML you are trying to preview?

[2017-08-17 22:16] LeoHere commented on #242
@ShiroYacha right, got it. You can't right now. We will consider for future release.

[2017-08-17 22:26] nazgul87 commented on #199
Oh, great. I tought that 1.0.0.2 was really 1.0.0.20.

And yeah, I'm testing with a very simple XAML and I'm having issues with OnIdiom.

This is my Code:

`<?xml version="1.0" encoding="utf-8" ?>`
      `<ContentPage xmlns="http://xamarin.com/schemas/2014/forms"`
`			 xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"`
`			 x:Class="LoginModule.Views.LoginPage">`
`	<ContentPage.Content>`
`		<

[2017-08-17 23:00] JCKodel opened #244 "Not working on .net standard"
I've created a blank project and everything works fine (I can see the XAML on my device and hot loading is working as intended).

Then, I've created a new .net standard class library and updated Xamarin Forms to version 2.4 (pre-release).

The following message is shown when I try to open a XAML from this .net standard project:

![image](https://user-images.githubusercontent.com/379339/29437394-a6

[2017-08-18 18:07] nazgul87 opened #245 "Iconize Support?"
Hi @LeoHere , I want to ask you if has gorilla player support to preview images using Iconize Plugin?

When I debug the app everything works fine, but when try to preview an icon on Gorilla player the app crash suddenly.

readying the logs files I found this message (text is too long but I think this is the important part):

Caused by: android.runtime.JavaProxyThrowable: System.MethodAccessExcepti

[2017-08-18 19:32] ShiroYacha commented on #245
Hi @nazgul87 , I have got Iconize to work. You will need to add in MainActivity.cs (same goes for AppDelegate.cs)
`
            // iconize
            Iconize.Init();
            Iconize
                .With(new MaterialModule());
`
then add in App.cs
`
            Iconize.With(new MaterialModule());
`
Note that I have instead the packages Xam.Plugin.Iconize & Xam.Plugin.Iconize.Material in the v

[2017-08-18 19:36] ShiroYacha commented on #192
Hi @LeoHere ,

I had a strange problem with rendering custom controls. It works but when a have a event registration in XAML, gorilla will complain about it... A workaround is to declare the events in the constructor, but this seems like a bug.

Could you please check if this is reproduce-able?

[2017-08-18 22:22] nazgul87 commented on #245
Hi @ShiroYacha , thanks for your comments.
 I did exactly what you said and I can't make it work.

I'm using the same NuGet packages (Xam.Plugin.Iconize & Xam.Plugin.Iconize.Material v2.0.0.29-beta).

This is my MainActivity.cs:

[code]

And my App.xaml.cs:
[code]

Note that I'm using PRISM. Do you see something wrong with the code?

thanks in advance :)

[2017-08-19 07:34] ShiroYacha commented on #245
Hi @nazgul87 ,

I'am also using PRISM :)...  it's weird I think that's all that I have done for Iconize.  However I have quite some workarounds to make Gorilla work not sure if some actually impacted the use of Iconize...

On the other hand, I am not sure how Gorilla really works w.r.t. the initializing the Prism application since we do not call `LoadApplication(new App())` (maybe @LeoHere can cla

[2017-08-21 19:45] attrib75 commented on #237
Thanks, that's the first time I head of an installer not knowing about previous versions, but I'll try it.

[2017-08-22 16:20] criistii opened #246 "Gorilla SDK Needed"
Hello,
I am using Grial UI Kit for a new Xamarin project. I have followed all instructions in setting up the environment. I am currently checking out the "Full Sample - Gorilla Ready" pregenerated solution. Each time I open an xaml file, I am getting the error: "Gorilla SDK Needed"
I checked the net, but there is absolutely no guide on how to fix this, please advice.
![21037676_10214103469890474_1

[2017-08-22 18:13] LeoHere commented on #246
@criistii probably you are using the player app downloaded from the Apple store, that is why you get these errors.

You should use the one integrated within Grial. Open `Full Sample - Gorilla Ready` solution, switch to `Gorilla` configuration, perform a clean, rebuild and deploy the app to the device or simulator.

You will see Gorilla Player starting, not your app. Use that player to preview.

We

[2017-08-23 00:07] cassionandi commented on #244
Same problem here.

I have lots of logs:

**gorillaHost.log**
`{"level":"info","message":"[Server] Client info: Platform = Android; OSVersion = 5.1.1; Device Model = samsung SM-J105M; Device Name = SM-J105M; Idiom = Phone; Screen Type hdpi\r\n","timestamp":"2017-08-23T00:02:09.457Z"}
{"level":"error","message":"[Server] Could not found assembly EngineIoClientDotNet with version <ANY>. It will be i

[2017-08-23 17:32] nazgul87 commented on #244
Same problem. Any solution???

[2017-08-23 17:36] nazgul87 commented on #245
Thanks @ShiroYacha, I'll try it hoping it works :P

[2017-08-24 09:20] criistii commented on #246
Hi,
Thank you for the feedback. That was exactly the problem! Please consider moving the "Deploying your own compiled Gorilla Player ..." to the top of the Walkthrough page and make sure to clarify that the store app will not work properly.

[2017-08-24 09:20] #246 closed

[2017-08-24 10:16] whitedevils commented on #244
also for me same problem, anyone has resolved it?

[2017-08-25 00:13] peter-gabriel commented on #244
.net standard was not implemented. See [#226](https://github.com/UXDivers/Gorilla-Player-Support/issues/226)

[2017-08-25 07:16] ShiroYacha commented on #172
@LeoHere hi, I have a similar issue... it seems that all new pictures and even some existing pictures are not showing up anymore (i deploy the player with the Gorilla configuration)... I am not sure if it's a XF image cache since i cleaned all data and reinstalled the app multiple times... i just stops working

[2017-08-25 07:32] whitedevils commented on #244
will be there an'implementation of net standard in the future?

[2017-08-25 07:54] Shadowing01 commented on #89
Came here looking for a fix to the same problem. Hope you guys find the time to include this into the player.

[2017-08-28 14:22] doxpi opened #247 "error "Cannot read property 'isSystem' of null""
Hi,
I try to install gorilla SDK. I'm using xamarin forms and freshMvvm (the project just beginning)
For a basic ContentPage this works perfectely (my loginPage for the moment not use freshMvvm).
All others pages are  based on FreshMvvm with a basePage (herit from FreshBaseContentPage).
When I stick Gorilla for the HomePage or ContactsPage for example there is an error "Cannot read property 'isSys

[2017-08-28 23:36] ctrexler commented on #177
Very sorry for the late reply, I got terribly distracted and finally decided to start this project up again and I'm experiencing the same issues. To answer your questions...

1. http://i.imgur.com/XSMR6nG.png
2. I'm no able to access from my device browser.
3. I performed a manual connection with the ip listed on the About page above:
http://10.182.19.113:9014
And the error Gorilla Player produced

[2017-08-29 05:42] thatdudedaniel opened #248 "Relative Layout Display Crash"
While using the relative layout in Xaml I am able to crash the IOS app by attempting to target any element that is given a x:Name;  by using  ElementName=Box1.

[2017-09-05 09:40] LeoHere commented on #243
@JCKodel were you able to signin?

[2017-09-05 09:46] LeoHere commented on #247
@doxpi can you share (here or to l r o d r i g u e z at uxdivers.com) the XAML of the page you are trying to preview?

[2017-09-10 09:42] DamianAntonowicz commented on #221
Looking forward for Rider integration!

[2017-09-10 10:50] Im-PJ commented on #218
@LeoHere Have you updated the player app in play store? I'm using latest version but still getting this error

[2017-09-11 08:30] doxpi commented on #247
Hi,
Have you received the code I send you to the adress lrodriguez@uxdivers.com <mailto:lrodriguez@uxdivers.com> last Tuesday 5 ??
I hope there is an answer for my problem…
Thanks..

[2017-09-11 10:03] LeoHere commented on #247
Yes, I received the files, thanks.

I took a look at them but don't find any important clue. Having a full solution where I can reproduce the issue would help a lot in order to diagnose what is going on. Can you provide it? (by email)

In the meantime, you mentioned that you were doing:

[code]

Which would register:
- `FreshBaseContentPage` -> FreshMVVM
- `ViewCell` -> Xamarin Forms

Xamarin Form

[2017-09-11 10:53] HideDev commented on #221
+1

[2017-09-11 14:48] akamud opened #249 "Error: Cannot call method 'toUpperCase' of null"
I'm using Gorilla Player 1.0.0.15, VS 2017.2, I am able to start the connection with Gorilla Player, but then when I open the XAML I immediately get an error message.

Looking at the logs, this is the error:

[code]

[2017-09-12 09:58] kayjoekahmann commented on #226
Is there any update to this issue yet?

[2017-09-12 14:44] No1e opened #250 "Gorilla Player Crashes"
Hi Leo,

I am getting a lot of crashes of Gorilla SDK. Here is what I use:
- Visual Studio 2017 Pro @ Win 10
- UXDivers.GorillaPlayer.Common 0.9.1.2
- UXDivers.GorillaPlayer.SDK 1.0.0.15
- Xamarin.Forms 2.3.4.224
- Android 6

I am getting 3 types of crashes. Here are logs from HockeyApp:
[Gorilla - Crash Type 1.txt](https://github.com/UXDivers/Gorilla-Player-Support/files/1296325/Gorilla.-.Crash.T

[2017-09-16 03:24] randalvance opened #251 "Array from Design Time Data or Resource not being displayed within Content View"
I have a `ContentView` that displays a collection using a `ListView`. The `ItemsSource` of the `ListView` is bound to the `ContentView`'s `Addresses` property which is a `BindableProperty` of type `IEnumerable<string>`. I then use the `ContentView` on a page. I tried passing it a static resource containing an array of values, and also tried binding it to a Design Time data property from `DesignTim

[2017-09-18 09:59] falahati commented on #243
Same here.
I received no activation email and as the result, cant log in.

[2017-09-18 18:51] LeoHere commented on #243
@falahati email me to l r o d r i g u e z at uxdivers.com from the email you used to register. I will manually mark you as verified.

Closing the issue now.

[2017-09-18 18:51] #243 closed

[2017-09-19 11:49] ebicoglu commented on #244
is this issue known by repo owner?

[2017-09-20 12:14] wvdvegt opened #252 "Colors"
Get an issue

Cannot convert 'LightGoldenrodYellow' into a Xamarin.Forms.Color

On the following attribute: TextColor="LightGoldenrodYellow"

[2017-09-25 04:46] ahmedalejo commented on #249
Returning to the jungle after two years and i got this error as well

![image](https://user-images.githubusercontent.com/7012074/30792688-e17ee9c0-a192-11e7-9cb8-668d1f401d13.png)
![image](https://user-images.githubusercontent.com/7012074/30792698-f5e3fc8e-a192-11e7-8712-9bc0852384c5.png)

It also seems not to like Shared projects
![image](https://user-images.githubusercontent.com/7012074/30792742

[2017-09-27 09:43] pYThMik opened #253 "Unable to connect app with gorilla SDK to server"
Hello,

I have a problem with my android app, modified to use the gorilla SDK.
The app runs gorilla and the connection screen shows the server. But when I tap on it, the screen "flickers" and returns back to the connection screen.
I can reach the IP:9014 page about page on the virtual device (Genymotion).
The gorilla app downloaded from the store connects without problem.
I already read the troubl

[2017-09-29 05:03] vijaypalve commented on #218
Frame CornerRadius not shown on ios

[2017-09-29 23:34] meluskyc commented on #221
Would love to see Rider support!

[2017-10-04 12:22] ShiroYacha opened #254 "Possibility of excluding preview on certain pages"
Hi,

I would like to know if there is/can be a feature to exclude certain page from being previewed by Gorilla (not the exclusion of navigationPage). So when you navigate to this page, Gorilla will just show a "Excluded" message and will not preview this page. This is for preventing certain limitations (some thirdparty libraries that are cannot initialized correctly with Gorilla player, and will c

[2017-10-04 13:59] ebicoglu commented on #226
Is there any update for .net standard?

[2017-10-06 10:39] LeoHere commented on #254
@ShiroYacha currently we don't provide such a feature.

Can you describe a bit more what are those libraries you are not able to preview?

[2017-10-06 10:53] LeoHere commented on #242
@ShiroYacha yesterday we released **Gorilla 1.1.0.4**. On of the features we included is what you requested here, is the ability to customize how the navigation page should be instantiated.

Essentially now the `Config` object have a property called `CustomPageWrapper` that if defined will be invoked to wrap those pages that needs to be displayed within a navigation page, for example:

[code]

The

[2017-10-06 11:36] ShiroYacha commented on #254
Hi, thanks for the quite response. Actually you are right, maybe to fix the source of the issue is more efficient.

For my problem, an example is to use Iconize:IconLabel, the label text must be set otherwise there will be an exception (we can argue that this is a problem with the library). However, when I try to create a custom control and use a bindable property to set the label text:
`Text={Bin

[2017-10-06 11:39] ShiroYacha commented on #242
Hi thanks for the info. I just downloaded the new version. I didn't know cuz when I use the Gorillay player menu "Check for update" it says that it is up-to-date. Can you confirm this?

[2017-10-06 11:45] LeoHere commented on #242
@ShiroYacha that is because we still didn't update the server to push the new version to all our users. Mainly because we are still working on the documentation for the localization feature. But you should be able to download it from the [download page](http://gorillaplayer.com/download.html).

[2017-10-06 11:56] LeoHere commented on #218
Hi All. Yesterday we released **Gorilla 1.1.0.4**. The player has been both in the store and the companion solution to **XF 2.4.0.282*. This issue should be fixed. Closing the issue now. If the problem persists open the issue again.

[2017-10-06 11:56] #218 closed

[2017-10-10 11:06] thisisthekap commented on #244
The usage .NET Standard 2.0 is critical to us. Without it we won't be able to use Gorilla Player. Any ETA on this feature would be highly appreciated.

Maybe #226 should be closed to stay focused on the issue?

[2017-10-10 13:44] HideDev commented on #221
@LeoHere, is there any news?

[2017-10-10 13:50] thabotharshan opened #255 "Grilla Player cannot identify resources after applying the Grail SDK"
I got "resources not found" error  in my page when i apply static & dynamic resources .It is just a simple page .There is no data  template or item templates.(simple buttons and labels)

This is happen after i applied the Grial tool kit. I applied Grial 2.0 , updated gorilla SDK to 1.1.0.4 and the desktop app to  1.1.0.4 .

Following is the code which i use in  my activity

[code]

Note
I  removed

[2017-10-10 16:41] LeoHere commented on #255
@thabotharshan can you please send me an email to l r o d r i g u e z at uxdivers.com with the page your are trying to preview. Probably is complaining about resources located in the `App.xaml`, but not sure without more details. Are you working on top of the starter project you downloaded from the Admin or on your own project?

[2017-10-11 16:34] thabotharshan commented on #255
@LeoHere

Hi Leo

I have just sent you a mail. Yes it is complaining the resources located at the app.xaml. There was no issue before applying the Grial toolkit. Same resource keys were there before applying the tool kit.I am not working on top the starter project .It is not possible to use the starter project while project is already developed for a certain stage. Thus i applied tool kit to exist

[2017-10-12 16:01] nazgul87 commented on #244
Hi, do you have plans for add support for .NET Standard projects now that an stable release of Xamarin.Forms (with .NET Standard support) has been released?

[2017-10-12 23:04] LeoHere commented on #244
@nazgul87 yes we have plans for it. @thisisthekap I can't commit to a date but we are about to start diving into this.

[2017-10-16 17:46] LeoHere commented on #244
Hi all, we have an initial version with .Net Standard support. Anyone interested in testing it with out own project? If so please send me an email to l r o d r i g u e z at uxdivers.com. Tks.

[2017-10-16 21:41] pYThMik commented on #253
Hi, can I have some help with this please? I'm still having the problem.

[2017-10-18 14:00] devp2017 opened #256 "Gorilla Embedded player XHR poll error"
When launching my application using the embedded gorilla player:
- if i choose a server (pc) to connect to. i get the following error : Could not establish the connection with the server (reason: xhr poll error)

If anyone can help me please

[2017-10-21 09:58] khadeeja-alif commented on #256
I'm getting the same error :/

[2017-10-21 15:20] pYThMik commented on #253
Now when I try to run the app with gorilla SDK it throw an System.IO.FileNotFoundException on this line:
LoadApplication(UXDivers.Gorilla.Droid.Player.CreateApplication(
				this,
				new UXDivers.Gorilla.Config("Good Gorilla")
				  // Register Grial Shared assembly
				  .RegisterAssemblyFromType<UXDivers.Artina.Shared.CircleImage>()
				  .RegisterAssemblyFromType<NotApp.Mobile.GrialShapesFont>

[2017-10-23 08:53] LeoHere commented on #256
@khadeeja-alif after some digging the issue seems to happen once you update Gorilla SDK dependencies to the latest version (e.g. `SocketIOClientDotNet`, `EngineIoClientDotNet`). Did you update those dependencies?

We are still working on figuring out why this is happening.

[2017-10-23 13:55] iemanuel commented on #256
i can confirm after nugget updates the same error. (reason: xhr poll error)

[2017-10-24 10:41] leemorris commented on #190
I am having the same issue with IConverters as StaticResources not being found.
I also have multiple RegisterAssemblyFromType statements in my MainActivity.cs, all for types that are in the same assembly. I do not have a Gorilla.json file.

### This is from my App.xaml:
[code]

### This is from my page
`                        <Label Text="No Values" IsVisible="{Binding IsVisible, Converter={Stati

[2017-10-24 11:30] pYThMik opened #257 "System.IO.FileNotFoundException on UXDivers.Gorilla.Droid.Player.CreateApplication()"
Hello,

I have a project based on my grial-starter solution.
I added the required lines for gorilla, but the app crashes on CreateApplication()

[code]

The code throws a System.IO.FileNotFoundException.
How could I investigate the problem? which file is it trying to read?
Did I remove something required in the solution ?
If I re-download the gorilla-ready app on Grial Admin, everything works fine

[2017-10-24 14:58] pYThMik commented on #256
I have the same problem. I have indeed updated all my packages.
SocketIOClientDotNet 1.0.3
EngineIoClientDotNet 1.0.3

[2017-10-24 14:58] pYThMik commented on #257
If I hit continue, then it works...

[2017-10-24 22:13] LeoHere commented on #257
@pYThMik are you debugging with the stop on all CLR exceptions checked? It looks like a normal exception that occurs while resolving a string in a `resx`...

[2017-10-25 07:37] pYThMik commented on #257
That was it. Weird though. Thanks

[2017-10-25 07:37] #257 closed

[2017-10-25 18:25] amin79 opened #258 "Gorilla stopped after connecting to the server."
Hi,
I ran the Player.sln in visual studio2017 and install Gorilla successfully in my Android simulator.

When I run Gorilla, it connects to the server successfully with a green tick. But suddenly it will close with the message : Unfortunately , Gorilla has stopped.
![image](https://user-images.githubusercontent.com/33101184/32015783-68f36998-b9c2-11e7-9d5b-01c76f072d81.png)
![image](https://user-i

[2017-10-25 18:26] jpbrocca commented on #258
Hi, could you provide more info about what are you trying to preview?

[2017-10-25 18:30] amin79 commented on #258
Thank you for your fast reply.
As I understood from the tutorials, I have at first to install Gorilla in my simulator and run it and then open any projects in Vs2017 to see the xaml forms in Simulator and I'm trying to do that.

[2017-10-25 18:34] jpbrocca commented on #258
You are welcome!

Gorilla Player will allow you to preview "common XAML", meaning that if you are using extra stuff like custom renderers, derived pages, etc., you will probably get some issues or directly you won't be able to preview some of those things properly. For such cases you can embed Gorilla SDK on your project, then you will be able to preview more things.

Being all that said, maybe th

[2017-10-25 18:49] amin79 commented on #258
I'm trying to use Grial UI.kit. But when Gorilla connects to the server, it has to remain open and then I open the project and go farther. But automatically and suddenly it shows the error and will be close.

[2017-10-25 18:58] jpbrocca commented on #258
You need to use Gorilla SDK.
When you downloaded your Grial customized sample you probably noticed it provides different settings you need to choose any one with Gorilla, that way you will have all the necessary setup made.

Then, you will need to run your app and you will get Grial with preview available.

Check the docs about previewing Grial with Gorilla:
https://uxdivers.github.io/Grial-UI-Kit

[2017-10-25 19:01] amin79 commented on #258
Thank you for your great support!

[2017-10-25 20:07] jpbrocca commented on #258
You are welcome!

Please remember to close this issue and help us to keep things tidy.

Best,
JP

[2017-10-25 20:13] #258 closed

[2017-10-25 20:30] rizaanlakay commented on #256
I'm getting the same issues :( Anyone find a solution yet?

[2017-10-25 20:46] LeoHere commented on #256
@rizaanlakay if you downgrade to these versions:
- `SocketIOClientDotNet` 0.9.13
- `EngineIoClientDotNet` 0.9.22
- `WebSocket4Net` 0.14.1

Which are the versions used in Gorilla 1.1.0.4, it should work fine.

[2017-10-25 21:50] rizaanlakay commented on #256
@LeoHere Awesome. Thanks for the assistance. Worked like a charm.

[2017-10-26 15:30] ruco1996 opened #259 "Your account is not active, please contact support."

[2017-10-27 09:54] iemanuel commented on #244
Any news on .Net Standard support?

[2017-10-27 09:56] whitedevils commented on #244
@LeoHere I'm available to test it with my project

[2017-10-27 09:58] thisisthekap commented on #244
@LeoHere We would also appreciate to test the .net standard compatible version.

[2017-10-27 12:02] LeoHere commented on #259
@ruco1996 this is probably because your email was not verified. May be the email end up in trash. Write me an email (l r o d r i g u e z at uxdivers.com) from the account you registered with and I will activate your account.

[2017-10-27 12:02] #259 closed

[2017-10-29 12:55] hades-incarnate opened #260 "[VS add-in] failed preview (missing solution?)"
I installed Gorilla player and VS add-in, localhos:9014 works. When I try to preview the XAML page I get an error in VS:

![image](https://user-images.githubusercontent.com/15175507/32143391-cdcd6894-bca8-11e7-9a96-c80684b51fcb.png)

None of the three logs seem to have any errors the only thing odd is that it keeps trying to find and then adds the solution every second:

[code]

[2017-10-30 09:12] LeoHere commented on #260
@hades-incarnate can you please send me the complete logs to l r o d r i g u e z at uxdivers.com?

Before doing so, please
- delete them
- restart Gorilla Desktop app (status bar icon-> Quit-> reopen)
- set verbosity in debug
- try to preview the page again a couple of times

[2017-10-30 20:32] nicolaimagnussen commented on #221
is it possible to use it somewhat even though you are not fully supporting it for Rider yet?

[2017-10-30 21:56] pYThMik commented on #253
This problem was gone after i reinstalled my PC. Strange since I didn't change anything in the solution in between... Closing the topic.

[2017-10-30 21:56] #253 closed

[2017-10-30 22:08] pYThMik opened #261 "Error loading XAML"
I have a few pages that works nicely. This tool is of great help.
But for one particular XAML page, I get the following error:
Error loading XAML [pre] ArgumentException. A resource with the key 'TestObject' is already present in the resourcedictionary.

My web searches about this issue gave no result.
Any ideas ? Thanks

[2017-10-31 10:27] LeoHere commented on #261
Can you share the XAML you are trying to preview? (if you prefer just send it by email to l r o d r i g u e z at uxdivers.com)

[2017-11-04 23:41] logikonline opened #262 "Base classes?"
Why can Gorilla Player not traverse a base class to find the root XAML element?

For both ContentView and ContentPage's, I provide a base class to enable common methods and properties for better code.  All the player has to do is follow these types to the root type and treat that as the Root Type.

Otherwise, the player really is not very useful from a developer's workflow.  Can you please enable

[2017-11-05 00:18] logikonline opened #263 "Open Source the player?"
Can you open source the player so we can extend it as well as 3rd party control vendors?  You do not charge for it, so it would be nice if the source was available for community contributions.

[2017-11-05 12:32] ddobrev commented on #226
Hello, I have a .NET Standard project for Xamarin.Forms, in fact, PCL seems not to work any more. So I have no choice - does Gorilla already support .NET Standard?

[2017-11-07 21:48] logikonline commented on #263
just saw this - https://github.com/UXDivers/Gorilla-Player-Support/wiki/Gorilla-SDK

[2017-11-07 21:48] #263 closed

[2017-11-13 08:00] Mr-Pearce commented on #260
Looks like i have the same issue.
Do you need more logs?

[2017-11-16 11:03] leemorris commented on #256
I received the same error after upgrading several nuget packages. Downgrading the 3 that LeoHere mentioned did not resolve, I also needed to downgrade System.Net.Sockets to version 4.1.0

[2017-11-17 18:02] gsaldana commented on #244
Hi @LeoHere, I'm very interested to test the project...I'll send you an email.

Thanks :) :+1:

[2017-11-20 08:17] thabotharshan opened #264 "Gorilla Player -Error occurred while parsing the solution"
Hi  ,
I  have a solution which was previously working fine with Gorilla player. Suddenly everything  went wrong and I am getting  following error.

**Error occurred while parsing the solution**

I found following error line in the log file

{"processingIssue":true,"issueType":"error","position":null,"area":"Gral","scope":"Sol","error":{"name":"TypeError","message":"Cannot call method 'toUpperCase'

[2017-11-24 23:09] douglasbustos commented on #244
send me the solution please:  douglas.bustos101@gmail.com

[2017-11-28 13:52] ideal-it-solutions commented on #246
good day @LeoHere  the solution did not work for me

[2017-11-29 11:07] teknikus opened #265 "Syncronize Gorilla Glass with genymotion and Visual Studio 2017"
When I write in visual studio 2017 a new change in code of file xaml. whithout compiled the change don't appear in emulate genymotion. You have a new compiled for display this.

[2017-11-30 11:07] leemorris commented on #260
I am seeing the same issue. Do yo need more logs?

[2017-12-08 15:59] IoTFier commented on #26
Hi @LeoHere, I am new to using Gorilla Player in Visual studio 2017 15.5 (GA).

I have not been successful in deploying -
1. Gorilla player to the android emulator running inside Visual Studio. Compilation and deployment of the player.droid gets hung... I kept my studio open for couple of hours and even then the deployment wasn't complete.
2. Installed Gorilla Player on my android device (connecte

[2017-12-08 16:54] IoTFier commented on #26
Hi @LeoHere , finally I could figure out the issue.
In my home network - as long as I am using the same wireless SSID on my PC and the physical Android device that is broadcasted by my main internet (provider's) wireless router, the connectivity works just fine. I used info from the Gorilla wiki page - https://github.com/UXDivers/Gorilla-Player-Support/wiki/Troubleshooting-Connectivity.  But this

[2017-12-08 20:22] victorarce commented on #206
Hi Leo,

MergeWith is not working for me. I have the dictionary in a separate project. How to accomplish this in GP?

regards

[2017-12-08 22:09] listepo commented on #221
Hi @LeoHere , any news?

[2017-12-12 13:10] Mr-Pearce commented on #260
is there any update on this error? Its two month old and Gorilla player is still not working

[2017-12-14 06:13] danielmeza commented on #244
Hi I want to test to, the email daniel.meza@senpai.com.co

[2017-12-18 08:46] winstongubantes commented on #244
hi i want to test as will please sent it to my email winston.gubantes@gmail.com

[2017-12-19 19:58] BrunoRuiz opened #266 "Unhandled Exception:"
System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation.

Hello, I'm having an error while trying to connect my application with my server. Has anyone had this problem and can you help me?

Thank you!
[gorillaHost.log](https://github.com/UXDivers/Gorilla-Player-Support/files/1573058/gorillaHost.log)
[gorillaPlayer.log](https://github.com/UXDivers/Goril

[2017-12-21 19:00] LeoHere commented on #260
@Mr-Pearce sorry for the delay. Unfortunately, we were not able to reproduce the issue so far. There is a new version of Gorilla with .NET Standard support (still beta testing it). If you want I can share the bits with you to test if the problem is fixed there. There were several changes in the way the solutions are loaded, so it might be.

If you want to test it write me to l r o d r i g u e z at

[2017-12-22 08:37] Mr-Pearce commented on #260
The new Version fixes this and works great

[2017-12-22 09:54] LeoHere commented on #260
@Mr-Pearce great! Thanks for let us know.

@hades-incarnate, @leemorris if you want to get it please please write me as I mentioned above.

[2017-12-26 15:04] viccotr commented on #91
Hi as I understand in the last version of Gorilla you have some changing in this solution.
So what is the best solution now?

[2017-12-29 14:58] viccotr opened #267 "Binding on page"
Hello, please help me.
How I can bind data for many controls on the page?
For example page TopLvlCustomTest.xaml :
`
<Grid HeightRequest="100" WidthRequest="200" BackgroundColor="Lime">

            <Label Grid.Row="0" Grid.Column="0"
                VerticalOptions="Center" HorizontalOptions="Center" VerticalTextAlignment="Center" HorizontalTextAlignment="Center"
                Text="{Binding Te

[2017-12-29 17:14] jpbrocca commented on #267
Hi @viccotr,

The main reason is that you have not structured your JSON properly to get the binding as it is in your image.

In order to get the bindings for your image and label you need to put binding properties and values at the root level of your page JSON object:

[code]

Best,
JP

[2017-12-29 23:52] viccotr commented on #267
Thanks a lot!

[2017-12-29 23:52] #267 closed

[2017-12-30 09:16] zhengg opened #268 "Generate Design Time Data missing from VS2017"
"Generate Designtime Data" option is missing from right clicking viewModel.cs file in VS 2017, however it works in vs2015.

The design-time data helper window (View->Other windows) is available in both versions of VS.

[2018-01-02 11:08] LeoHere commented on #244
Hi, Gorilla 1.2 with .NET Standard support has been released. Please check [this blog post](https://grialkit.com/2017/12/gorilla-player-1-2-net-standard-support/) for more information. Closing the issue. If you find out any issue please open a new one.

[2018-01-02 11:08] #244 closed

[2018-01-02 11:10] LeoHere commented on #226
Hi, Gorilla 1.2 with .NET Standard support has been released. Please check [this blog post](https://grialkit.com/2017/12/gorilla-player-1-2-net-standard-support/) for more information. Closing the issue. If you find out any issue please open a new one.

[2018-01-02 11:10] #226 closed

[2018-01-02 11:13] LeoHere commented on #260
Hi, Gorilla 1.2 with .NET Standard support has been released. Base on what @Mr-Pearce  tested, this version also fixes the issue mentioned here. Please check [this blog post](https://grialkit.com/2017/12/gorilla-player-1-2-net-standard-support/) for more information. Closing the issue. If you find out the issue still persists after the update feel free to reopen it.

[2018-01-02 11:13] #260 closed

[2018-01-02 13:39] viccotr opened #269 "What about dynamic view generation?"
Hi, can you help me?
If I want you control like this:
`...
 <StackLayout x:Name="LeftToolBarItemsContainer"/>
...
`
and in code behind use
`public IList<View> LeftToolbarItems { get; set; }`
  on page it will be like this:
`<toolbars:NavigationBar>
     <toolbars:NavigationBar.LeftToolbarItems>
          <Image Source="ic_back.png"/>
     </toolbars:NavigationBar.LeftToolbarItems>
</toolbars:Navig

[2018-01-03 01:27] #268 closed

[2018-01-03 01:33] zhengg commented on #268
Worked once move view model class to PCL from a shared code project

[2018-01-04 10:24] pYThMik commented on #256
Gorrila SDK 1.2.0 depends on newer versions of these 3 packages. Can we update them safely now ?

[2018-01-04 10:59] LeoHere commented on #256
@pYThMik Yes.

This is is fixed in 1.2. Closing the issue.

[2018-01-04 10:59] #256 closed

[2018-01-04 16:06] viccotr commented on #269
Done

[2018-01-09 14:55] viccotr opened #270 "Problem with image size on iOS devices"
Hi, I have some problem with image size on iPhone devices,

![img_20180109_162024_1024](https://user-images.githubusercontent.com/11430750/34726798-b6de2f4a-f55d-11e7-8abd-5b9fa7230158.jpg)
![img_20180109_161737_1024](https://user-images.githubusercontent.com/11430750/34726801-b962e288-f55d-11e7-95a5-07d3d4282fb9.jpg)

why in Gorilla image bigger?

[2018-01-11 03:37] Rimxak commented on #243
Hi

Can you activate this email: akortegag@inbursa.com please
Because in the company where I work, I can't send and receive extern emails from above email for intern policies of the company.

Thanks for you attention.

[2018-01-11 09:53] LeoHere commented on #243
@Rimxak, done.

[2018-01-11 14:19] Rimxak commented on #243
My account already works
Thanks

[2018-01-18 17:30] jt-github commented on #55
Strangely, I had this same issue.  I tried naming my json file the old way (SampleData.json) and the new way (DesignTimeData.json), putting different (very simple) sample data in it, moved it around to different places, and even destroyed and recreated it a few times, and I got the Missing Data error no matter what I did.

I restarted Visual Studio, the Gorilla client, and server multiple times an

[2018-01-19 19:59] jt-github opened #271 "Gorilla SDK Unable to resolve type"
I created a test Xamarin.Forms app just to try out the Gorilla SDK using a custom control and am unable to get it to work.  It does work as expected when using old-fashioned debugging on the Android simulator (deploying the app without using Gorilla Player or launching via Gorilla SDK).

I added and am trying to use the [FlowListView](https://www.nuget.org/packages/DLToolkit.Forms.Controls.FlowLis

[2018-01-23 08:10] biiconsulting commented on #232
For anyone else, like me, finding this page who's a complete newb when it comes to this stuff...

The simple answer is to the above problem is:  the usage page referenced above assumes you added Gorilla SDK to the sample Grial solution.  If that's not the case, you can remove all the ```.RegisterAssembly...``` entries in the example.

[code]
Technically, you can keep the last three entries by NuGe

[2018-01-23 17:48] LeoHere commented on #271
Hi @jt-github, I reviewed your solution and it looks fine. I think you are hitting a bug. For some reason (I still need to investigate it) Gorilla is not automatically generating the list of known assemblies from the project definitions.

As a workaround you can add the `Gorilla.json` (build action `None`) file at the root of the shared project. The content of the file should be:

[code]

Just in

[2018-01-23 21:10] jt-github commented on #271
Although I noted that I had already tried that in my post on GitHub, I must have used incorrect formatting or something, because after creating the Gorilla.json file, setting it to build action None, creating the DesignTimeData.json file, restarting Gorilla desktop app, cleaning and rebuilding and running my app, I no longer get the complaint about the SDK needing additional configuration (it sees

[2018-01-24 16:44] jt-github opened #272 "Crashing when attempting to use custom font"
If I follow the standard Xamarin Forms instructions for using a custom font on Android:
https://developer.xamarin.com/guides/xamarin-forms/user-interface/text/fonts/#Using_a_Custom_Font

And run an old-fashioned debug session on my emulator, the font renders as expected.  When I try to preview the XAML page in Gorilla Player, it immediately crashes with the following error in the logs:

There is a

[2018-01-29 07:38] BigRiceEater opened #273 "Xamarin.Forms x: namespace undefined in App.xaml"
I have installed Gorilla player on my emulator as per instructions. When I try to preview, the player will complain that the x: namespace is undefined in my App.xaml file on line such as:

`<Style x:Key="BaseEntryStyle" TargetType="{x:Type Label}">`

Some types are custom contentviews so it is not possible to remove the "x:Type" in the styles.

![image](https://user-images.githubusercontent.com/34

[2018-01-31 12:08] E-Mannan commented on #192
Hi @LeoHere ,

I am newbie to Gorilla player. I have checked the @DineshBabuYadav's sample with your solution. But, I am still facing the error **(Gorilla SDK needed)**. Please find the modified sample below and please provide me helpful solution.

**Sample:** [XLabsControlsSample.zip](https://github.com/UXDivers/Gorilla-Player-Support/files/1681364/XLabsControlsSample.zip)

[2018-02-06 11:52] iglesiasp opened #274 "Plugin is disabled every time I start VS2015"
My environment:
Win10 Pro / VS2015 Pro Update 3
Gorilla Player app 1.0.0.15 (it says "already latest version" when checked for updates)
Gorilla Player VS add-in says it's version 1.2.0.0

Every single time I start VS2015 the addin is disabled. I must enable it, VS prompts me to restart, and after that everything is OK.

It is certainly not "the end of the world", but sometimes it can be a bit anno

[2018-02-09 14:09] danialbakhsheshi opened #275 "I keep having Gorila player failed for my solution , error on initialization"
Here is the error logs I get :
https://drive.google.com/open?id=1TTJwgoB9T_ou5Xv8lrkzEuNxg9XXUCx7

Gorilla player works fine on your sample project but the moment I try to connect it with my project it fails, I use netstandard2 .
please help me out ASAP.

[2018-02-14 00:28] tplooker commented on #244
Hi I am still having troubles with this, I sent my logs to your email a few days ago, did you recieve them? I couldnt find anything pertaining to why the project was failing to preview, the gorilla player host just kept restarting until it gaveup.

[2018-02-14 16:44] cassionandi commented on #275
Same here, trying it on VS4Mac, works on the ContentView example, but not on my .net standard 2.0 project.

[2018-02-17 10:27] LeoHere commented on #275
@danialbakhsheshi @cassionandi can you provide a solution where I can reproduce the issue?

[2018-02-19 16:21] LeoHere commented on #275
@danialbakhsheshi as I said, if you can provide me with a solution where I can reproduce the issue I might be able to help you. From the logs, I can't tell what is wrong.

[2018-02-20 08:41] Mr-Pearce commented on #275
I have kinda the same problem.
I Switched my shared projects to netstandard 2.0 project but now suddenly the gorilla player server crashes when i connect to it with my solution loaded
_(via View->Other Windows-> Gorilla Player Status)_.

I mailed you the logs and a stripped solution structure(probably wont build but also reproduces the server crash on connect)

[2018-02-20 09:49] LeoHere commented on #275
@Mr-Pearce thanks. Quick question: are you working on Windows or Mac?

[2018-02-20 10:04] danialbakhsheshi commented on #275
Windows

On 20 Feb. 2018 8:49 pm, "Leo Rodríguez" <notifications@github.com> wrote:

[2018-02-20 10:51] Mr-Pearce commented on #275
Windows with Visual Studio Pro 2017 V15.5.6

[2018-02-20 10:52] cassionandi commented on #275
Sorry for being late.

An example is attached.

Just created an new Xamarin Forms App Blank App Solution/Project with .net 2.0 for the core library. Open Gorilla Server, Open Gorilla Player on Emulator and Devices, open MainPage.xaml on VS for Windows 15.5.3
[AppGP.zip](https://github.com/UXDivers/Gorilla-Player-Support/files/1739773/AppGP.zip)

[2018-02-21 16:34] LeoHere commented on #275
I was able to reproduce the issue with the solution sent by @Mr-Pearce. I will keep digging on the issue and keep you posted with my findings.

[2018-02-23 11:24] peresbruno commented on #221
+1

[2018-02-23 13:23] Liberi commented on #221
+1

[2018-02-26 18:33] LeoHere commented on #275
@danialbakhsheshi @cassionandi [here](https://drive.google.com/drive/folders/1MI6RSelgCBxEZ0FG8aB-gPUX9dgsTTAz?usp=sharing) you can download 1.2.0.4. It fixes (at least) the issues found in the sample app shared by @Mr-Pearce.

@danialbakhsheshi from what I saw in your logs, it should fix your issues too.

@cassionandi I still didn't have the chance to test the solution you sent. Please test the n

[2018-02-27 11:21] danialbakhsheshi commented on #275
Ok thanks but all I did was running the setup file in my computer and it looks like it is working ok but everytime I run the gorilla player on my phone it shows a warning to install the SDK, may I know if I need that and how can I do that?

[2018-02-27 11:35] HuenderBr commented on #221
+1

[2018-02-27 11:44] cassionandi commented on #275
@LeoHere the 1.2.0.4 version worked like a charm both on Windows and Mac with my sample. My original project seems to be a bit more complex with lots of dependencies, I don`t know how to extract a sample from it for us to explore.

[2018-02-27 11:44] cassionandi commented on #275
(I mean to say that on my original project, I keep having problems)

[2018-02-27 11:56] marcelom56 commented on #221
+1

[2018-02-27 23:34] LeoHere commented on #275
@cassionandi can you share your logs with me? (l r o d r i g u e z at uxdivers.com)

[2018-02-27 23:37] LeoHere commented on #275
@danialbakhsheshi the player app available in the store or the Player solution included in the installer is configured to preview only XAML from the core Forms library + FFIMageLoading + Prism. If you need to preview anything else, you need Gorilla [SDK](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Gorilla-SDK). You will need to setup it in your solution.

[2018-02-27 23:53] LeoHere commented on #275
@cassionandi please try with [1.2.0.5](https://drive.google.com/drive/folders/1JXzvpgiPnV-wRJypZwh_TZ3HhpouWkwz?usp=sharing) which fixes an additional issue. Please let me know your findings.

[2018-02-28 01:18] cassionandi commented on #275
@LeoHere tested version 1.2.0.5 on my personal project, failed again. I will send you the logs.

[2018-02-28 01:52] romap76 commented on #227
Hi, do you have a clean manual how to use basecontentpage pattern with Gorilla? I have not been able to get this working with derivedpages project.

[2018-02-28 23:07] ndastur commented on #262
Just come across this too and so would be great if this can be fixed

[2018-03-01 18:29] pgonzalezmorelli opened #276 "Unknown property "MergedDictionaries" on Gorilla 1.2.0.0"
I'm loading my app with Gorilla SDK but can't load Resource Dictionaries

[2018-03-08 10:15] DineshBabuYadav commented on #192
Hi All,

Sorry for the delay.

We have ensured the same at our end. but still the custom controls are not rendered and facing the same issue. Can you please provide any sample for demo? Since, many of them is struggling with this one.

Hence, am reopening the issue.

Regards,
Dinesh Babu Yadav

[2018-03-09 17:37] FrancoisM opened #277 "Where to locate DesignTimeData.json when views are in a dedicated library?"
Within my Xamarin Forms solution, I have a project MyApp which is the entry point but also a project MyApp.Views that contains the xaml pages. MyApp references MyAppViews.
When I run MyApp.iOS via the SDK, I can see my views and edit them. However, the file DesignTimeData.json which I have located in the root folder of the project MyApp.Views is ignored.
Where should I locate that json file then?

[2018-03-09 20:05] FrancoisM commented on #277
I have no idea of what I changed but it actually works!

[2018-03-09 20:05] #277 closed

[2018-03-14 06:42] JorgeRomeroG commented on #221
+1

[2018-03-15 11:11] DaniusLabs commented on #74
+1 same issue.

[2018-03-15 17:31] LeoHere commented on #74
@DaniusLabs please take a look at [this](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Localization), it might help you if you are trying to preview localized text...

[2018-03-17 10:17] jerryno6 opened #278 "An error while building Derivedpages project in Gorilla\samples"
Hi Gorilla team !

I had an error as the description below.
I've just downloaded gorila to my PC , installed it. I could see the UI changed while I was editing axml files as long as I built and run some projects such as
Gorilla\Player.sln
Gorilla\Samples\HowTo\ContentView\ContentView.sln
Gorilla\Samples\HowTo\MyCoolCompanyApp\MyCoolCompanyApp.sln

Problem occured when I turned to **\Gorilla\Sample

[2018-03-17 14:50] daybson commented on #26
Just install version 1.2.0.6 and nothing works either.

[2018-03-20 16:25] FrancoisM opened #279 "FFImageLoading Svg from resources not displayed"
I thought I had a problem with FFImageLoading.Svg but actually the problem seems to come from Gorilla.
See https://github.com/luberda-molinet/FFImageLoading/issues/979#issuecomment-374609784

When using Gorilla, the console output says that I cannot use a resource for my svg and that only http request are allowed.

[2018-03-20 17:01] FrancoisM commented on #279
Note that by specifying the assembly fo the resource explicitly it works:

`Source = $"resource://MyLibraryNameSpace.{Name}.svg?assembly=MyLibraryNameSpace";`

[2018-03-20 17:01] #279 closed

[2018-03-21 16:15] Robson02 opened #280 "Gorilla Player now showing content"
Hi,

I am using Gorilla Player with Visual Studio to view my XAML files for a Xamarin project. In the emualtor it shows a blank screen - the content is not being shown. It works fine if I just deploy to the Emulator using Visual studio 2017. Below is what's shown when I run Gorilla Player inside of the emulator.

![emulator](https://user-images.githubusercontent.com/20691032/37721692-1b156482-2d22

[2018-03-21 17:12] FrancoisM opened #281 "Gorilla Player crashed after I modified applicationhots.config"
As I run a asp net backend and I want it accessible via my device, I updated the applicationhots.config file of Visual Studio to specify my ip address rather than "localhost". But then Gorilla Player crashes.

Here  is the log

[2018-03-21 17:24] FrancoisM commented on #281
And the VSLog:

[2018-03-21 17:48] FrancoisM commented on #281
The crash only happens with that solution. I tried with another one and Gorilla worked fine.
I deleted my whole solution folder and re-cloned it from my remote repo thinking that would solve the problem but no, Gorilla Player crashed as soon as I open my solution.

[2018-03-28 09:41] sivaramganesan opened #282 "Binding is not setting for Custom controls when using reflection"
Hi @Gorilla Team,

First of all, I would like to thank you guys because you have done a great job. It helps the developer to design the view in very efficient manner and saves time a lot.

I have followed the steps as per the below documentation link and used the XLabsControls sample for a reference to achieve the requirement "Populate data to the custom control with gorilla player" but it seems t

[2018-03-28 10:44] #280 closed

[2018-03-28 15:26] basharat58 opened #283 "Custom Renderers Not working"
I am using Gorilla player to view a page with some some Custom Renderers. It gives an error:
**Gorilla SDK needed**
The previewed page requires assemblies not available in this player. Please use the Gorilla SDK to include those and get an optimal preview.

I have followed the process outlined here: https://github.com/UXDivers/Gorilla-Player-Support/wiki/Gorilla-SDK. My Android solutions have refe

[2018-03-30 17:35] muffadalis commented on #273
Hi,

I am having the exact same issue. Any updates for his?

Thanks.

[2018-04-04 18:46] FrancoisM opened #284 "Gorilla Player and multi targeting"
Since I moved my custom renderers into my app library which I multi target for `.netstandard20` as well as `monoandroid81` and `xamarinios10,` my custom controls don't show up.

The sdk is supposed to register the assembly:  .`RegisterAssemblyFromType<ExEntryRenderer>()` so I can't see where the problem is.

[2018-04-05 07:16] FrancoisM commented on #283
Your two screenshots are inconsistent. Did you rename you renderers? On screenshot 1 it's called `RoundedRenderer `and on screenshot 2 you register from type `Rounded`.

[2018-04-05 08:31] FrancoisM commented on #284
I asked a new question on [stackoverflow ](https://stackoverflow.com/questions/49667665/gorilla-player-xamarin-foms-and-multi-targeting)and put together a [repro ](https://github.com/FrancoisM/GorillaAndMultiTargeting)on github.

[2018-04-05 18:11] Robson02 commented on #283
Hi FrancoisM,

Those are the names above. In the standard project, the files are called: Rounded and NavigationBar. In the platform specific/native projects the files are called: RoundedRenderer and NavigationBarRenderer.

I thought that in the MainActivity.cs file I had to to register Rounded and NavigationBar for the RegisterAssemblyFromType - I was not sure what exactly I had to register (just

[2018-04-05 18:25] FrancoisM commented on #283
check my [repo ](https://github.com/FrancoisM/GorillaAndMultiTargeting) as a starting point with Gorilla and custom renderers.

[2018-04-06 09:03] Soundman32 commented on #139
Is it still in beta?

[2018-04-06 20:39] Robson02 commented on #283
I looked at your repo, but could not make any progress going off that and then comparing that to my solution. Really don't know what the issue can be.

[2018-04-13 04:12] dinhbathi2702 opened #285 "There was an issue registering the solution with the Gorilla (Error getting response stream (ReadDone2): ReceiveFailure)."
Hi Support Team !
I'm a Mobile Developer on Xamarin . I have used Gorrilla to design my app . before it still working ok but when I update my Mac . And Run it again on my project . It's not working .

All time i try again and search to requair it . i try again and again your suggestions but they don't help me .  Please help me a advice to repair this issue

When I Run Project with Gorilla Player i

[2018-04-17 08:40] sivaramganesan commented on #282
Any update on this.?

[2018-04-20 11:29] SampathTharanga commented on #27
Hi,
I install [this](https://marketplace.visualstudio.com/items?itemName=UXDivers.GorillaPlayerVisualStudioAddin#overview)  Gorilla Player for visual studio 2017. Then open the visual studio also comes [this error](https://1drv.ms/u/s!AmDk0D3FOacjkUhUELBm6z-4BWwj) . And after i will try to connect Gorilla Player then comes
![image](https://user-images.githubusercontent.com/17849521/39048748-259ab0

[2018-04-24 11:06] FrancoisM commented on #283
Hi there,

I'm moving my converters declared into resource dictionaries in almost all
my pages into app.xaml.
However, now Gorilla complains that is doesn't find these resources
anymore. What should I do?
Tks!

François

On Fri, Apr 6, 2018 at 10:39 PM, Robson02 <notifications@github.com> wrote:

[2018-04-24 17:37] FrancoisM commented on #283
Thank you for the reply.
I thought as well that this would work but it doesn't unfortunately.
Here is some pseudo code of my architecture. Gorilla would complain that it
cannot find " BoolToText"

*App.xaml*
<?xml version="1.0" encoding="utf-8" ?>
<Application ...cvt="...">
<Application.Resources>
    <ResourceDictionary>
        <cvt:BoolToText x:Key="BoolToText" />
        </ResourceDictionary>

[2018-04-25 15:33] khadeeja-alif opened #286 "Default constructor not found for UXDivers.Gorilla.Platform.ConsoleService"
Have been receiving this error in AppDelegate.cs
Default constructor not found for UXDivers.Gorilla.Platform.ConsoleService
Is there anything that needs to be done in AppDelegate too after updating Gorilla SDK ?

[2018-04-27 08:28] khadeeja-alif commented on #286
<img width="534" alt="screen shot 2018-04-27 at 1 24 50 pm" src="https://user-images.githubusercontent.com/14857549/39352687-111bd146-4a23-11e8-855b-457318ff4518.png">
<img width="698" alt="screen shot 2018-04-27 at 1 25 10 pm" src="https://user-images.githubusercontent.com/14857549/39352689-1294eaee-4a23-11e8-85d5-ebe0ad8d3a41.png">

[2018-04-27 10:02] Umar3x opened #287 "Prism : Unity container default constructor"
Hello all,

First of all, thanks for making gorilla player.

However, I started a new Prism Xamarin forms application with Unity container.

When starting the app on my device, I get the following error :

**XAML : Default constructor not found for type Prsim.Unity.PrismApplication.**

I can't find any related doc or sample with Prism & Gorilla player.

I also downloaded the Gorilla SDK and added

[2018-04-27 18:29] FrancoisM commented on #279
[code]

[2018-04-27 18:30] FrancoisM commented on #279
Note: It's slow (I haven't looked into which part makes it slow yet though)

[2018-04-29 15:11] Robson02 commented on #283
Hi FrancoisM,

Sorry, I don't know the answer to your question. I am still stuck with my initial problem above. The Gorilla player on my android emulator stopped working and I uninstalled it.

When I go to the Play Store it says that it is installed so does not let me install again.

[2018-04-30 00:13] Nullstr1ng opened #288 "Can't resolve"
I am using MVVMLight and we tried using Gorilla Player it fully supported VS 2017 but even back then, we can't use it because it cannot resolve the "Locator" resource.

In our App.xaml - the ViewModelLcoator is in our ResourceDictionary
<Application.resources><ResourceDictionary><vm:ViewModelLocator x:Key="Locator" /> ~~~~

But when trying to preview a page, with a BindingContext (set in XAML)
Bin

[2018-05-01 17:37] Robson02 commented on #283
FrancoisM/LeoHere

Can you help?. I am just stumped, and get the following warning:

{"level":"warn","message":"Unable to resolve type 'null.Rounded' with arguments '<no arguments>' and assembly '<UNDEFINED>'.","timestamp":"2018-05-01T17:29:54.354Z"}
{"processingIssue":true,"issueType":"warning","position":{"file":"E:\\Development\\Xamarin\\Grial\\EcomApp1\\EcomApp1\\EcomApp1\\Views\\MainView.xaml

[2018-05-01 19:54] FrancoisM commented on #283
hmm, I replied to en email chain and my reply got posted here. The issues are unrelated though. I'll delete my posts.

[2018-05-01 19:57] FrancoisM commented on #283
@Robson02, did you try to just load the master branch of my repo and run it "as is"?

[2018-05-01 21:18] Robson02 commented on #283
No I did not try that. I will download and give it a go.

[2018-05-02 21:07] attrib75 opened #289 "Gorilla Player says its displaying an error for page that it is not currently previewing"
Using GP, viewing a page with a preview error (what the error is is beside the point).  GP complains that there is an error for a page that is actually working.

In the image, 'sad gorilla, issues found on' shows <workperformed.xaml> But it also contradicts itself by saying the error is on workordersbycustomer.xaml

![image](https://user-images.githubusercontent.com/1398909/39549224-ae6652f2-4e22-

[2018-05-03 06:44] No1e opened #290 "Error resolving assembly"
Hi,

I've just migrate my project to .net standard 2.0, update Gorilla Player to 1.2 as well as SDK.
I am getting error while trying to preview xaml. Here is log:

{"level":"debug","message":"[Server] About to process package BouncyCastle (1.8.2). contextInstanceId=3, targetId=0, sampleDataId=0\r\ndebug: Package BouncyCastle (1.8.2) resolution for target framework \"netstandard2.0\": package folde

[2018-05-04 22:09] zgramana commented on #226
I have the same problem and narrowed it down to the following test case (below). Both are functionally equivalent at runtime, but are probably troublesome for the Player logic.
## Nominal Case
[code]
[code]
## Error Case
[code]
[code]

[2018-05-05 07:53] Robson02 commented on #283
Hi FrancoisM

I downloaded your repo and tried to run that in Gorilla. On the MainPage.xaml file where we have:

_**<ctrl:RoundedBoxView Color="#ff0000" CornerRadius="100" AbsoluteLayout.LayoutFlags="PositionProportional" AbsoluteLayout.LayoutBounds="0.5,0.5,200,200" />**_

it is giving me the same issue as I am having in my own project:
_Unable to resolve type 'Controls.RoundedBoxView' with argum

[2018-05-06 20:16] michael-watson commented on #272
surprised that something so common like FontAwesome isn't even being addressed

same issue I'm having

[2018-05-08 07:56] FrancoisM commented on #283
On could you "run that in Gorilla" in the first place as my repo only has an iOS project and you're on windows? I start to sense that the problem comes down to the way you use gorilla. **Don't use Gorilla Player**.  Just run the app (mine, yours, whatever) which has the SDK Player embedded into it.

[2018-05-09 05:29] sivaramganesan commented on #282
Any update.?

[2018-05-11 08:50] Grrbrr404 commented on #273
Same for me. Any solutions?

[2018-05-11 12:27] No1e commented on #290
Hi,

Can you give me any help with this?

Regards,
Novak

[2018-05-14 04:55] nqbjnh opened #291 "Gorilla Player can binding from any object into DesignTimeData.json?"
Hi,
I use Microcharts, i create chart data and convert it to json string, i insert it to DesignTimeData.json

**DesignTimeData.json**
[code]

**MainPage.xaml**

[code]
**Result**
Gorilla player can not show chart.

Please, any solution for me.
Thanks

[2018-05-15 11:11] ctearpak commented on #272
I am also having this issue. Everything works fine on iOS, but as soon as a different font is used on Android, it's lights out.

[2018-05-21 14:12] AliAkbarMontazeri commented on #278
In my case (and looks like you have a similar case with me) I read that I'm missing file 'System.Collections.Immutable.dll' so I googled '**system.collections.immutable.dll file**' which bring me to nuget [site](https://www.nuget.org/packages/System.Collections.Immutable/1.5.0-rc1), copy the installation command there and **run it on PM console** and then I did **Clean All -> Rebuild All -> Build

[2018-05-22 17:57] AliAkbarMontazeri opened #292 "Issue with reference to a static member"
Anything that grab a static member like in the example below
`TextColor="{x:Static local:AppConstants.BackgroundColor}`
will raise an issue on the device.
How do I resolve this ?
Thanks.

[2018-05-25 12:10] jpbrocca commented on #292
Try with Gorilla SDK embedded binto your app.

[2018-06-18 10:30] khadeeja-alif commented on #286
Please help!

[2018-06-25 07:57] xufeipyxis opened #293 "Root XAML element unrecognized, nothing to display"
Hi,

First of all, great job! Thanks!

But I have a very annoying issue now.
I'm using MvvmCross and all its ContentPage is required to be MvxContentPage like this:

[code]

But in this case, Gorilla refuses to display the page and the erros says:

To workaround this, I change `views:MvxContentPage` to `ContentPage` every time just to preview it in Gorilla and then change it back.

Any better work

[2018-06-25 08:04] flyingxu opened #294 "XAML: Specified cast is not valid for ViewCell template"
In Visual Studio, the user can create a new item called "View Cell",

[code]

But when I'm trying to preview this file in Gorilla, there is an error:

at
[code]

[2018-06-25 08:18] nexussays commented on #281
@FrancoisM  Any luck, figuring it out? I seem to be having the same issue.

[2018-06-25 08:21] FrancoisM commented on #281
It got away by itself after a mix of restarting the pc / clean /rebuild etc.
Could not exactly tell you which of this made it go away though.

[2018-06-25 08:21] #281 closed

[2018-06-25 09:32] nexussays commented on #281
@FrancoisM  Cheers, thanks

[2018-07-03 06:56] sivaramganesan commented on #282
Any update on this.? Seems like it is more than 3 months.

[2018-07-07 23:29] IoTFier opened #295 "Build fails for Full version of Gorilla Enabled Android version of my App"
Hello Community,

I am facing compilation error (see attached) while compiling Full version of Gorilla Enabled Android version of my App. It is an as-is code for my App downloaded from my Grial Admin site for the first time.

[Environment details - GrialKit 2.7 | VS 15.7.4 | Win 10 Pro 10.0.17134 Build 17134 ]

Your input to address this issue will be appreciated.

Thank you.

![fullgrialkitprojec

[2018-07-09 10:09] LeoHere commented on #295
Hi @IoTFier!

This issues happens because the namespace used by your project ends with `Android` which collides with the root `Android` namespace defined by the Android SDK. When the compiler tries to typecheck code like this:

[code]

It tries to find `Views.Keycode` in your `Android` namespace, not the `Android` root namespace defined by the Android SDK, thus it ends up failing.

You have two al

[2018-07-09 15:59] IoTFier commented on #295
Hi @LeoHere , thank you for your guidance.
I am opting for 2nd alternative. I prefer to have .Android in my namespace and having namespace cover folder names containing each file / resource items as applicable.
I am compiling with the suggested changes; but the build process is taking forever at the step where it is trying to sign the .jar file using apksigner.jar  I have been waiting for at least

[2018-07-10 02:41] IoTFier commented on #295
Hi @LeoHere, I am able to build and deploy full version of my Gorilla Enabled app to Android device.
I have opted for 2nd alternative. Hopefully, in the next release Grial team can address this issue in the Admin.

Thank you for your help.

[2018-07-10 02:41] #295 closed

[2018-07-11 14:47] cherici-simone commented on #272
me too...same issue with FontAwesome...

[2018-07-18 05:49] nexussays commented on #89
As @LeoHere asked; this is a huge issue for us, many of our images are embedded in the same assembly as the XAML. I'm trying to think of a workaround that will at least have Gorilla not crash, even if the images don't show up.

[2018-07-20 12:52] jpbrocca commented on #286
Hi,
This seems to be caused by the linker.

Can you specify how it is configured?

Best
JP

[2018-07-20 14:36] ImmenseIT commented on #286
Juan and the Grial team were awesome. They were able to resolve this in no time for us, we are back in business. Thanks a lot Great Grial Team (GGT).

Imran Founder / CEO
**Ad-Din.**

[2018-07-20 22:23] IoTFier commented on #291
Hi @nqbjnh, just curious to know if you could address this issue?
I am new to Grial world as well. Looking forward to learn from your experience.

I am facing another issue with Gorilla and DesignTimeData.json  [#451](https://github.com/UXDivers/Grial-UI-Kit-Support/issues/451)