[2018-07-21 04:32] #286 closed

[2018-07-25 19:49] cyberjetx opened #296 "Player will not connect in VS2017"
Brand new installation.
![capture1](https://user-images.githubusercontent.com/11842304/43223449-2256ad98-9021-11e8-81b0-1f5d601b44bc.PNG)

Unable to get the player to connect using the default localhost and port 9014 or custom using 'localhost' or my actual IP on ports 9014,8080, or 80.  When trying to open localhost or the IP with any port# in a straight browser the browser reports "This site can

[2018-07-25 20:36] cyberjetx commented on #296
Image from the desktop installer:

![capture](https://user-images.githubusercontent.com/11842304/43226075-cb23df20-9028-11e8-97dc-eccd641081bc.PNG)

[2018-07-30 19:36] uksreejith commented on #272
Hi,
I am also facing this exact same issue. Updated to gorilla version 1.2.2. Not seeing any difference. Please help!

[2018-07-30 19:38] jacobslusser commented on #296
Did you find a resolution to this? I'm thinking about using Gorilla Player for my development team and want to know how the support is.

[2018-07-30 20:59] IoTFier opened #297 "Flush digital content in Gorilla Server"
Hi, is there a way to flush cached content at the gorilla server?

In the iOS simulator I see the same (initial) image file whenever I try to update an image (having same name) in the resources folder of iOS. Uninstalling the App and restarting Gorilla Server seems to work but not productive for time. It takes away couple of cycles.

Any thoughts?

Thanks

[2018-07-30 21:06] cyberjetx commented on #296
Not yet

Sent from my mobile

[2018-07-30 23:00] jpbrocca commented on #297
https://github.com/UXDivers/Gorilla-Player-Support/wiki/Release-Notes-Gorilla-Player-1.0#settings-page

[2018-07-30 23:00] #297 closed

[2018-07-31 03:01] IoTFier commented on #297
Hi @jpbrocca , I could clear the image cache on the Android device.

**But, on my iOS simulator clicking on the settings button makes the screen blank.** I also get the same blank screen when I tried to access the settings from the Gorilla player App that I have deployed on the iOS simulator. How do I fix this ? Your input will be appreciated.

I understand you don't want to keep issues open. But,

[2018-07-31 17:41] IoTFier commented on #297
Hi @jpbrocca, any thought on how to address this blank screen issue when clicked on setting icon in Gorilla player in iOS Simulator? Thanks

[2018-08-01 16:38] IoTFier commented on #297
Hi @jpbrocca , I am also experiencing big delays in getting data reflected from DesignTimeData.json into .xaml views inside the Gorilla Enabled Apps. Can you please help?
I wish this issue was kept open to get under your radar and also in front of our community.
Thanks

[2018-08-02 10:42] IoTFier commented on #297
Hi @jpbrocca , here is another example of Gorilla server caching partial classes when I tried to create my own View Models and Models based on the existing code base. Initially I forgot to name the class in the constructor but the after correcting the gorilla cache is not getting flushed. Yes, I did delete obj and bin folders as well.

1>------ Rebuild All started: Project: ******, Configuration:

[2018-08-02 10:51] jsinh commented on #3
Too old, not relevant anymore, closing

[2018-08-02 10:51] #3 closed

[2018-08-02 16:47] attrib75 opened #298 "Player version 1.2.2.0 doesn't follow across views, and also crashes"
Player version 1.2.2.0 doesn't follow across views very well, and also crashes.

Versions:
VS Community 15.7.4
Xamarin 4.10.10.2
Gorilla player nuget 1.2.2

[2018-08-02 16:51] attrib75 commented on #298
By this I mean when I've deployed my app to a simulator in Gorilla mode, the app crashes frequently, and does not follow very well when I switch views.  Most of the time it sticks to the view that I was previously on.   I keep having to open a third xaml view to trigger it (sometimes) to wake up and display that view, then toggle back to the view that I actually want

[2018-08-02 17:01] jpbrocca commented on #297
Hi @IoTFier,

Sometimes you could get the blank screen. Most of the times if you switch to another XAML page and return to the original it starts previewing again.

I have never experienced big delays working with design time data. It is almost instantly.
Perhaps are you using big volumes of data?

About the cache issue you mention on your last post:
- Basically, Gorilla won't do anything with you

[2018-08-03 17:25] jpbrocca commented on #298
Hi @attrib75,
Can you please let me know:

- Are you on Windows or Mac?
- Is this happening in iOS or Android or both?

Thanks,
JP

[2018-08-03 22:32] prikazchikof commented on #163
What is the end solution for this problem?

[2018-08-05 15:16] attrib75 commented on #298
Windows.  Android only so far.  thanks

[2018-08-05 15:58] mironikolov opened #299 "Cannot read property 'project' of undefined"
I keep getting this on any XAML page. I didn't have issues before with the same pages. Not sure changed but the logs are a bit cryptic:

{"processingIssue":true,"issueType":"error","position":null,"area":"Xaml","scope":"Req","error":{"name":"TypeError","message":"Cannot read property 'project' of undefined","stack":"TypeError: Cannot read property 'project' of undefined\n    at Object.result.colle

[2018-08-09 15:28] attrib75 commented on #298
Is there any word on this?  thanks

[2018-08-10 10:01] jpbrocca commented on #298
Hi @attrib75,

I could reproduce when Gorilla sticks to a particular page, however, I cannot reproduce the app crashing frequently.

It seems when you add something not valid to your XAML it silently fails, then it sticks to that page.
In most of the cases if you move to another page, then come back to the original page it will start working normally (if there is are no errors in your code).

In s

[2018-08-14 03:23] IoTFier opened #300 "unicode character DesignTimeData.json un"
Hi @jpbrocca  and Grial UI Kit team,

While validating my UI on across 3 iOS simulator devices running iOS 11.4 and 1 android version (v8.1) my VS crashed and restarted. After the solution was reloaded I found that the data in the DesignTimeData.jso got corrupt. All icon values have been replaced to "?" (? in a square box).

Is there a way to recover these values? I don't want to waste my time in

[2018-08-14 08:05] IoTFier commented on #297
Hi @jpbrocca , when tried to clear image cache, I am still getting blank page on Gorilla App running on my iOS Simulator. Is there any finding on this issue on your end? Is there any new update coming to Gorilla server very soon?

Thanks

[2018-08-14 09:56] jpbrocca commented on #297
HI @IoTFier,

Please check https://github.com/UXDivers/Gorilla-Player-Support/issues/298 for a possible workaround.

Best,
JP

[2018-08-14 09:58] jpbrocca commented on #300
Hi @IoTFier,

hmmm...not that I know.

FWIW, I suggest you to use Visual Studio code for editing that file.

Best,
JP

[2018-08-14 09:58] #300 closed

[2018-08-21 05:30] IoTFier opened #301 "Referring to Data created for templates n-levels below"
Hi @jpbrocca  and Grial Team,

While using Grial based Tabbed page, I have added couple of Tabbed Children via NavigationPage that renders few content pages. Each Content page is a referring to a listview whose datatemplates are served by various individual templates.

I have created sample data in the DesignTimeData.json for each of those templates and it works beautifully while testing each one

[2018-08-25 01:39] IoTFier opened #302 "Running App on Android Platform gets stuck in Slash screen"
Hello @jpbrocca  and Gorilla team,

In Gorilla mode, while testing my UI changes (using Grial kit) on Android platform I am finding my App getting stuck on the Splash screen and doesn't navigate to the Gorilla screen to choose the Gorilla server. This particularly happens when I uninstall the App, Mono, Xamarin runtime ->rebuild and deploy the app.

Any thoughts on what I should check / change to

[2018-08-25 02:47] IoTFier commented on #302
Is there a detail documentation on the Gorilla configuration  (build tasks etc) ?
Just wondering if it might help me to locate any step where my App  might be stuck while running my App from my phone against Gorilla server.

[2018-08-25 11:28] IoTFier commented on #301
Hi @jpbrocca, any thoughts on this?
- how to refer data in a page created under / for anotherpage in DesignTimeData.json?

[2018-08-26 16:05] IoTFier commented on #301
Hi @jpbrocca or anyone at Grial UI Team,

Can you please help?

I am also seeing that copy the same set of data over multiple templates (contentView) & Views (contentpages) is slowing down Gorilla server a lot to render pages.
Please help me to avoid duplicating this data and also in the meantime please let me know any configuration that I need to do for additional resources (more memory / cpu) fo

[2018-08-27 09:08] jpbrocca commented on #301
Hi @IoTFier,

Why don't you just set Global Design Time Data?
https://github.com/UXDivers/Gorilla-Player-Support/wiki/Working-with-design-time-data#global-design-time-data

Best,
JP

[2018-08-27 09:08] #301 closed

[2018-08-27 19:57] IoTFier commented on #301
Hi @jpbrocca,

Using Global Design Time Data was a great recommendation. I appreciate that.
I am seeing a much better improvement with it.

Thanks you.

[2018-08-30 09:18] Morhpeuss opened #303 "Error resolving assemblies for modernhttpclient"
Hello,

I got this error:

 Xaml processing error Summary:\"Error resolving assemblies for modernhttpclient\"; Message:\"Error resolving assemblies for package \"modernhttpclient\" (ENOTDIR, not a directory 'C:\\Users\\joszel\\.nuget\\packages\\modernhttpclient\\2.4.2\\lib\\ModernHttpClient-2.4.1.zip')

The directory and file exists.

[2018-08-31 13:20] netoviskyy opened #304 "StaticResource error at build app"
I have not been able to use the grial in my project yet, the error is with the staticresource like in the following image:

![1](https://user-images.githubusercontent.com/36972630/44914600-1e540800-ad07-11e8-91e4-a929a81459a7.png)

This is my App.xaml

![2](https://user-images.githubusercontent.com/36972630/44914618-2a3fca00-ad07-11e8-9185-422eeea43175.png)

[2018-08-31 18:34] LeoHere commented on #304
@netoviskyy the problem is that the style `FontIcon` uses `IconsFontFamily` and is declared before the `IconFontFamily` resource declaration.

[2018-08-31 18:37] LeoHere commented on #304
@netoviskyy side note, this forum is for Gorilla specific issues. Please post Grial issues in [Grial's support site](https://github.com/UXDivers/Grial-UI-Kit-Support/issues). Tks

[2018-09-03 08:36] jacquesprogram opened #305 "Unable to install on Android emulator"
Hello,
I've installed Gorilla Player desktop app and Visual Studio 2017 addin as well. I'm trying now to install Gorilla on the android emulator provided by VS ( 'Android_Accelerated_Nougat (Android 7.1 API25)' ). The emulator launches and the deployment process starts but nothing happens on the emulator, gorilla player never starts.
The deployment process keeps going in a neverending loop...
I do

[2018-09-10 13:40] LeoHere commented on #303
@Morhpeuss write me to l r o d r i g u e z at uxdivers.com and I will share with you an installer that should fix the issue.

[2018-09-12 09:35] pYThMik commented on #261
Hi. I just encounterd the same error in another Xamarin.Forms project. I discovered why:
The MyPage.xaml I'm previewing contains a listview whose items are defined by MyItemTemplate.xaml.
And MyItemTemplate.xaml contains a listview too, with another MyOtherItemTemplate.xaml.

Both Item Templates are perfectly previewed in gorilla.
But MyPage throws this exception:

Error loading XAML [pre] The rep

[2018-09-12 10:18] pablogupi commented on #293
I also have this error. Is Gorilla Player compatible with MvvmCross?

[2018-09-17 07:18] Mr-Pearce opened #306 "Error occurred while setting Gorilla Target XAML"
Hi i have the following problem with the current 1.2.2 version

The logs are attached.

I already tried creating a new (blank) solution and adding back the Projects and it worked on Friday.
But today the error is there again.

[logs.zip](https://github.com/UXDivers/Gorilla-Player-Support/files/2387592/logs.zip)

[2018-09-27 00:42] jadenrogers commented on #192
@DineshBabuYadav Did you ever figure out what was wrong?

[2018-09-27 12:37] LeoHere commented on #192
@jadenrogers Did you tried setting up Gorilla SDK?

[2018-10-09 00:50] IoTFier opened #307 "Gorilla SDK not showing data when bound to a ItemsSource Bindable Property"
Hello, In the Gorilla mode, I don't see ListView rendereing data that is bound to a ItemsSource bindable property defined in the code behind of a user control (implemented as a ContentView).

Your help in addressing this issue will be appreciated.

My XAML User Control (say myUserControl.xaml) is made up of ContentView has a ListView.
In the code behind I have declared the ItemsSource Property as

[2018-10-09 03:13] JayantVarmaTLS opened #308 "iOS specific attributes fail"
Attributes like ios:Page.UseSafeArea etc break and throw errors.

[2018-10-09 03:46] JayantVarmaTLS opened #309 "Custom Tags throw errors"
If there is a custom tag that is declared in the associated class, the tags are not parsed, the name spaces cause errors.

Some examples of errors:
[code]

**Missing Design Time Data**
[code]

Root XAML element unrecognized, nothing to display
and any other custom tags created with a class or as a reference
[code]

[2018-10-09 21:50] IoTFier commented on #307
TestData currently defined under @Global.

As a result, I also tried setting the BindingContext of my userControl in two was as shown below; still it is not working.

Method 1
<userControl:PatientsListLVTemplate ItemsSource="{Binding TestData}" BindingContext="{Binding TestData}" />

Method 2
<userControl:PatientsListLVTemplate ItemsSource="{Binding TestData}">
          <userControl:PatientsListL

[2018-10-11 05:32] SelvaKumar68 commented on #192
@jadenrogers

I have tried with the sample provided by @E-Mannan, the CustomLabel on the MainPage is not showing on the Gorilla player, it shows as Gorilla SDK needed on the screen,

I need the custom view to show on the gorilla player, so that i have modified the same sample with the view and changed the necessary changes on the MainActivity.cs page, it is not showing anything except a pop up "Go

[2018-10-11 15:35] iaboots commented on #26
This work for mi

netsh advfirewall firewall add rule name="Gorilla Player" dir=in action=allow protocol=TCP localport=9014
netsh advfirewall firewall add rule name="Gorilla Player" dir=out action=allow protocol=TCP localport=9014

netsh advfirewall firewall add rule name="Gorilla Auto-discovery" dir=in action=allow protocol=UDP localport=14578
netsh advfirewall firewall add rule name="Gorilla Aut

[2018-10-11 15:35] iaboots commented on #189
This work for me

netsh advfirewall firewall add rule name="Gorilla Player" dir=in action=allow protocol=TCP localport=9014
netsh advfirewall firewall add rule name="Gorilla Player" dir=out action=allow protocol=TCP localport=9014

netsh advfirewall firewall add rule name="Gorilla Auto-discovery" dir=in action=allow protocol=UDP localport=14578
netsh advfirewall firewall add rule name="Gorilla Aut

[2018-10-11 17:54] jadenrogers commented on #305
@jacquesprogram You could just have an issue with your emulator. Does the emulator actually run, as in you see the typical home screen for Android? Android emulators can be troublesome all by them self, deploy to a real device to check.

[2018-10-12 03:18] erer17 commented on #62
Dear All, can you please help for above issue?

![image](https://user-images.githubusercontent.com/44078627/46845911-07c5c400-ce10-11e8-9a98-ecf0480a755c.png)

![image](https://user-images.githubusercontent.com/44078627/46845959-46f41500-ce10-11e8-960f-cf8bfa6773ba.png)
![image](https://user-images.githubusercontent.com/44078627/46846031-93d7eb80-ce10-11e8-97d1-ec84cb4ffb69.png)

[2018-10-12 07:34] ncunning commented on #287
not sure if this helps but one of the other post s had this
.RegisterAssemblyFromType<Prism.IActiveAware>(); // Prism
   .RegisterAssemblyFromType<Prism.PrismApplicationBase**<object>>**(); // Prism.Forms
   .RegisterAssemblyFromType<Prism.Unity.PrismApplication>(); // Prism.Unity

[2018-10-16 11:08] Umar3x commented on #56
Hello @escamoteur , could you please share your gorilla .json ? I got the same error with a CustomMarker using syncfusion maps, tried to add a gorilla.json but the issue still there. Did you register your custom class in the obj config too ?

[2018-10-16 11:45] LeoHere commented on #56
@Umar3x this issue is very old. You don't need to specify your known assemblies in the `gorilla.json` any more. See [this](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Gorilla-SDK).

For the next version of Gorilla we are working on a AutoConfig feature that remove the need for this configuration. If you want to test it write me to l r o d r i g u e z at uxdivers.com and i can share it

[2018-10-16 11:56] Umar3x commented on #56
Hello @LeoHere

Thanks for your fast answer. Yep I read that, but as I still got an error but not on the page where I use this custom class. I got a tabbedPage in which I got that and it displays me that Type local:CustomMarker not found in xmlns:clr-namespace:MyProject.UIComponents

[code]

If I preview only the DetailPage alone, its working.

In the detail page :

` xmlns:local="clr-namespace:My

[2018-10-16 12:41] JavierRuiz2 opened #310 "error when compiling GorillaPlayer after installing"
I Install Gorilla Player for Visual Studio 2017

when compiling it gives me the following Error:

Error : Exception while loading assemblies: System.IO.FileNotFoundException: Could not load assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'. Perhaps it doesn't exist in the Mono for Android profile?

Please, help me...
--------------------
 'netstandard.dll'

[2018-10-16 13:50] Umar3x commented on #287
Hello. Thanks for your answer but I'm using Prism 7.0 and XF 3.2. If I had the <object> arguments as you say it displays an error that this constructor does not accept such arguments. Still having issue I posted 6 months ago.

[2018-10-19 03:06] IoTFier commented on #307
Can someone please respond ?

[2018-10-19 17:12] LeoHere commented on #307
@IoTFier Design time data should be defined in the `DesignTimeData.json`. You associate the data to a given page by defining a property with the name of the XAML page you want to attach the data to. See [this](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Working-with-design-time-data) wiki entry for more information.

Please notice that any logic/code you define in the code behind will

[2018-10-19 17:21] IoTFier commented on #307
Hi @LeoHere , my sample data is in the DesignTimeData.json.
In this case I have defined 4-5 json data (sets) under @ Global
My goal is to provide different set of data by name as declared under @ global in side each instance of the controlview template that contains my listview having the bindable itemsource property.

So, as example if I have TestData1, TestData2, TestData3 defined under @ global

[2018-10-20 10:07] #287 closed

[2018-10-20 10:09] Umar3x opened #311 "Previewing page from prism module"
Hello all,

Gorilla player is awesome and saved me a lot of time. Everything works perfectly but when I want to preview a page which is in a prism module it does not work. What should I do ? It throws me this error :
"Root element prism : PrismApplication was not recognized, nothing to be displayed"

Also got a warning  : "Namespace prism (clr-namespace:Prism.Unity;assembly=Prism.Unity.Forms) not

[2018-10-20 14:11] Umar3x commented on #311
Sorry, this was my mistake. Forgot to add to my module the Prism.Unity.Forms package ...  --"

[2018-10-20 14:11] #311 closed

[2018-10-28 21:20] guillermocccr opened #312 "Gorilla Player don't support Xamarin Forms New Feature <NavigationPage.TitleView>"
Hi, Xamarin Forms 3.2.0 include new Features. This is actually don't supported by Gorilla Player

<NavigationPage.TitleView>
 </NavigationPage.TitleView>

[2018-10-29 17:16] LeoHere commented on #312
@guillermocccr if you upgraded the player to Xamarin Forms player to 3.2 you should be able to preview it. If the player is built against a previous version of Xamarin Forms the property will not be available.

[2018-10-31 16:20] IoTFier commented on #307
Hi @LeoHere, I am still waiting for your input.
Also, is there a new dev version of the Gorilla SDK/player that you can share with me?

Thanks

[2018-11-01 14:47] IoTFier commented on #307
Hi @LeoHere , this approach doesn't work when I have a listview with a ItemSource defined as a bindable property defined in the code. Please take a look at my original request in this issue.

Thanks

[2018-11-05 18:35] tlhintoq commented on #222
FYI:   Version 1.2.2 on 05nov2018...
When I install "For Everyone on this PC" - it completes without error but doesn't run, and does seem to really exist on the PC.
When I install "Just for me" then it seems to fully install and I can run it per the instructions.

So basically the same behavior as @Nondisclosure above, months earlier.

[2018-11-05 18:52] tlhintoq commented on #293
cc: @pablogupi @xufeipyxis
I'd say its any custom class or inheritance.  I just ran into the same thing WITHOUT mvvcross, simply because my views are inherited from a ViewBase class, which is derived from `ContentView`.

Lack of inheritance support just killed this for me as being a replacement for LiveReload.

![image](https://user-images.githubusercontent.com/11351506/48019598-d1732000-e101-11e8

[2018-11-05 18:57] tlhintoq opened #313 "Doesn't support inheritence"
Our views and pages inherit from base classes in order to provide some basic features throughout in a uniform way - like what inheritance is for.

However Gorilla can't deal with those `<controls:ViewBase>` and similar tags. So can't make a `PgHeader` class... etc.   LiveReload does handle these fine.

![image](https://user-images.githubusercontent.com/11351506/48019598-d1732000-e101-11e8-8e9b-ba7

[2018-11-06 12:01] LeoHere commented on #313
@tlhintoq you need to use [Gorilla SDK](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Gorilla-SDK) preview this. Please follow the instructions listed there and let me know if you have any issue.

[2018-11-06 12:03] LeoHere commented on #293
You need to use [Gorilla SDK](https://github.com/UXDivers/Gorilla-Player-Support/wiki/Gorilla-SDK) preview this. Please follow the instructions listed there and let me know if you have any issue.

[2018-11-08 23:49] cgomezm opened #314 "Can't Connect version 1.5.0.0"
I'm gettig error: incompatible server version 1.5.0.0 when trying to connect my device. Any suggestions?
![whatsapp image 2018-11-08 at 18 52 39 1](https://user-images.githubusercontent.com/24781329/48234507-e2cd5e00-e387-11e8-9cf4-4449cd1a12cb.jpeg)
![whatsapp image 2018-11-08 at 18 52 39 2](https://user-images.githubusercontent.com/24781329/48234509-e2cd5e00-e387-11e8-8a17-8196b0f4ba85.jpeg)
![w

[2018-11-09 00:55] #314 closed

[2018-11-09 11:09] IoTFier opened #315 "Gorilla Player and SDK 1.5.0.0"
Hi @LeoHere , is there any documentation link that describes new features / updates in Gorilla player , SDK v 1.5.0.0 ? Is this the GA release that you all have been working on ?

Is there a new Grial UI Kit version that works better with Gorilla v1.5 ?

Thank you.

[2018-11-09 11:46] IoTFier commented on #315
@LeoHere, thank you. I have updated both NuGet package as well as the player.
Are sample apps updated with the bug fixes / features of v1.5 too ? Or will those be updated with the new GrialUI Kit version ?
Thanks

[2018-11-09 20:29] leo-mck commented on #314
Hey @cgomezm I am having the same problem, was you able to resolve this issue?

[2018-11-09 20:35] cgomezm commented on #314
Yes! You have to:
- install gorilla player on your PC
- on install extras select examples and install
- in new examples folder open gorilla player solution and deploy to your device.
That's it!

Note: the play store and app store app are both out of date, that's why you get incompatible version error

[2018-11-09 20:50] leo-mck commented on #314
It worked, thanks! :)

[2018-11-09 21:16] LeoHere commented on #314
@leo-mck @cgomezm deploying that solution would allow to preview only XAML that includes stuff from Xamarin Forms core. You will not be able to preview your controls, custom renderers, etc.

We removed those apps from the store mainly because they were a big source of confusion.

In order to preview your custom stuff you should use Gorilla SDK. I would recommend that you try the new AutoConfig fea

[2018-11-12 09:33] LeoHere commented on #313
@Umar3x did you tried using the new AutoConfig feature included in 1.5 described [here](https://blog.xamarin.com/gorilla-player-a-tool-to-craft-beautiful-xaml-uis-for-xamarin-forms/)? Before trying it be sure to remove any reference to the SDK, if not probably you will get some errors.

What version of Gorilla SDK are you using?

[2018-11-12 09:37] LeoHere commented on #303
This issue was fixed in Gorilla Player 1.5.0.

[2018-11-12 09:37] #303 closed

[2018-11-12 10:30] Umar3x commented on #313
Hello @LeoHere ,

Did not see this new release. Amazing, you're doing a great job !

I'll give it a try now, will do a feedback in few mins/hours.

[2018-11-12 10:53] Umar3x commented on #313
@LeoHere

Great install OK. But I've got an error. Gorilla tells me it cannot find StaticResource MyStaticResource. I'm using a file for my resource dictionary.

[code]

[2018-11-12 11:04] LeoHere commented on #313
@Umar3x using a ResourceDictionary should not be an issue. If you can give me a short sample where I can reproduce the issue it would be very useful. i.e. the content of the AppResourceDictionary, content of the page

[2018-11-12 11:11] Umar3x commented on #313
Here is the ResourceDictionary :

[code]
A page for which the error I told you is raised :

[code]

[2018-11-12 12:00] aleksandrsmyk opened #316 "Any StaticResource from App.xaml not found in Xamarin.Forms app"
How can I avoid this?

Logs:
SelfLogIn:Xamarin.Forms.Xaml.XamlParseException: Position 38:72. StaticResource not found for key btnLoginRed
  at Xamarin.Forms.Xaml.StaticResourceExtension.GetApplicationLevelResource (System.String key, System.Xml.IXmlLineInfo xmlLineInfo) [0x0002c] in

Using:
Style="{StaticResource btnLoginRed}"

Declaration in Application xaml

[2018-11-12 13:51] aleksandrsmyk commented on #316
@LeoHere I followed this article https://blog.xamarin.com/gorilla-player-a-tool-to-craft-beautiful-xaml-uis-for-xamarin-forms/ "Getting started with Gorilla".
I added UXDivers.Gorilla.SDK.AutoConfig, Gorilla debug constant, two files and for an exception. I downloaded Gorilla today

[2018-11-12 17:50] LeoHere commented on #316
@aleksandrsmyk I have just tried it and I can't reproduce it.

[code]

[code]

Can you please be more specific in how to reproduce the issue?

[2018-11-13 09:05] aleksandrsmyk commented on #316
@LeoHere try to declare
a Style for Button and then use it like a StaticResource.
Anyway, I created a sample project today, made all configurations, and it doesn't work for me.
Gorilla is a little tricky to start working with it. I just see that I am connected to a server, but nothing happened for me more.
Here it is a project that I try to run:
[Test1.zip](https://github.com/UXDivers/Gorilla-Play

[2018-11-13 09:35] LeoHere commented on #316
@aleksandrsmyk thanks for the project. Unfortunately I still can't reproduce it :(

I tried your project but I didn't find any `Style` definition in the `App.xaml` (?). Tried adding a style to the `App.xaml` and referenced it through a `StaticResource` from the `MainPage.xaml` and works as expected...

Ok. Gorilla has 3 components, IDE Addin - Desktop app - Mobile App. When your device is in the c

[2018-11-13 10:41] aleksandrsmyk commented on #316
@LeoHere It works for me now finally. Thank you!

[2018-11-13 14:01] LeoHere commented on #316
Awesome!

[2018-11-13 14:01] #316 closed

[2018-11-13 14:49] #73 closed

[2018-11-14 20:05] javiholcman opened #317 "Images not loading"
I have solution with multiple projects. I added the Gorilla Player SDK and it loads ok. (Only tested android yet)
But the images are not loading. Tested with Image and FFImage. I checked the logs of gorilla, and I found this:

{"processingIssue":true,"issueType":"warning","position":null,"area":"Gral","scope":"Req","contextInstanceId":113,"targetId":54,"sampleDataId":4,"level":"info","message":"Xa

[2018-11-16 05:47] IoTFier commented on #315
@LeoHere , the issue of java.lang.RuntimeException: Font asset not found needs to be addressed.

I have done testing of this issue against all kinds of combination XF 3.2, 3.3, 3.4 - Gorilla 1.2.4, 1.5 1.5.1

Please help me in getting rid of this issue on Android platform.

Thanks,

[2018-11-16 08:36] Phlash1989 commented on #188
Hello, are there any plans to support this in the near future? As far as I know, placing images in the "Resources" folder has been deprecated by iOS 9.

[2018-11-19 13:15] sylendra7 opened #318 "Stick gorilla to this was disabled"
Hi,

 For me Stick gorilla to this was disabled which was attached in the screenshot.

Regards
Sylendra
<img width="260" alt="screen shot 2018-11-19 at 6 42 42 pm" src="https://user-images.githubusercontent.com/15817571/48709376-4fb7e200-ec2b-11e8-8690-326f938d8aff.png">

[2018-11-19 20:54] LeoHere commented on #318
@sylendra7 is the IDE addin connected to the server app? (see at Tools->Gorilla Player)

[2018-11-20 06:05] sylendra7 commented on #318
Hi thanks mate I resolved the issue by going to tools and connect to the
server

But the problem is images are not loading using the FfImageloading nugget

Regards
Sylendra

On Tue, 20 Nov 2018 at 2:24 AM, Leo Rodríguez <notifications@github.com>
wrote:

[2018-11-20 12:53] salgiza commented on #299
@mirogrg1 , did you find what was causing the problem?
I just tried to include Gorilla Player in one of our projects and I'm stuck with this error.

[2018-11-20 17:00] mirogrg1 commented on #299
@salgiza I can't exactly remember but the error was only happening on pages that were using strings from App.Resources.resx file. Then I think I played around with that file and changed the AppResources class to be public. You can do that by right clicking on AppResources.resx file and selecting PublicResXFileCodeGenerator for CustomTool property.

I did reset my emulator a few times at the time b

[2018-11-21 13:04] #318 closed

[2018-11-21 13:05] sylendra7 opened #319 "SVG Image using the FFImageLoading not displaying"
Hi,

SVG Image loading from the drawable folder not working with the FFImageLoading  using the Gorilla Player.

[2018-11-22 10:52] ChasakisD commented on #313
Any updates on this one? I also have the same issue with MergedDictionaries.

[2018-11-22 13:21] Umar3x commented on #313
@LeoHere Have you got any news ? Still got the issue.

[2018-11-22 14:02] khadeeja-alif commented on #158
Is there some issue with running Gorilla SDK with Prism Dryioc?. Can't seem to access resources in App.xaml file in my prism application with gorilla sdk

[2018-11-22 14:10] LeoHere commented on #158
@khadeeja-alif are you getting any specific error? Can you please include the Grial SDK configuration?

[2018-11-22 14:15] khadeeja-alif commented on #158
I get StaticResource not found, even after registering prism assembly.  I am using UXDivers.GorillaPlayer.SDK 1.5.0

               LoadApplication(UXDivers.Gorilla.Droid.Player.CreateApplication(
            this,
            new UXDivers.Gorilla.Config("Good Gorilla")
              //FFImageLoading.Forms
              .RegisterAssemblyFromType<FFImageLoading.Forms.CachedImage>()
              //

[2018-11-22 15:04] ArunSivaR opened #320 "Implementing events doesn't work on gorilla SDK"
Hi Team,

I want to implement events and preview this on Gorilla SDK, but it doesn't work with Gorilla, for example i have added a button and on the click event i have changed the background color of the button, it works fine with normal deploy, but it doesn't work with Gorilla, please find the simple sample from below ,
i want to implement events with Gorilla please suggests any way to implement

[2018-11-22 17:12] Umar3x commented on #320
Gorilla player previews xaml files, and so will not be able to handle events/commands. Its for UI only purpose. So best for you is implementing the UI and then, yes, if you want to test some logic in your code-behind or VM, go for debug/release deploy.

[2018-11-22 17:14] Umar3x commented on #319
Hello,

To help you please provide the gorilla version you are using. Are you using gorilla sdk ?

[2018-11-22 21:46] khadeeja-alif commented on #317
I am having the same issue - Images not loading after Gorilla SDK Update. Overall it has become very slow. And Images sometimes shows up, other times it doesn't.

[2018-11-22 22:35] LeoHere commented on #158
@khadeeja-alif for Prism application I would recommend that you use the `UseApplication(new App(), this, new Config()...)` method instead of the `CreateApplication`. The create application creates a new Xamarin Forms standard application. Prism applications require the App to be a PrismApplication.

Still this does not explains the `StaticResource` not found issue. Can you provide a little more de

[2018-11-23 04:32] Steven-Mark-Ford opened #321 "Error "no method ImageButton" found on type"
I upgraded to the latest Xamarin Forms which includes an ImageButton control now. But when I try run Gorilla I get an error. See below
![image](https://user-images.githubusercontent.com/1920816/48928608-8e4fe400-ef2c-11e8-8eb0-d6ac092fc7c2.png)

[2018-11-23 07:19] khadeeja-alif commented on #158
This is my App.xaml file.

<?xml version="1.0" encoding="utf-8"?>
<prism:PrismApplication xmlns="http://xamarin.com/schemas/2014/forms"
                        xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
                        xmlns:prism="clr-namespace:Prism.DryIoc;assembly=Prism.DryIoc.Forms"
                        x:Class="MyProject.App">
    <Application.Resources>

        <Resou

[2018-11-23 07:43] khadeeja-alif commented on #158
Okay. Thanks.!

Got the StaticResource issue solved. T'was a minor mistake in my App.xaml file.

[2018-11-23 09:35] salgiza commented on #299
Yep, it definitely has something to do with the translations, but I don't know why.

This is my Gorilla.json file:

[code]

If configured as that,  I get the "Cannot read property 'project' of undefined" error. If I change the name of the markupExtension tag into something different (such as "xxx"), the error goes away, and the TranslateExtension actually is applied (so I get the translations, whi

[2018-11-23 09:38] salgiza commented on #270
Hi @viccotr , did you find out what the problem was? I'm having the same problem with images in iOS. When using the <Image> tag, they are rendered as double (I think) their size, even though the images are fine when the app runs in the emulator or in actual devices.

[2018-11-23 13:03] salgiza opened #322 "Gorilla Player crashes when binding double? properties"
I haven't check whether it just applies to nullable doubles, or to any numeric nullable (int?, decimal?, etc.), but if I have a property defined as such in a custom control:

[code]

And I try to set its value in the XAML (using a Binding, it works fine if I just set a number):

`<me:QuantityLabel Quantity="{Binding Quantity}" />`

The app crashes when previewing the page:

[code]

The error goes

[2018-11-23 18:07] sylendra7 commented on #319
I'm using Gorilla 1.5.0.0
No I'm not using Gorilla SDK

[2018-11-27 11:20] LeoHere commented on #293
@radderz can you attach your `MainActivity.cs` if you are in Android or `AppDelegate.cs` if iOS. Can you attach a screenshot of the error you are getting please?

[2018-11-27 13:04] LeoHere commented on #158
Closing the issue since it is a pretty old issue. Please open a new issue if the problem persists.

[2018-11-27 13:04] #158 closed

[2018-11-27 13:33] LeoHere commented on #313
@Umar3x it is weird, on Friday I though I was able to reproduce the issue. But today I testing again to start digging and I'm not able to reproduce it any more :(.

Can you consistently reproduce the issue?

The only thing I can recall I did since Friday was restart Gorilla. Did you try restarting Gorilla desktop app?

[2018-11-27 19:23] radderz commented on #293
Hi @LeoHere, the error is identical to the above error, Root XAML element unrecognised.

This is my LoadApplication

`LoadApplication(UXDivers.Gorilla.Droid.Player.CreateApplication(
            this,
            new UXDivers.Gorilla.Config(new Uri("http://192.168.98.199:9014"), true)
              .RegisterAssemblyFromType<BaseContentPage>()
              .RegisterAssemblyFromType<FFImageLoading.

[2018-11-27 21:33] LeoHere commented on #293
@radderz

I asked for the screenshot because I want to make sure you are running your Gorilla SDK and not the Player app (previously available in the stores).

Does your Gorilla navigation bar looks like in the screenshot below? Is it orange or red?

![image](https://user-images.githubusercontent.com/16000584/49109502-a0ea5600-f269-11e8-90da-1dc0aaee8b12.png)

Orange (as in the screenshot) means y

[2018-11-27 23:15] NickCullen commented on #313
If I can be of any help, I am seeing the same issue - I came across Gorilla player via the blog post you wrote and linked and is freshly installed as per the guide.

In my app.xaml I have a static resource
`<x:String x:Key="ShareIcon">&#xf1e0;</x:String>`

In my main page (which inherits from a custom xaml based content page) I get the "cannot find static resource 'ShareIcon'" error.

Where my iss

[2018-11-28 20:18] mirogrg1 commented on #299
How about your DesignTimeData.son file? Does it have all the data for the page you're previewing?

[2018-11-28 20:38] Lafannn opened #323 "Gorila does not automatically apply global styles"
After you start the player, the styles in the "App.xaml" are not affected by how the application pages are displayed. Gorila applies global styles only after editing a file.

App.xaml

`<mvx:MvxFormsApplication>
	<mvx:MvxFormsApplication.Resources>
		<ResourceDictionary>
            <Color x:Key="Primary">#2196F3</Color>
            <Color x:Key="PrimaryDark">#1976D2</Color>
            <Color x:K

[2018-11-28 20:56] NickCullen commented on #313
Hi,

I've further been looking at possible issues for this.

The static resource I am referencing is a simple string (as demonstrated in my previous comment) - I also have a "SettingsIcon" static resource specified in the same way:
`<x:String x:Key="SettingsIcon">&#xf013;</x:String>`

I have the settings icon displaying on the MainPage as follows:
`<Button Style="{StaticResource SolidIcon}"

[2018-11-29 00:15] Umar3x commented on #313
Hello @LeoHere . Yes the issue is always here. I did restart Gorilla, I even uninstalled old version and reinstalled from downloaded .exe on gorilla's website.

I don't know if this help but I think that might be linked with #309 .

I also noticed a similar behavior as @NickCullen in the project. I'm using a the multilingual toolkit and a custom tag to reference where text must be automatically tr

[2018-11-30 21:58] toomasz commented on #313
I'm also getting same error with any resource located in App.xaml

[2018-12-03 21:22] marcelozanetti commented on #238
Hi, I'm trying to login into Gorilla player but I'm getting this message:

![image](https://user-images.githubusercontent.com/38536347/49402301-b7dcec80-f730-11e8-86ff-3da642e57ff8.png)

[2018-12-04 13:13] marcelozanetti opened #324 "Your account is not active, please contact support"
Hi, I'm trying to login into Gorilla player but I'm getting this message:

![image](https://user-images.githubusercontent.com/38536347/49443925-d5539a00-f7b4-11e8-8b1d-dc445c5b03dc.png)

[2018-12-04 14:45] marcelozanetti commented on #324
I kept waiting but did not receive any confirmation email

[2018-12-04 14:49] marcelozanetti commented on #324
I checked my inbox, spam and nothing

[2018-12-05 12:46] marcelozanetti commented on #324
@LeoHere, I still can not access the application. can you help me?

[2018-12-06 09:11] LeoHere commented on #324
@marcelozanetti, from the logs it seems you were able to signing-in, is that correct?

[2018-12-10 19:48] IoTFier opened #325 "Installing Gorilla Player Addin in VS 2019 preview"
Hello, is it possible to install Gorilla Addin in VS 2019 preview on Windows and MAC ?

When will the next update on Gorilla SDK compatible with XF 3.4 going to be released ?
Are you all aware of any known limitations with VS 2019 preview with XF 3.x and XF 4.0 preview ?

![image](https://user-images.githubusercontent.com/26844611/49757431-08e56700-fc82-11e8-941a-4da4b66d77e9.png)

Thanks

[2018-12-11 12:01] LeoHere commented on #325
@IoTFier I can provide an vsix compatible with VS19. Just email me.

Gorilla should be compatible with XF 3.4. Just upgrade XF in the project where the SDK resides.

We didn't test it with XF 4.0.

[2018-12-11 12:11] ClaudineiMonteiro commented on #108
I have a Samsung Galaxy S7 phone with the latest version of Android, but when I try to connect in the gorilla playear it appears this error:
![image](https://user-images.githubusercontent.com/16354515/49799847-fc115380-fd13-11e8-8576-92c57edbce7b.png)
Please help me!!!

[2018-12-11 16:34] jpbrocca commented on #108
Hi @ClaudineiMonteiro,

From your screen capture, you are not using the latest version.
It seems you have the Gorilla server with the latest, but, you are trying to preview through the deprecated Gorilla Player app from stores.
You need to embed Gorilla SDK in your app to preview properly.

Check the following article on Xamarin's blog for more details:
https://blog.xamarin.com/gorilla-player-a-to

[2018-12-12 09:55] jpbrocca commented on #319
Hi @sylendra7,

To preview SVG files through Gorilla SDK you need to provide a string with this pattern:

- resource://{**resourceName**}?assembly={**resourceAssembly.FullName**}";

...something like this:

- resource://MyApp.Sample.ResourcesFolder.MySVGFile.svg?assembly=MyApp.Sample

Finally, you need to use your XAML this way:
[code]

Regards,
JP

[2018-12-12 09:56] #319 closed

[2018-12-12 09:56] jpbrocca commented on #279
Just in case, check:
https://github.com/UXDivers/Gorilla-Player-Support/issues/319

[2018-12-12 20:33] ChasakisD commented on #325
@LeoHere Could you share it here or provide me your email? Thanks!

[2018-12-12 22:11] Spider351 opened #326 "Android app?"
Where can i download the gorilla app? for emulators or real device, i'm having a problem with that, i got two links which play.google.com tell me are wrong links.

[2018-12-14 20:00] LeoHere commented on #325
@ChasakisD yes sure. l r o d r i g u e z at uxdivers.com

[2018-12-17 13:39] ClaudineiMonteiro commented on #108
As the app that is in gogleplay is not version 1.5, I opened the project that came with the desktop installer for windows and deployed it to my device. It opens and connects to the server, however when I go on a screenshot of the grial kit and app stops working and closes. What should I do?

De: jpbrocca <notifications@github.com>
Enviada em: terça-feira, 11 de dezembro de 2018 11:35
Para: UXDiver

[2018-12-17 13:51] LeoHere commented on #108
@ClaudineiMonteiro If you are previewing Grial UI Kit base application please download the "Gorilla Ready" version from the Grial Admin and run it using the **Gorilla** configuration included in the downloaded solution. See [this](https://uxdivers.github.io/Grial-UI-Kit-Support/docs.html#grial-uikit-overview-previewing-grial-with-gorilla-player) section of the documentation for more information.

[2018-12-17 13:56] ClaudineiMonteiro commented on #108
that is exactly what I did, but app closed.

De: Leo Rodríguez <notifications@github.com>
Enviada em: segunda-feira, 17 de dezembro de 2018 08:51
Para: UXDivers/Gorilla-Player-Support <Gorilla-Player-Support@noreply.github.com>
Cc: ClaudineiMonteiro <claudinei.monteiro@outlook.com>; Mention <mention@noreply.github.com>
Assunto: Re: [UXDivers/Gorilla-Player-Support] How to use it ? (#108)

@Claudin

[2018-12-17 14:37] LeoHere commented on #108
@ClaudineiMonteiro please attach the exception you see in the Output. Did you see Gorilla Player's initial screen? If possible can you send me a screenshot/video of what you see.

[2018-12-17 14:39] ClaudineiMonteiro commented on #108
Yes, I'll do it.

De: Leo Rodríguez <notifications@github.com>
Enviada em: segunda-feira, 17 de dezembro de 2018 09:37
Para: UXDivers/Gorilla-Player-Support <Gorilla-Player-Support@noreply.github.com>
Cc: ClaudineiMonteiro <claudinei.monteiro@outlook.com>; Mention <mention@noreply.github.com>
Assunto: Re: [UXDivers/Gorilla-Player-Support] How to use it ? (#108)

@ClaudineiMonteiro<https://nam03.sa

[2018-12-19 14:23] JRenseler opened #327 "StaticResource not found"
Hello,

I'm testing the Gorilla-Player with Xamarin Forms and Prism with DryIoC.

Whenever I open a page using StaticResources (defined in the App.xaml) the Gorilla Player displays an error message (StaticResource not found for key ...).

I'm using the Gorilla SDK,  below my code to load the application.
[code]
Here my App.xaml

[code]

Did I miss some initialization?

Thanks for your help in adva

[2018-12-20 11:35] Umar3x commented on #327
Hello,

Same prob a #313 discussion. @LeoHere have you got any clews now ? Thanks :)

[2019-01-01 16:06] ClaudineiMonteiro commented on #108
claudinei.monteiro@outlook.com has shared OneDrive files with you. To view them, click the links below.

[icon]

Error GorillaPlayer Samsung Galaxy S7.mp4<https://1drv.ms/v/s!AtX9LsDq7rujk5Q0FMe7zs3kce8JQg>

[icon]

Error GorillaPlayer VS2017.mp4<https://1drv.ms/v/s!AtX9LsDq7rujk5QzaYPHkZIAPO7V5w>

Attach the videos, the gorillaplayer is running on the phone normally, when I enter the visual studi

[2019-01-01 16:35] thinkplaystudios opened #328 "uxdivers.com ssl cert expired"
I am unable to login, could it be due to the expired cert the login attempts to connect with?

[2019-01-02 00:08] thinkplaystudios commented on #328
Thank you!

[2019-01-03 16:43] thinkplaystudios commented on #326
Hi JP,

I'm not following this - what exactly do you run on the mobile device to start previewing?  Do you actually debug the whole app on the device and that's how you can also start to live-edit xaml and see it's changes?

[2019-01-03 17:11] leszekrogowski opened #329 "EngineIoClientDotNet and SocketIoClientDotNet are deprecated"
The author of EngineIoClientDotNet and SocketIoClientDotNet has recently marked these projects as deprecated. Please look at: https://github.com/Quobject/EngineIoClientDotNet and https://github.com/Quobject/SocketIoClientDotNet. What is worse, the author has removed all versions >= 1.0.3 which gives an error during package update on Visual Studio for Mac:

WARNING: Could not install package 'Engin

[2019-01-04 01:00] geoffreys commented on #327
Can confirm same issue here. In my case App.xaml merges in a bunch of other dictionaries (eg colours, styles, fontstyles, etc).  Net result in Gorilla is StaticResource XXXXX not found, and page can't render.

Remove the StaticResource binding and the page renders correctly.

Prism and Unity in my case, if it matters. Gorilla 1.5, no updates available.

[2019-01-04 07:40] Mr-Pearce opened #330 "Error with merged Dictionaries "Cannot read property '0' of undefined""
Hi i have had to split my Resource Dictionary into a separate file. like this

**app.xaml** with some datatemplates and selectors
[code]

and **"AppResources.xaml"** that contains my styles and converters.

Every page gets **"Error occured while loading myview.xaml (error message:cannot read property '0' of undefined"**

when i put the styles from the appresources.xaml back into the app.xaml (what

[2019-01-07 04:06] IoTFier commented on #158
Hi @LeoHere , how are you? Happy New Year !

Using Gorilla SDK I have completed many of my UIs ; in I have also used some 3rd party controls e.g. Syncfusion control library.

Now I am trying to copy my XAML Pages, resources, theme in a new Prism v7.1 + XF 3.4 based project which is configured to use the UXDivers.GorillaPlayer.SDK.AutoConfig which is in the beta version.

I added known assemblies i

[2019-01-07 06:15] IoTFier commented on #327
Hi @LeoHere , I am facing same issue with Prism.DryIoC v 7.1.x; XF 3.4 while trying to preview my XAML via Gorilla Player (built using Prism.DryIoC v7.1.x). My XAML files are in a XF App project that has reference to the new beta version Gorilla Auto Config Nuget package.

Your help will be appreciated.

![image](https://user-images.githubusercontent.com/26844611/50751828-148c6500-1211-11e9-8d7c-c

[2019-01-07 17:02] IoTFier commented on #163
Hi @LeoHere , I am experiencing this issue with Prism.DryIoc.Forms v7.1.0431 + XF 3.4.0.1009999 when tried to preview XAML with Gorilla AutoConfig and/or SDK. Any input on how to address this ?

Thanks

[2019-01-08 16:36] rootSectornet opened #331 "Error, Xaml : Position 106:54. Expected Setter but found Xamarin.Forms.Label"
Error, Xaml : Position 106:54. Expected Setter but found Xamarin.Forms.Label
i have this error, but my code just have 104 line

<?xml version="1.0" encoding="UTF-8"?>
<ContentPage xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             x:Class="Tootanium.TooWork.IntroTooWork"
             xmlns:CSControl="clr-namespace:Tootaniu

[2019-01-08 18:04] vjlomocso commented on #221
+1
Any news?

[2019-01-09 16:09] dogood45550 opened #332 "gorilla Player not working"
hello , i am using Gorilla Player version 1.1.0.4 and latest version of Visual Studio 2017 Gorilla Player work fine with Sample File but when i am create my own
project its takes error " Please see the Log file Internal Error " any body Help me

what things are Missing thats are not in my Project

[2019-01-09 18:14] LeoHere commented on #332
@dogood45550 please use the latest version (i.e. 1.5). Please see [this blog post](https://blog.xamarin.com/gorilla-player-a-tool-to-craft-beautiful-xaml-uis-for-xamarin-forms/) for more info on how to use it and preview custom stuff.

[2019-01-10 05:50] dogood45550 opened #333 "where is android App (client )"
i have install Gorilla player 1.5  Latest on my window machine  where is Android app so i can connect with Gorilla Player Server . i did not get it from PLayStore Misssing what i do next

[2019-01-11 23:53] wislon commented on #189
I had to make some additional tweaks in the windows firewall (advanced firewall settings) to get the emulator to work:

* I told it to allow *any* application (not the c:\users\blah\gorilla player exe specifically)
* I told it to allow in/out on the specific UDP (14578) and TCP (9014) ports (not just any port)
* I had to turn off the "defer to user" (changed to "allow traversal") in "Advanced" (I

[2019-01-14 12:56] ZdePH commented on #332
Where is the 1.5 version?
In play store is 1.4 , anr it don´t works.
Do you sned to me  a link to download ?
The android app 1.5 not found.
Thanks

[2019-01-15 10:39] ZdePH opened #334 "Downloads project don´t works"
Hi:
First of all, a suggestion: please remove "gorilla player" app from play store and we will avoid a lot of time loss.

Well, once achieved and the android app does not issue an error message for different versions, I downloaded the preconfigured project from the admin site.
The Gorilla player does not work, sometimes it even stops, and you have to reload it on the phone.
Also in the few screens

[2019-01-15 13:46] LeoHere commented on #334
@ZdePH

Please do as follows:
1) Remove the Gorilla Player app from your device. You don't need it when you are using Gorilla SDK (I think this is the main source of confusion here)

![image](https://user-images.githubusercontent.com/16000584/51183447-f88f6000-18af-11e9-8340-a2587f904f98.png)

2) Please download the Gorilla Ready version of your solution from the admin site.

![image](https://user

[2019-01-18 11:43] SysSoft opened #335 "BackgroundImage"
hello
first of all thank you for this incredible tool, i have a little problem background image not showing how can i fix this problem ?

thank you

[2019-01-19 16:45] VFX10 commented on #221
+1 Any news?

[2019-01-20 04:41] LeoJHarris opened #336 "Design time data to View Model classes"
This is regarding this link: https://github.com/UXDivers/Gorilla-Player-Support/wiki/Working-with-design-time-data

I am trying to work with design time data, I have cell views comprised of an XAML and .cs file (foo.xaml foo.cs), the binding is actually just done between the View Model and the .cs file and inside the XAML file I am declaring x:Name value and referencing that in the code behind. Is

[2019-01-21 22:32] DamianSuess commented on #227
Intellisense is still broken in v1.5.0 (VS2017 15.9.5). Should I open a new issue for this?

[2019-01-24 13:23] LeoHere commented on #336
@LeoJHarris I don't fully understand what you are saying.

There is no need to set the `x:Name`. You just setup the binding using `{Binding xxxxx}` in the XAML and in the `DesignTimeData.json` you just name the XAML file and set the associated design time data.

Please take a look at the **MyCoolCompany** app sample provided with Gorilla. The sample has a list with the bindings and all.

Hope it h

[2019-01-24 19:16] LeoJHarris commented on #336
In some of my ViewCells I dont have a binding in the XAML i.e.:

RoomViewCell.xaml:

[code]

Then in my code behind RoomViewCell.xaml.cs

[code]

If I am not using `{Binding xxxxx}` in the xaml.cs itself but simply the x:Name then reference that, can I still do design time data?

[2019-01-24 20:04] LeoHere commented on #336
@LeoJHarris No, Gorilla only supports previewing XAML that uses bindings. Stuff in the code behind will not be previewed.

[2019-01-24 20:05] LeoJHarris commented on #336
@LeoHere Okay thanks for the response that answers my questions. Cheers

[2019-01-24 20:05] #336 closed

[2019-01-28 21:48] profpjmg commented on #305
Hi,
I have the same problem.
I've tried several android emulators including a real device and none of them worked.
The connection to the server works and the gorilla icon appears in the xaml file.
Someone can help me?

[2019-01-28 23:07] profpjmg commented on #305
Thanks for your answer!
I  have installed the UXDivers.GorillaPlayer.SDK.Autoconfig
I got the following errors:

![errors](https://user-images.githubusercontent.com/33670458/51872213-8bb8a300-2350-11e9-93c1-17b92b13d7b9.PNG)

Anything missing...

[2019-01-28 23:19] jadenrogers commented on #305
@profpjmg Yes just for getting started remove the autoconfig package and just install

UXDivers.GorillaPlayer.SDK

    Install-Package UXDivers.GorillaPlayer.SDK -Version 1.5.0

[2019-01-28 23:40] profpjmg commented on #305
I have got this:
![capturar](https://user-images.githubusercontent.com/33670458/51873665-00421080-2356-11e9-82de-2340099035bf.PNG)

He ask me for the server ip. Where can I find it?

[2019-01-28 23:50] jadenrogers commented on #305
@profpjmg

Good stuff. First make sure Gorilla player server is running on your dev machine.
Make sure your device is on the same local network.

If it doesn't detect the server automatically get your PC local IP by right clicking the Gorilla Player tray icon and selecting "About Gorilla Player"

Then "Show Details" and you should see your IP address. Punch it into the app and hit connect!

![imag

[2019-01-29 00:36] profpjmg commented on #305
I don't find my local IP  in the Gorilla Player because the aplication with right clicking in the icon don't show me nothing. I find him in the internet. After entering the IP (starts 192.168....) I got the following image:

![error2](https://user-images.githubusercontent.com/33670458/51875501-28813d80-235d-11e9-9a51-ce4435b4e78d.PNG)

Thank you for the patience.

[2019-01-29 01:57] profpjmg commented on #305
I find my local IP like you have said and I have disconnect the firewall of W10 and Kaspersky, he still give me the same error: time out.
I try a seconde time with _my local IP:9014_ I think it works but the previewr does not make updates.

[2019-01-29 07:37] profpjmg commented on #305
It works!
I forgot to save changes,
Thank you very much

[2019-01-29 23:31] albertoms commented on #305
I had the same problem with the Android emulator on a Mac. The screen was just looping waiting for a server to connect with.

I typed `ifconfig` on my terminal and looked up for the `e0` block:
[code]

Then I copied the IP from the `inet` line and pasted it on the Android emulator. It works now :)

[2019-02-01 06:45] JRenseler commented on #327
Any news and ideas on this?
We would really like to use Gorilla Player, but are blocked by this issue.

Is there anything we could do to sort it out? Would a demo project be helpful?

[2019-02-01 08:56] Umar3x commented on #327
Not for now I stoppped using gorilla cause of this issue ;( as my app goes bigger and bigger. @LeoHere have you digged into  this ? Thanks.

[2019-02-01 11:07] Umar3x commented on #327
@geoffreys  I'm not sure its not maintained anymore but it seems that's this prob is difficult to investigate for maintainers .. I wish I could help but for now I can't.

[2019-02-01 12:38] IoTFier commented on #327
@Umar3x - I pulled up that preview to give any possible hint to @LeoHere and Gorilla team in case... just like in https://github.com/UXDivers/Gorilla-Player-Support/issues/158
Besides - here is the another XAML page preview that supports our common issue ..
![image](https://user-images.githubusercontent.com/26844611/52123510-f8030300-25eb-11e9-9222-81a07bc55a11.png)

[2019-02-15 03:06] LeoJHarris opened #337 "Gorilla player hangs on emulator"
Hi there when trying to connect to my emulator on android the the above screen keeps showing and the spinner wont stop:

![screenshot_1550199702](https://user-images.githubusercontent.com/5468757/52831832-051b0880-313b-11e9-956f-d52cff111a38.png)

Works fine on my real device no issues at all.

Also if I put in the server entry the address and port number and press connect it connects fine. But do

[2019-02-18 10:37] erlandvr commented on #333
I Seem to have the same Issue here. Can anyone help us out?

[2019-02-19 19:00] attrib75 commented on #330
I'm having the same issue, resolved by putting the values from the merged dictionary back into app.xaml

[2019-02-25 11:34] Glomby opened #338 "Can't connect on android do to https security requirements."
My andoird device (galaxy S8) can't find or manually connect to the gorilla server. Typing the server address manually doesn't work either. However when I type the address as https: instead of http: I cant find the server on my android device using the browser.

This of course doesn't help me during development. I read about some additional security settings you can implement in die android app ma

[2019-02-26 00:07] LeoJHarris opened #339 "Multiple devices preview simultaneously"
Hi is it still possible to do multiple devices preview?

Below video which is a bit old shows it was possible using the Gorilla player but that app is no longer available on the stores (https://play.google.com/store/apps/details?id=uxdivers.gorilla - dead link). Was this functionality dropped? If some one could enlighten me how to get multiple devices previewing simultaneously that'd be much appre

[2019-02-26 12:22] LeoHere commented on #339
@LeoJHarris yes you can preview in multiple devices at the same time. In order to do that you need to setup Gorilla SDK on your project and deploy it to each device you want to preview with. Once you do that, just connect all the devices to the server and start previewing.

Follow the steps described in [this](https://blog.xamarin.com/gorilla-player-a-tool-to-craft-beautiful-xaml-uis-for-xamarin-f

[2019-02-27 02:36] jpd21122012 commented on #325
Can you send me the vsix for vs 2019?

[2019-02-27 08:35] leandrofmarcos commented on #325
Can you send me the vsix for vs 2019 too?

[2019-03-01 22:05] LeoHere commented on #325
@leandrofmarcos @jpd21122012 you can download the addin from the VS Marketplace now.

[2019-03-01 22:53] jpd21122012 commented on #325
Thanks a lot !!!

[2019-03-07 04:53] LeoJHarris opened #340 "Converter with Complex object"
Hi there I am passing a Complex object to my converter and returning a string value with the converter as a text prop in my xaml, gorilla player knows about the converter however I'm not sure how can I define in the SampleData.Json file the type or something else such that gorilla player resolves the type.

Currently the value in my converter has the below when I save the SampleData.Json file:

[c

[2019-03-09 16:35] lunjio opened #341 "Error trying using xamarin forms above 3.4, Gorilla sdk 1.5.0 and lottie."
Getting error "System.NotSupportedException: Unable to activate instance of type Xamarin.Forms.Platform.Android.FormsEditText from native handle 0x7e600021 (key_handle 0x41f89b90)." Gorilla sdk verison 1.5 , Using Prism and Lottie, on Xamarin.Forms 3.4 every thing works fine, but on any version above app crashes with described error.

[2019-03-11 21:48] LeoHere commented on #341
@lunjio can you provide a simple project where we can reproduce the issue?

[2019-03-20 01:52] Onslot opened #342 "Error while bulding"
i get this error when i build Debug Any CPU Player.Droid
The non-generic type 'PrismApplicationBase' cannot be used with type arguments	Player.Droid

[2019-03-20 22:04] LeoJHarris commented on #327
@LeoHere This is seriously killing previewing our project. Can we please get some update / feedback on this issue if there is some temp solution or whether even its being actively investigated please? Would be such a shame to see Gorilla player fall by the way side.

[2019-03-20 22:09] jpbrocca commented on #342
Hi @Onslot,

could you provide more details/context?
Did you make sure you are using the Gorilla SDK in your app?

Thanks,
JP

[2019-03-20 22:11] Onslot commented on #342
Hi JP,

I only get this issue on my work workstation but it works on my laptop. For me to complete my project I will just work off my laptop since it is working and worry about the issue at a later time. Thanks for your response.

[2019-03-20 22:11] #342 closed

[2019-03-20 22:36] LeoJHarris commented on #327
@LeoHere Seems to be an issue with referencing StaticResource in code rather then xaml, in my example I have a ViewCell with a backing xaml.cs file and some StaticResource is being referenced in there.

[2019-03-21 13:15] AbuMandour commented on #304
same problem :(

[2019-03-21 14:21] gsgou opened #343 "App doesn't start/show after succesfully being connected to server"
<img width="331" alt="Screenshot 2019-03-21 at 15 14 34" src="https://user-images.githubusercontent.com/911534/54758392-5f9cfe00-4bec-11e9-8bd0-a39b93d3d3cd.png">

I followed the guide with the ConferenceVision app exactly as described:
https://blog.xamarin.com/gorilla-player-a-tool-to-craft-beautiful-xaml-uis-for-xamarin-forms/
*No errors in gorillaHost and gorillaPlayer logs found.*
*No (Gorilla

[2019-03-21 17:37] IoTFier commented on #327
@LeoHere, I am getting the StaticResource not found error while using Prism based MVVM + Grial Starter project . Any help is addressing this issue?

Thanks

[2019-03-22 00:15] gsgou commented on #343
To get it to work i had to go to: **Tools => GorillaPlayer => Connect to Gorilla**

[2019-03-22 00:15] #343 closed

[2019-03-23 16:08] rgclark commented on #273
You have to change the

TargetType="{x:Type Label}"

to:

TargetType="Label"

[2019-03-25 18:45] mced76 commented on #325
Hello.
Could you send me the Visual Studio for Mac 2019 Preview extension please.
Thanks a lot

[2019-03-26 11:14] ElMehdiElMellaliMobile opened #344 "gorilla player APK not found in play store"

[2019-03-26 19:57] AldoBustosLizana commented on #332
@ZdePH  i found this.
Very Important: The Gorilla Player mobile app available in stores was removed in this release. It caused much confusion about its usage.
Originally was conceived as a basic XAML previewer, something that is much better done nowadays by Visual Studio previewer, so it doesn't make sense to maintain it anymore. For real life scenarios (i.e.: Derived pages, custom renderers, loca

[2019-03-26 20:08] zoezydk commented on #344
Try this...

https://gorilla.en.aptoide.com/

[2019-03-26 20:24] zoezydk opened #345 "Unable to connect Gorilla app to server from Samsung device but able to connect and run on local machine emulator"
I have successfully installed, connected and ran Gorilla player on my local machine on the emulator, using Visual Studio.

However, after download and install of the Gorilla player apk on my Samsung device, I am unable to auto-discover the wifi network/server through the newly installed Android app.

Selecting the network/server manually has neither been successful as the app simple reports throug

[2019-03-27 22:47] DolenzSong commented on #89
Ditto here. Been struggling with this for two days now.

[2019-03-28 20:55] REDECODE commented on #64
Same problem form me.
I have an android device with xxhdpi screen density and I correctly use different images resolution in drawable-hdpi drawable xhdpi drawable-xxhdpi etc.. folders but when i use GorillaPlayer on that device the images are really small compared to the one in the drawable folder.. unless I force WidthRequest and HeightRequest but is not the required behaviour because I expected

[2019-03-30 13:24] zoezydk commented on #345
Anybody got some input on this one from the Gorilla team...?

[2019-04-02 15:18] SwingsetTheory commented on #294
Having same problem, thanks for the workaround.

[2019-04-05 17:44] rodrigojuarez commented on #344
It's an old apk compared with the latest nuget for gorilla player

[2019-04-08 20:37] zoezydk commented on #344
@rodrigojuarez There's a reason to start a github request for you right there...

[2019-04-09 02:50] ZiaStansall opened #346 "Gorilla live xaml view is not working on real ios device."
**Description**
i have connected my real Ios device to my MAC to preview the live xaml with GORILLA and then my phone just only shows Connected via GORILLA but no xaml page preview at all on phone screen.

**Expected Behavior**
No xaml page live preview on my phone (Iphone 7)

**Actual Behavior**
It shows live preview on my android device. and working fine (y)

**Basic Information
![abbacbc5-0ae3-

[2019-04-13 06:24] aormsby opened #347 "Gorilla extension package not loading in VS Mac 2019"
I've installed the desktop app and included the Gorilla nuget packages in my files. I can deploy to my simulators and connect to my server, but nothing happens after that. I *think* it's because the VS extension package isn't loading, but I want to double check. Regardless, this does seem like a related issue. Here's a screenshot I grabbed. Can you help?

![image](https://user-images.githubusercon

[2019-04-13 12:15] LeoHere commented on #347
@aormsby we will do a new release with support for VS 2019 shortly. In the mean time you can download a compatible extension from [here](http://bit.ly/2X7Iig0). You install it using the `Install from file..." option shown in your screenshot.

[2019-04-13 15:32] aormsby commented on #347
Thanks, that did fix the extension loading issue.

I had some initial trouble using the player on two existing projects. For some reason, the Android builds wouldn't deploy, and the iOS build wouldn't allow the player to follow me in the IDE.

However, after creating a fresh project and following the setup instructions [here](https://devblogs.microsoft.com/xamarin/gorilla-player-a-tool-to-craft-be

[2019-04-13 15:37] aormsby commented on #347
Yeah, for some reason the XAML follow function doesn't work. That's the only issue I've really found so far with this fix. Otherwise, seems good.

[2019-04-15 22:40] ismaelf commented on #347
Any estimate when the plugin update for Visual Studio Mac 2019 will be out? I'm using the previous VS version just because of its compatibility with the gorilla player.

[2019-04-17 10:26] #273 closed

[2019-04-18 03:32] monetelli opened #348 "Error with Gorilla Player 1.5.0.0 Extension in VS for Mac 8.0.3 build 14"
![Captura de Pantalla 2019-04-17 a la(s) 22 23 24](https://user-images.githubusercontent.com/14121125/56334850-a801fa00-615f-11e9-94ce-827bc82361bf.png)

[2019-04-20 00:50] monetelli commented on #347
Hi @LeoHere Thank you very much, I'll close the new issue, I'll look forward to the new update of Gorilla Player, I support Gorilla Player a lot, so I made a videotutorial in Spanish to use it in VS for Windows in Xamarin.Forms. https://www.youtube.com/watch?v=jzGK-J65n48

[2019-04-20 00:51] #348 closed

[2019-04-20 13:30] jdprigioni commented on #325
Hi.
I can't install the plugin in Visual Studio for Mac 2019.
How I should do that?

[2019-04-22 09:03] LeoHere commented on #325
Please download it from [here](https://drive.google.com/drive/u/1/folders/1ic4f_NBuvaGfenRtg-W3MIgYKDTh8qiW).

[2019-05-01 03:06] brunck opened #349 "can't change password using Forgot Your Password? link on Windows"
Using version 1.5 of the desktop app on Windows 10

I set my password when registering, and I was able to log in originally. I checked off "Keep me logged in" but when starting the app again I was not in fact logged in.
So I tried to log in using my credentials, definitely was the right e-mail address, but it claims my credentials are wrong. This is very unlikely as I set my password originally us

[2019-05-07 09:35] AAR001 commented on #243
can you active my account likedin.finder@gmail.com
![image](https://user-images.githubusercontent.com/13041180/57289724-83070400-70d9-11e9-8fbc-efac2155d135.png)

[2019-05-09 02:34] VegardAaberge commented on #347
Any update on this, when are you planning to make a new release?

I can also use 1.5.1, but the follow function doesn't work which is annoying.

[2019-05-16 04:47] jpbrocca commented on #347
Hi @aormsby,
Gorilla Player 1.5.2.0 with support for Visual Studio was released.

https://github.com/UXDivers/Gorilla-Player-Support/releases/tag/v1.5.2.0

Regards,
JP

[2019-05-16 04:47] #347 closed

[2019-05-25 15:04] DamianSuess opened #350 "Missing v1.5.2 Release Notes"
As a user, I would like to know what is in the release before upgrading our NuGet packages. If we encounter breaking changes, it would be easier for us to inform you properly.

i.e.
* Missing release notes from v1.5.0 to v1.5.2

[2019-05-26 22:59] npagare opened #351 "Gorialla 1.5.2 - SDK configuration error while using syncfusion segmentedcontrol"
My environment -
* OS Win 10 Professional 64  update 1809
* VS 2019.1.1
* Grial SDK 2.7.7
* Gorilla SDK updated to 1.5.2

While previewing a content page that uses Syncfusion segmented control, Gorilla SDK -
1. gets frozen for long time on the initial (Gorilla server is established) launch page
2. after a long delay when it renders the page, it shows error - "Additional SDK configuration required"

[2019-05-27 08:20] aormsby commented on #347
Hey, I'm sure you're aware that the nuget package update isn't available through the nuget.org portal yet, but I did manually install the latest versions without issue.

Everything is working working great! Thanks!

[2019-05-27 11:51] LeoHere commented on #347
@aormsby the nuget for the Gorilla Player SDK v1.5.2 is available in the nuget.org. Did you have any issues with it?

[2019-05-27 11:58] LeoHere commented on #350
@DamianSuess there are not breaking changes. The "release notes" (I added quotes because they are so short that it might be too much to call them release notes) are [here](https://github.com/UXDivers/Gorilla-Player-Support/releases).

Essentially we added support for VS 2019 on Windows and Mac. Actually the 1.5.2 nuget is the same as the 1.5.0. We only update the version number to keep a uniform v

[2019-05-27 12:10] LeoHere commented on #351
@IoTFier

Silly question, but did you redeployed the player app after doing the `RegisterAssembly(typeof(System.Collections.Generic.List).Assembly)`?

Regarding 3, you might try accessing what is missing through the Status Page.

Regarding 5. The message is wrong there. Where it says "The following Bindings need data:" it should say "The following assemblies are missing:". If you completely remove

[2019-05-27 14:21] npagare commented on #351
Hi @LeoHere ,

I didn't explicitly build the player app from the Extras folder for iOS Simulator.  I thought the App bundle will have it packaged in it right? Do I need to ? More than happy to do it.

I haven't called out status page explicitly in my assembly.info.. will try that.

The NETStandrard assembly is in the shared standard project...
In my app, this is the only page that's referring to t

[2019-05-27 14:23] npagare commented on #350
@LeoHere - is this package missing things from 1.5.1
I upgraded from 1.5.1 to 1.5.2 ; not sure if that may be the reason for my #351

[2019-05-29 07:10] aormsby commented on #347
Ah sorry, let me be more specific. The AutoConfig package is still not updated on nuget. It shows the 1.5.0-Beta4 release still.

![Screen Shot 2019-05-29 at 14 08 08](https://user-images.githubusercontent.com/1312251/58536648-631bb980-821b-11e9-8f72-86a8ea72e32a.png)

So instead I downloaded the newer version directly from the link above, and it's working great.

[2019-05-30 12:13] npagare commented on #351
Hi @LeoHere - any thoughts ? It still not working for me.
I have also build the player and deployed on both iOS simulator and on my android device.

BTW - XF version referred in that code is 3.2; is this the same player used for Grial v3 as well ? If so, will it be better if the Gorilla Player is compiled against at least 3.6 (4.0 is just out ) ?

Waiting ..

Thanks

[2019-06-06 02:33] LeoJHarris opened #352 "CollectionView in XAML throwing error"
Hi, I believe error occurring with CollectionView in that I cannot view CollectionView in XAML as the error being thrown is saying - XAML: the type initializer for 'Xamarin.Forms.ItemsView' threw an exception'

If I swap the only view in my page XAML from CollectionView to ListView the error goes away so I believe an issue with CollectionView

[2019-06-06 03:46] LeoJHarris commented on #352
Forgot to opt for CollectionView using below in MainActivity:

Forms.SetFlags("CollectionView_Experimental");

[2019-06-06 03:46] #352 closed, assigned to nobody

[2019-06-10 16:50] DamianSuess commented on #350
@LeoHere, Thank you for the heads up. Your response was most helpful

[2019-06-10 16:50] #350 closed, assigned to nobody

[2019-06-13 06:36] npagare commented on #351
@LeoHere , I am still waiting for your input..

[2019-06-13 17:47] LeoHere commented on #351
@IoTFier doing the `RegisterAssembly(typeof(System.Collections.Generic.List).Assembly)` will not work since it end up registering `mscorlib`. So gorilla will keep complaining. I will log this as a bug.

Workarounds:
1. stop referencing the netstandard from your XAML
2. using the old `knownAssemblies` property of the `Gorilla.json` file to enumerate **all** the assemblies referenced within your XAM

[2019-06-14 16:22] npagare commented on #351
Hi @LeoHere , It is not possible to define segmentCollection without referencing the type of objects it is going to have .
e.g. removing the namespace aliased - segmentCollection fails XAML compilation, as XAML processor doesn't know how infer List type.
    xmlns:segmentCollection="clr-namespace:System.Collections.Generic;assembly=netstandard"
    xmlns:sfButtons="clr-namespace:Syncfusion.XForms.

[2019-06-15 17:12] lnaie commented on #327
Having the same issue. Moving the global resources locally solves it but, well, it should be fixed.
Anyone knows why does it happen?

[2019-06-15 18:47] carlhoogstoel opened #353 "Cannot get past the missing data error"
Using 1.5.2 of the player and everything seems to work fine with the Gorilla server and Visual Studio 2019. The only issue is that I cannot get the DesignTimeData.json file to serve data to the viewer. I have tried virtualy everything bit I cannot find out why the data is not shown.

I am trying to get it to work with your MyPeople.xaml and the following json data to no avail:

"MyPeople.xaml": [

[2019-06-15 20:59] idubravac commented on #220
@LeoHere this should be explained better. I had the same issue. I lost 4 hours at least to figure this out. Or to be more precise I didn't - I found the answer here. I'll try to create a couple of explainer videos as well. Thx for answer.

[2019-06-16 13:00] #353 closed, assigned to nobody

[2019-06-18 11:12] rsuk commented on #327
Any update / timeline for an update on this one? I am also in the situation where it has killed dead my ability to use Gorilla in my latest project :(

[2019-06-19 15:39] ThomasJaeger opened #354 "Unable to compile MyCoolCompanyApp.sln, unable to restore NuGet packages!"
After installing the Gorilla Player, I simply want to compile the MyCoolCompanyApp.sln solution and it fails with a bunch of NuGet packages unable to restore. See Below.

Do you have an updated MyCoolCompanyApp.sln? My setup is Win 10 64, VS 2019 Community Preview Version 16.2.0 Preview 2.0.

Severity	Code	Description	Project	File	Line	Suppression State
Error		NuGet Package restore failed for proj

[2019-06-19 15:41] #354 closed, assigned to nobody

[2019-06-21 12:45] DeanWilliamMills commented on #196
I am getting the exact same error.

GrialLicense file is under root Android project
The GrialLicense is set to Embedded Resource

I am calling it like this:
`GrialKit.Init(this, "Platform.Droid.GrialLicense");`
where Platform is my project namespace.

Any other solutions?

[2019-06-21 15:38] LeoHere commented on #196
@DeanWilliamMills if you are working with Grial 3 please take a look at this [Troubleshooting Guide](http://docs.grialkit.com/troubleshooting.html#troubleshooting-license-issues). If you are in Grial 2 read this [Troubleshooting Guide](https://docs.grialkit.com/v2/#grial-uikit-overview-grial-first-run-troubleshooting-license-issues).

I'm closing this issue since it is a Grial UI Kit issue posted

[2019-06-21 15:38] #196 closed

[2019-06-21 21:40] LeoHere commented on #220
@idubravac you will need to register all the assemblies that are referenced in the XAML files you are previewing.  Please consider also any assembly used in views or resource dictionaries being referenced.

[2019-06-25 05:48] mrhemalatha commented on #282
Hi Team, Any update?

[2019-06-25 13:02] mrhemalatha commented on #351
Hi Team,

We have checked the reported issue with Syncfusion control in Gorilla player. It rendered only the empty view regarding this we have already logged query

https://github.com/UXDivers/Gorilla-Player-Support/issues/282

Actually we have used the IEnumerable typed property to populated the items. Gorilla player breaks the binding with those property due the usage of Reflection. Related code

[2019-06-29 08:41] aormsby opened #355 "'Clicked' event causes errors, fails to display XAML preview"
Every time I add a 'Clicked' event to my XAML, I receive an error stating that the method is not found. I can't view my updated Gorilla preview without removing the 'Clicked' event. This does not seem to be caused by other event properties. Should this data tag be ignored as Gorilla generates a preview?

![Screen Shot 2019-06-29 at 15 38 33](https://user-images.githubusercontent.com/1312251/603817

[2019-07-01 00:42] jadenrogers commented on #327
@lnaie @rsuk I also had this issue, clean and build didn't resolve it. Not sure where the issue lay, I ended up downgrading the server and SDK to 1.5. Tested all fine.
Upgraded server to 1.5.2 - Still ran fine
Upgraded SDK to 1.5.2 - Still ran fine

Something to try is maybe remove the app completely from the simulator rather than publishing over the top.

If you still have issues post your gorill

[2019-07-01 13:17] aormsby opened #356 "IDE Extension causes IDE crash - VS 2019 for Mac"
A reliable editor crash occurs in the latest VS 2019 for Mac update that makes Gorilla unusable for me at the moment. Basically, the editor crashes when I click 'Tools' menu dropdown. Repro steps follow, log file attached.

---

1) Open VS 2019 Community for Mac
2) See project selection window pop up
       ---> At this point I can open 'Tools' menu fine
3) Open a project, wait for everything to l

[2019-07-02 21:07] felipefrg commented on #356
Same problem here!!!

MacBook Pro (Mid 2012) Mojave 10.14.5
Visual Studio for Mac Community - Version 8.1.3 (build 19)

Mono Framework MDK
Runtime:
	Mono 5.18.1.28 (2018-08/223ea7ef92e) (64-bit)
	Package version: 518010028

Xamarin.Android
Version: 9.3.0.23 (Visual Studio Community)
Commit: HEAD/d0b48056f
Android SDK: /Users/felipe/Library/Developer/Xamarin/android-sdk-macosx
	Supported Android ve

[2019-07-03 09:18] mrhemalatha commented on #351
Hi Team,

Any suggestion to resolve this issue? Any update, please?

[2019-07-03 17:17] LeoHere commented on #356
@felipefrg @aormsby I was able to reproduce the issue. I will dig into it and let you know.

[2019-07-03 18:15] LeoHere commented on #356
UPDATE:
@aormsby @felipefrg with VS for Mac 8.1.4 (build 5) the problem disappears. However the follow me is broken. You will need to use the "Stick to this".

I will dig into the Follow me issue and let you know.

[2019-07-08 04:00] mrhemalatha commented on #351
Hi Team,

Is anyone looking on this? if it is, that will be more appreciated.

[2019-07-08 15:22] Edgaras91 opened #357 "Error occurred while setting Gorilla Target XAML"
Hi,
I know this has been posted earlier, but it's not getting any response.

I am getting below errors.
I have spent the whole day trying to get this to work, I believe this is the last obstacle.

Using Visual Studio 2019 Enterprise

![image](https://user-images.githubusercontent.com/32236075/60821787-1d4bfc80-a19c-11e9-966b-fd635062abc2.png)
![image](https://user-images.githubusercontent.com/3223

[2019-07-10 18:39] khadeeja-alif commented on #346
I am having the same issue in both iOS & Android devices. The device is connected. But my view is not loaded.

[2019-07-11 07:19] ziasix1nine commented on #346
Ok.. in that case you can try switching the xaml tabs in visual studio and it will work (That's how it worked for me). But make sure the gorilla is running behind. You can check the status of gorilla player by searching "Gorilla Player Status" in your visual studio

[2019-07-15 06:19] mrhemalatha commented on #351
Hi Team,

It is really strange about getting no reply from our query.  Is any solution?

[2019-07-19 12:57] UnreachableCode commented on #356
I can confirm that the bug @aormsby reported is affecting me on 8.1.5. Open the tools menu and the app crashes. Using your latest download from here @LeoHere https://drive.google.com/drive/u/1/folders/1ic4f_NBuvaGfenRtg-W3MIgYKDTh8qiW

[2019-07-19 13:31] EfrenEspanaLopez commented on #243
hey bud could you please activate my account I try to do register with another email but I never received the email for activation email efrenespanalopez@gmail.com

![Captura](https://user-images.githubusercontent.com/8697360/61538647-74a16680-a9ff-11e9-9598-4287740694d9.PNG)

[2019-07-22 01:15] chrisparkeronline opened #358 "Black screen iOS Emulator"
Hi,

The iOS emulator displays a black screen after a few seconds when Gorilla player can't find the data it is looking for from the SampleData.json file. Android renders controls in emulator just fine with empty data, but iOS emulator screen goes black.
![Screenshot 2019-07-21 20 15 24](https://user-images.githubusercontent.com/16803487/61600068-52bd0500-abf4-11e9-9dd5-0375bca29368.png)

[2019-07-22 05:47] thegeox commented on #299
Did you find the solution for this. I am facing the same problem.

[2019-07-22 06:24] salgiza commented on #299
@thegeox On my part, I finally gave up on using Gorilla Player. This was just one of several issues when trying to use it in a pre-existing project.

I'm waiting for [Hot Reload](https://devblogs.microsoft.com/xamarin/xaml-hot-reload/) to be released, to see if we have a bit more luck with that.

[2019-07-25 22:42] thegeox commented on #327
I used to had the StaticResource not found problem. Handled in two different ways. First referenced my Global Style xaml in the page I needed the style to show (just remove when no need them anymore). Second, if in my style a key wasn't found, I solved it changing the StaticResource for DynamicResource. It is just a temporally workaround. Waiting for Hot Reload to see I things get better.

[2019-07-26 18:46] mariuszdybala commented on #356
It doesn't work for me at all. I'm not even able to open "Tool" tab item - once I do this the IDE is crashed.
(Visual studio for Mac 8.2 build 1105)

[2019-07-30 22:16] Tyri0n commented on #358
Also getting the black screen. Page renders correctly for about 5 seconds before going black.

[2019-07-31 16:14] AldaneG opened #359 "Found assembly Xamarin.Forms.Core but versions are incompatible. Expected 2.0.0.0, existent 3.2.0.839982"
Hello there,

Would just like to ask if Gorilla Player is compatible with the latest version of GrialKitUI and Xamarin forms?

I tried to run a fresh project from GrialKit and the Gorilla player via the iPhone Simulator and it just stays at the "connected to server screen".

I checked the logs and say a couple of errors including: Found assembly Xamarin.Forms.Core but versions are incompatible. Ex

[2019-08-07 10:09] andreabalducci commented on #356
same here. I can run VS on Mac only unchecking the "Follow me" settings in tools menu, otherwise vs crashes when I open a solution.

Crash occurs when I try to show the current opened XAML in gorilla player.
Let me know if you need the crash logs.

=== Visual Studio Professional 2019 for Mac ===

Version 8.2.2 (build 21)
Installation UUID: adf70680-d129-410d-addc-d85c0461419c
	GTK+ 2.24.23 (Raleig

[2019-08-07 10:17] andreabalducci commented on #356
And vs instances keep running in background at restart

<img width="446" alt="image" src="https://user-images.githubusercontent.com/212729/62615265-3e277f00-b90d-11e9-9f65-a572d83c7ee7.png">

[2019-08-07 11:48] LeoHere commented on #356
@aormsby @andreabalducci @mariuszdybala @UnreachableCode @felipefrg
Please install [this](https://drive.google.com/drive/folders/1KhckKlgYgZz_cSaDJRxxNPiVFWJVYf4J) version of Gorilla from the dev branch. It should fix all issues in VS for Mac. Be sure to install the VS for Mac addin during the installation.

[2019-08-07 15:59] andreabalducci commented on #356
@LeoHere worked for me. thank you!

[2019-08-08 07:16] MuneeshKumarG commented on #351
Hi Team,

Any solution for this?

[2019-08-13 06:12] eranda1985 commented on #356
Yep. Works with VS Mac v8.2.2. Thank You @LeoHere !!.

[2019-08-18 10:03] bogdan-lopatkin opened #360 "VS2019 Can't see code previewer"
Hello everybody,
I have a problem with Gorilla, I see the gorilla picture in the right corner of my xaml file, Gorilla is connected, I can see the xaml path in the Gorilla player status but I don't see the preview.
Do I miss something?

![goriila2](https://user-images.githubusercontent.com/52372518/63223072-dac50900-c1b8-11e9-9e4b-cae8c86a8278.png)
![goriila3](https://user-images.githubusercontent

[2019-08-21 19:32] LeoHere commented on #360
@OverWoob the only missing thing piece there seems to be the previewer app. The actual previewing happens in an app hosting Gorilla SDK running in the simulator or real device.

Please see [this blog](https://devblogs.microsoft.com/xamarin/gorilla-player-a-tool-to-craft-beautiful-xaml-uis-for-xamarin-forms/) post for more information.

[2019-08-21 20:55] attrib75 opened #361 "Cannot find file error for iOS"
System.IO.FileNotFoundException: Could not find file "/Users/..../Library/Caches/Xamarin/mtbs/builds/....iOS/bce8e448d6683b6b27c8810f8a6f5018/obj/iPhoneSimulator/Gorilla/optimized/filenamehere.png"
File name: '/Users/..../Library/Caches/Xamarin/mtbs/builds/....iOS/bce8e448d6683b6b27c8810f8a6f5018/obj/iPhoneSimulator/Gorilla/optimized/filenamehere.png'

 at System.IO.FileStream..ctor (System.String

[2019-08-30 15:46] papiermache commented on #208
Aug 2019 - still nothing?

[2019-08-30 16:17] nguyenthanhliemfc commented on #208
@papiermache Yes, Nothing. I'm using Xamarin Forms HotReload

[2019-08-30 16:31] papiermache commented on #208
do you mean latest Visual Studio 16.3 (Preview) for Xam Forms? (as described here https://devblogs.microsoft.com/xamarin/public-preview-xaml-hot-reload-xamarin-forms/ )

Because i cannot get this to work for UWP - and it even says its only for Andr and iOS.

[2019-09-06 07:39] ankurpathak opened #362 "Gorilla Player Solution Is not Proper"
I opened Gorilla Player Solution 1.5.3 in Visual Studio 2019 to install it in my device.
But its giving error. It can't find NuGet Package for Gorilla Version 1.5.3.

[2019-09-06 07:46] ankurpathak commented on #344
Where is gorilla player latest apk. Neither I can build it from Player Solution

[2019-10-17 13:35] attrib75 opened #363 "Missing constructor exception on iOS Simulator"
Some views show this error.  Since I have no idea what is causing it, I cannot give steps to reproduce.  I can only post the XAML of the view that seems to cause it

![Capture](https://user-images.githubusercontent.com/1398909/67013691-1f85f700-f0b9-11e9-9386-0cbf4d8e97b1.PNG)

[2019-10-17 18:45] attrib75 commented on #359
I'm seeing the same thing, and Gorilla player is not working as it used to with the newer Visual Studio and Xamarin

[2019-10-17 18:48] attrib75 commented on #346
Its been working that way for a while.  For some reason it doesn't 'wake up' until you switch back and forth between xaml views for a while.

[2019-10-21 11:21] advoyagmur opened #364 "Setup Gorilla for shared project"
Is there a documentation about how to setup the Gorilla Player for shared projects?

I currently try to view the xaml files with a DesignTimeData.json on Gorilla, but it can not find the json file and I get the error that design-time data are missing.

My project exists of

- a core (shared) project containing the xaml files in a "Pages" folder
- an Android project and
- an iOS project

Cheers,
Ya

[2019-10-21 15:24] attrib75 commented on #363
Hello, Just checking in if there is a response to this, as I cannot preview most pages after upgrading xamarin.  I've also updated gorilla player with no resolve. thanks

[2019-10-22 14:10] taieb1919 opened #365 ""Number of parameters specified does not match the expected number.","ExceptionType":"System.Reflection.TargetParameterCountException""
i have test a simple content page with  Gorilla player 1.5.2
but i have this Exception message:

``

Error
`"Context":"XAML: Number of parameters specified does not match the expected number.","ExceptionMessage":"Number of parameters specified does not match the expected number.","ExceptionType":"System.Reflection.TargetParameterCountException","ExceptionStackTrace":"  at System.Reflection.MonoMet

[2019-10-23 17:41] truekxmexico commented on #365
i have the same problem...

[2019-10-26 06:43] Bohirjon commented on #365
Make sure the Gorilla server has the same version 1.5.2.

[2019-10-26 06:56] Bohirjon opened #366 "Upgrate the Nuget for 1.5.3"
Hey devs. first of all thanks for the such as great tool.
It used to work since i upgraded the gorilla server to 1.5.3 from 1.5.2
but didn't see nugets for 1.5.3, now I'm 1.5.2 for android but it's throwing this exception even in blank page.

Number of parameters specified does not match the expected number.  at System.Reflection.RuntimeMethodInfo.ConvertValues (System.Reflection.Binder binder, Sy

[2019-10-26 07:10] Bohirjon commented on #366
I downgraded the xamarin.forms back to 4.1.0.555618 and it's working, please support the newer versions  4.3.0.908675

[2019-10-26 18:22] taieb1919 commented on #365
Have the same gorilla server

[2019-10-26 18:28] Bohirjon commented on #365
I got it working back downgrading the nuget xamarin.forms. I had created a issue for that [issue 366](https://github.com/UXDivers/Gorilla-Player-Support/issues/366)

[2019-10-26 20:02] taieb1919 commented on #365
After DownGrading Xamarin.forms, I was able to work with gorilla player .
thank you @Bohirjon .

[2019-10-26 20:02] #365 closed, assigned to nobody

[2019-10-26 22:59] truekxmexico commented on #366
still doesn't work for me... I downgraded the Nuget Xamarin.forms to 4.1.0.555618 and I have the gorila version 1.5.2

[2019-10-28 22:20] ForteUnited commented on #359
I'm seeing the exact same thing in my logs and then in my player I get very generic "Error loading XAML." "Number of parameters specified does not match the expected number."

I have even tested this on a new blank content page where the only element is a label that says "Welcome to Xamarin.Forms" and I get the same error.

Could really use some help here.

[2019-10-30 01:51] LeoHere commented on #366
@Bohirjon @truekxmexico the 'Number of parameters specified does not match the expected number.' error is fixed in Gorilla SDK Nuget 1.5.4.

[2019-10-30 01:54] LeoHere commented on #362
@ankurpathak please try again. Nuget 1.5.3 was not up at that time.

Closing the issue now. Feel free to open it again if you need to.

[2019-10-30 01:54] #362 closed, assigned to nobody

[2019-10-30 01:54] LeoHere commented on #360
Closing the issue now. Feel free to open it again if you need to.

[2019-10-30 01:54] #360 closed, assigned to nobody

[2019-10-30 01:57] LeoHere commented on #359
@ForteUnited the 'Number of parameters specified does not match the expected number.' error is fixed in Gorilla SDK Nuget 1.5.4.

@AldaneG yes, Gorilla is compatible with the latest version of Grial UI Kit and the latest version of Xamarin Forms.

[2019-10-30 02:02] ForteUnited commented on #359
Sweet! I'll take a look. Thanks!

[2019-10-30 02:14] LeoHere commented on #356
Closing the issue now. Feel free to open it again if you need to.

[2019-10-30 02:14] #356 closed, assigned to nobody

[2019-10-30 10:17] Bohirjon commented on #366
@LeoHere ohh cool, i see it's released today thank you.

[2019-10-30 10:18] #366 closed, assigned to nobody

[2019-10-30 18:37] LeoHere commented on #365
@taieb1919 @Bohirjon please migrate to 1.5.4 to fix the issue with the latest version of Xamarin Forms. You can download the installers from [here](https://github.com/UXDivers/Gorilla-Player-Support/releases/tag/v1.5.4.0).

[2019-10-31 00:39] ForteUnited commented on #359
Now I get an error that says

"Error occurred while loading C:\<blahblahblah>\AboutPage.xaml (error message: Cannot read property 'tagReplacement' of null)."

[2019-10-31 00:45] ForteUnited commented on #359
Here is more from my gorillaHost.log

{"level":"error","message":"[Server] Xaml processing error Summary:\"Error loading SignUpPage.xaml (Target XAML).\"; Message:\"Error occurred while loading C:\\<BLAHBLAHBLAHREMOVED>\\SignUpPage.xaml (error message: Cannot read property 'tagReplacement' of null).\" processingIssue=true, issueType=error, position=null, area=Xaml, scope=Req, name=TypeError, messa

[2019-10-31 14:54] LeoHere commented on #359
@ForteUnited. It seems to be a bug introduced in 1.5.4.0.  Do you have a `Gorilla.json` file in yours.net Standard project? if not can you try to add it at the root of your project with build action `None`. Add an empty JSON object as its content (i.e `{}`).

Let me know if that works as a workaround to the problem.

[2019-10-31 17:40] pzavala26 opened #367 "Cannot read property 'tagReplacement' of null"
I can't get the new gorilla player 1.5.4 works, i get error to display page preview

Error occurred while loading C:\Test\ExamplePage.xaml (error message: Cannot read property 'tagReplacement' of null)

I try this:

'default'
UXDivers.GorillaPlayer.SDK - 1.5.4
Xamarin.Android.Support.* - 27.0.2
Xamarin.Forms - 3.2.0.839982

UXDivers.GorillaPlayer.SDK - 1.5.4
Xamarin.Android.Support.* - 28.0.0.1
Xa

[2019-11-01 00:54] ForteUnited commented on #359
Seems to be working now! Great tool!

[2019-11-02 16:13] hassan10000 commented on #366
not working for mac   nugut Install-Package UXDivers.GorillaPlayer.SDK.AutoConfig -Version 1.5.0-Beta4
and gorilla  player 1.5.4.0 . hope you fix it ASAP we really need it thanks

[2019-11-02 16:14] hassan10000 commented on #366
its show on ios . simulator .  when error happen  v15.0.0 .  even after I updated everything

[2019-11-04 16:46] edimaulana commented on #367
i have same problem

[2019-11-11 10:03] darthza commented on #367
same problem

[2019-11-11 14:02] ssrodnas opened #368 "Release build failed - The "LinkAssemblies" task failed unexpectedly (due to Linking - Xamarin Android)"
### Release build failed - The "LinkAssemblies" task failed unexpectedly (due to Linking - Xamarin Android)

After updating the Gorilla Player SDK from 1.5.2 to 1.5.4, the project cannot be built in Release mode when the Linking is turned on (e.g. "Sdk Assemblies Only", or "Sdk and User assemblies")

If Linking for then Android project is set to "None" then it is working fine.

### To reproduce:

[2019-11-13 10:55] LeoHere commented on #367
@pzavala26 @edimaulana @darthza this issue should be fixed in 1.5.5. Please download it from [here](https://drive.google.com/drive/folders/1QcLKRl3xwwfa5HLCHQwLQs1aSn3iNEfl?usp=sharing) and try it out.

[2019-11-18 21:09] cerberus666t commented on #367
@LeoHere Thanks it fixed the problem :)

[2019-11-21 20:22] LeoHere commented on #367
@cerberus666t great! Thanks for letting me know.

v1.5.5.0 is available for download.

Closing the issue. Feel free to open it again if you need to.

[2019-11-21 20:22] #367 closed, assigned to nobody

[2019-12-06 09:48] dalton5 opened #369 "XAML: Number of parameters specified does not match"
Hi,

I try to use Gorilla.

The xaml code of the page is as below:

                   <ContentPage xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             xmlns:grial="clr-namespace:UXDivers.Grial;assembly=UXDivers.Grial"
             xmlns:base="clr-namespace:AWT.Dev.Mobile.ViewModels.Base;assembly=AWT.Dev.Mobile"

[2019-12-06 13:10] rubgithub commented on #365
Jesus! each error has one version different to fix!

![image](https://user-images.githubusercontent.com/3399476/70325309-13402f80-1808-11ea-992e-5229d8e1f1a2.png)

[2019-12-06 13:13] rubgithub commented on #367
Jesus! each error has one version different to fix!

1.5.3, 1.5.4, 1.5.5

[2019-12-06 13:38] rubgithub commented on #369
After 3 updates, cannot render a single blank page
Giving up.
![image](https://user-images.githubusercontent.com/3399476/70326864-eee65200-180b-11ea-9214-c9a6f1a4c6a7.png)

[2019-12-06 16:38] dalton5 commented on #369
You have the same issue?

[2019-12-06 18:02] LeoHere commented on #369
@dalton5 @rubgithub you need to upgrade the Gorilla SDK NuGet package to the latest version 1.5.5.

[2019-12-07 18:35] dalton5 opened #370 "NullReferencre Exception"
Hi,

I really try to use Gorilla but I still have some issues.

I upgrade to 1.5.5.0 on the desktop server and in the mobile.

I have this error when I download the grial kit solution from the admin with no changes and show the dashboardcarouselpage.

![image](https://user-images.githubusercontent.com/8339768/70379065-880a8b00-1928-11ea-953d-cb4f69a37821.png)

The logs are below:

Thread started:

[2019-12-10 23:47] #340 closed

[2019-12-10 23:47] #339 closed

[2019-12-10 23:47] #337 closed

[2019-12-11 22:03] yasirbashir opened #371 "Incompatible server error"
When I try to launch the app with selection 'Gorilla|PhoneSimulator|iPhone 11 ios 13.1' I get the following error. Can you please let me know how to fix the issue? Thanks.

Error occurred

Incompatible server version 1.5.3.0 (Gorilla on Yasirs-MBP.attlocal.net)

[2019-12-11 22:40] jpbrocca commented on #371
Hi @yasirbashir,

make sure you have the same version on Gorilla Player (desktop/server) and Gorilla SDK packages in your app.
[Latest Gorilla Player is 1.5.5.0.](https://github.com/UXDivers/Gorilla-Player-Support/releases/tag/v1.5.5.0)

Regards,
JP

[2019-12-12 21:48] yasirbashir commented on #371
Hi @jpbrocca,

I upgraded the SDK my desktop to the newest version and was able to connect to the player. But after the upgrade, the option"Stick to this XAML Mode" is no longer available in Visual Studio for mac. Can you tell how to get that option back?

Thanks
Yasir

[2019-12-13 07:42] nexussays commented on #368
I'm also encountering this problem. Logs:
[code]

[2019-12-22 05:59] #203 closed

[2019-12-24 02:57] wislon commented on #369
I actually had to go and add the `1.5.5` nuget package, and also update the windows app (that sits in the windows system tray), but then it all started working properly, so thanks!

It had been working fine all along with just the `.AutoConfig` nuget package which is still a beta (`1.5.0-Beta4`)

[2020-01-15 14:02] No1e opened #372 "Support for Telerik"
Hi UxDivers Team,

We are having some problems with previewing pages that contains controls from Telerik (e.g. ListView), but it does not work.

Is this known issue?

Best regards,
Nole

[2020-01-17 12:11] #141 closed

[2020-01-19 12:55] Sprbb opened #373 "Installation of Gorilla on w10 / vs2019"
Win10 VS2019 Ran the Gorrilla setup. Gorilla running in taskbar. When I open xaml in VS2019 no preview.

How to proceed ?

[2020-02-12 14:21] maverix72 opened #374 "Login not work in new Gorilla player account"
Hi,

After downloading  Gorilla player Windows Version 1.5.5.0 and after creating a new verified account, starting software and after entering the user and password, authentication fails. My account is: [removed email]
![Screenshot_27](https://user-images.githubusercontent.com/20167963/74343408-4aecca00-4dab-11ea-9edc-e3a021208488.png)

[2020-02-12 16:28] srdosramos commented on #374
Hi I have the same issue, cant log in to Gorilla Player,

After looking on the logs found that the certificated for the endpoint is expired.

here are the logs;

{"level":"info","message":"[Analytics] Setting user 3297bf50-4db0-11ea-8708-e17b87afd717 (generated=true)","timestamp":"2020-02-12T16:25:48.228Z"}
{"level":"error","message":"Unable invoke checkForUpdate service. Error \"certificate has e

[2020-02-12 17:13] jpbrocca commented on #374
Hello @maverix72 and @maverix72,
sorry about this issue.

It should be fixed now.
Could you give it a try and let me know?

Regards and thanks
JP

[2020-02-13 08:49] maverix72 commented on #374
Hello JPBrocca,
now Gorilla Player start and login it’s Ok,
but when I try to reopen application the maessage “Could not initialize Gorilla. Port 9014 in Use” appiar and application not start.

I start Gorilla in Win 10 Pro

Thanks
Filippo

Inviato da Posta<https://go.microsoft.com/fwlink/?LinkId=550986> per Windows 10

Da: jpbrocca<mailto:notifications@github.com>
Inviato: mercoledì 12 febbraio 2

[2020-02-19 18:53] arappl-merc commented on #331
I too encountered this annoying issue, which caused me increased time trying to find the issue.  In my case the line position (106:54) were in reference to the exception within the control in the xaml. In your case maybe a control that contains or inherits Label, maybe your CSControl:FAEntry.  It is not hard to  recreate this issue and would be great if it was fixed.

[2020-03-14 18:19] BicycleMark opened #375 "installation received dialog after installation"
![image](https://user-images.githubusercontent.com/11739690/76687929-63444480-65f6-11ea-8fcd-6166ff0bcc74.png)

[2020-03-14 18:24] BicycleMark opened #376 "In the Age of Xamarin Hot Reload?"
Is Gorilla player still useful in the age of Xaml Hot Reload

Mark Wardell

[2020-03-29 03:15] #221 closed

[2020-05-07 18:41] Enrico86 commented on #366
I installed gorilla player 1.5.5.0 and i have the same problem

[2020-06-02 12:25] louisoftokyo commented on #376
Hot Reload works maybe 10% of the time for me.

[2020-06-02 15:58] sergioUseche commented on #325
Por fa me puede colaborar como hago para agregar ese archivo para vb2019, tiene algun procedimiento.

[2020-06-22 23:29] pzavala26 opened #377 "Crash with checkbox"
Gorilla crash when i used a checkbox control on xaml.

gorilla player 1.5.5.0
xamarin.forms 4.6.0.847

------ EDIT

[code]

[Gorilla][3][04:43:49.055 p 06/24/20][Error] Error setting main page.. Exception has been thrown by the target of an invocation.  at System.Reflection.MonoCMethod.InternalInvoke (System.Object obj, System.Object[] parameters, System.Boolean wrapExceptions) [0x0001a] in <d4a23

[2020-06-23 04:23] broteam168 commented on #377
Can you give more error information(can be ouput) about this?I can be many case error.You should upload some code :)

[2020-06-26 19:34] pzavala26 commented on #377
Edited

[2020-07-07 17:00] CarlosGTI001 opened #378 "Problem Compiling Gorilla Player APK"
As the gorilla player application for android is not in its latest version on GooglePlay, I need to compile the one that the PC Software gives me when I install it, the Player.Droid project, but I have many problems when compiling it, some will have the APK already compiled for ARM v8 x64? or to tell me how to solve these problems, I am a newbie in Xamarin.
![image](https://user-images.githubuserc

[2020-07-08 23:48] pzavala26 commented on #377
@broteam168 help?

[2020-07-31 12:13] henda79 opened #379 "Issue using TargetNullValue in Bindings"
Recently I've came across this issue where Gorilla Player would show an error on several of my XAML files even though they work render fine on the device.

The error is:

**Cannot read property 'ISSUE_XAML_AREA' of undefined**

I spent hours trying to work out this cryptic message and finally found that it was down to the **TargetNullValue** on a binding.

With this removed the XAML previews fine,

[2020-08-10 15:56] ItsMeArthur opened #380 "Any plans for Xamarin.Forms for desktop support?"
Any plans on implementing support to platforms such as Xamarin.Forms for MacOS, UWP or WPF?

[2020-08-14 17:47] pzavala26 commented on #378
This my cs android project file
`<?xml version="1.0" encoding="utf-8"?>
<Project DefaultTargets="Build" ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Import Project="..\packages\Xamarin.Build.Download.0.10.0\build\Xamarin.Build.Download.props" Condition="Exists('..\packages\Xamarin.Build.Download.0.10.0\build\Xamarin.Build.Download.props')" />
  <Import Project

[2020-11-25 11:43] NKR212424 opened #381 "BouncyCastleCrypto.dll cannot generate certificates"
Hello,

I get the following issue with BouncyCastleCrypto.dll and throws error whenever it try to generate certificate in my software.
Is it an existing issue? kindly help

System.Security.Cryptography.CryptographicException
  HResult=0x80090005
  Message=Bad Data.

  Source=mscorlib
  StackTrace:
   at System.Security.Cryptography.CryptographicException.ThrowCryptographicException(Int32 hr)
   at

[2021-02-07 14:40] fariduca commented on #62
I've got the same problem. I'm using version 1.5.5.0. Any solution ?

[2021-02-08 11:09] fariduca commented on #374
Hello @jpbrocca! Can you please help? I'm facing the same issue. I can't log in.

Here are logs:

{"level":"error","message":"Error occurred while reading the registry key \\Software\\Wow6432Node\\Microsoft\\VisualStudio\\15.0, message: QUERY command exited with code 1:\n\nERROR: The system was unable to find the specified registry key or value., stack: Error\n    at mkErrorMsg (C:\\Users\\faridun

[2021-10-21 07:46] kakarottobcn commented on #374
Hi

I am facing exactly the same issue as fariduca with Gorilla Player 1.5.5 and win10. Any suggestions?

Thanks

[2021-11-11 14:08] khambley commented on #232
@biiconsulting You saved my life and me pulling out all my hair! Developers except the rest of us to be mind readers! Thank you Thank you!

[2021-11-11 14:50] khambley opened #382 "Cannot get your Gorilla app working on VS for Mac"
After trying to configure your app to work for almost 3 hours this morning, I've come to the conclusion that your Gorilla app SUCKS!!!! This is supposed to make my life easier?? Really? Dream on if I'm going to purchase any products from you. No support and your documentation is not accurate and sloppy.

[2021-11-19 15:49] abhidotnet opened #383 "First time user - getting an issue trying to connect."
I have been able to configure the player along with **VS 2019**.
I am having an issue when the player is running. See screen shot below.

![image](https://user-images.githubusercontent.com/164457/142651170-7621d5ef-8e43-4bc6-82f8-e6d210294fc4.png)

I have made changes to the code in the MainActivity.cs to launch the app in the player. Is there anything else I need to do?

[2022-04-25 21:51] Hocza-Jozsef-Szabolcs commented on #221
+1

[2022-06-22 15:12] pzavala26 commented on #377
It's been over a year without a response, the support is dead? @jpbrocca @gitter-badger